.dropdown {
  position: relative;
  display: flex;
  height: inherit;
}

.dropdown-menu {
  max-width: var(--sgds-dimension-320);
}

.toggler-container {
  flex: 1;
  pointer-events: none;
}

.toggler-container ::slotted(*) {
  pointer-events: auto;
}