.dropdown-item {
    background-color: var(--sgds-bg-transparent);
    padding: var(--sgds-padding-sm) var(--sgds-padding-lg);
    clear: both;
    display: flex;
    gap: var(--sgds-gap-sm);
    align-items: center;
    color: var(--sgds-color-default);
    text-align: inherit;
    white-space: nowrap;
    cursor: pointer;
  }

.dropdown-item:not(.nav-link):hover {
  background-color: var(--sgds-bg-translucent-subtle);
}

.dropdown-item:not(.nav-link):focus,
.dropdown-item:not(.nav-link):focus-visible {
  outline: 0;
  box-shadow: inset var(--sgds-form-box-shadow-focus);
  background-color: var(--sgds-bg-translucent-subtle);
}

.dropdown-item:not(.nav-link).active {
  color: var(--sgds-primary-color-default);
  background-color: var(--sgds-bg-translucent-subtle);
  text-decoration: none;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  opacity: var(--sgds-opacity-50);
  pointer-events: none;
}
::slotted(*){
  display: flex;
  gap: var(--sgds-gap-sm);
  text-decoration: none !important; 
  color: inherit !important;
}

.nav-link {
  gap: var(--sgds-gap-xs);
  padding: var(--sgds-padding-sm) var(--sgds-mainnav-padding-x);
}

.nav-link:hover {
  color: var(--sgds-primary-color-default);
}

.nav-link:focus,
.nav-link:focus-visible {
  outline: 0;
}

.nav-link:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus) inset;
  color: var(--sgds-primary-color-default);
}

.nav-link.active {
  color: var(--sgds-primary-color-default);
  background-color: var(--sgds-bg-translucent-subtle);
}