.dropdown-item {
    --sgds-dropdown-item-active-color: #fff;
    --sgds-dropdown-item-active-bg: var(--sgds-info);
    --sgds-dropdown-item-disabled-color: var(--sgds-gray-500);
    background-color: var(--sgds-default-bg-transparent);
    padding: var(--sgds-padding-xs) var(--sgds-padding-lg);
    clear: both;
    display: block;
    color: var(--sgds-default-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
  }
  .dropdown-item:hover {
    background-color: var(--sgds-default-bg-translucent-subtle);
  }
  
  .dropdown-item:focus,
  .dropdown-item:focus-visible {
    outline: 0;
    box-shadow: inset var(--sgds-form-box-shadow-focus);
    background-color: var(--sgds-default-bg-translucent-subtle);
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--sgds-primary-bg-translucent);
    color: var(--sgds-primary-color);
    text-decoration: none;
  }
  
  .dropdown-item.disabled,
  .dropdown-item:disabled {
    opacity: var(--sgds-opacity-50);
    pointer-events: none;
  }
  
  .dropdown-item-label {
    display: flex;
    align-items: center;
    gap: var(--sgds-gap-sm);
    padding: var(--sgds-padding-2-xs) 0;
  }

  .active-icon {
    margin-left: auto;
  }