.stepper {
  display: flex;
  flex-wrap: wrap;
}

.stepper.vertical {
  flex-direction: column;
}

.stepper.horizontal .stepper-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}

.stepper.vertical .stepper-item-container {
  position: relative;
  width: fit-content;
}

.stepper .stepper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sgds-gap-sm);
}

.stepper.vertical .stepper-item {
  flex-direction: row;
  align-items: flex-start;
}

.stepper .stepper-item:focus,
.stepper .stepper-item:focus-visible {
  outline: 0;
}

.stepper .stepper-item.is-clickable:focus,
.stepper .stepper-item.is-clickable:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus);
}

.stepper.horizontal .stepper-item-container:not(:first-child) .stepper-item:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  bottom: 0;
  left: calc(-50% + 16px);
  width: calc(100% - var(--sgds-dimension-32));
  height: var(--sgds-dimension-2);
  background: var(--sgds-default-bg-translucent);
}

.stepper.vertical .stepper-item-container:not(:last-child) .stepper-item:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 32px;
  bottom: 0;
  left: 15px;
  width: var(--sgds-dimension-2);
  height: calc(100% - var(--sgds-dimension-32));
  background: var(--sgds-default-bg-translucent);
}

.stepper.horizontal .stepper-item-container .stepper-item.is-active:before,
.stepper.horizontal .stepper-item-container .stepper-item.is-completed:before,
.stepper.vertical .stepper-item-container .stepper-item.is-completed:after,
.stepper.vertical .stepper-item-container .stepper-item.is-completed:after {
  background: var(--sgds-primary-bg);
}

.stepper .stepper-item.is-clickable {
  cursor: pointer;
}

.stepper .stepper-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sgds-default-bg-translucent);
  border: var(--sgds-border-width-2) solid var(--sgds-default-border-color-transparent);
  border-radius: 50%;
  z-index: 1;
  color: var(--sgds-default-color);
  height: var(--sgds-dimension-32);
  width: var(--sgds-dimension-32);
}

.stepper:not(.vertical) .stepper-detail {
  text-align: center;
  max-width: var(--sgds-dimension-128);
}

.stepper.vertical .stepper-detail {
  text-align: left;
  padding: var(--sgds-padding-2-xs) 0 var(--sgds-padding-xl);
}

.stepper .stepper-item:not(.is-active):not(.is-completed) .stepper-detail {
  color: var(--sgds-default-color);
}

.stepper .stepper-item.is-clickable:hover .stepper-marker {
  background-color: var(--sgds-primary-bg-emphasis);
  border-color: var(--sgds-default-border-color-transparent);
  color: var(--sgds-default-color-on-dark);
}

.stepper .stepper-item.is-clickable .stepper-detail {
  color: var(--sgds-primary-color-emphasis);
}

.stepper .stepper-item.is-active .stepper-marker {
  background-color: var(--sgds-primary-bg);
  color:  var(--sgds-default-color-on-dark);
}

.stepper .stepper-item.is-completed .stepper-marker {
  background-color: var(--sgds-default-bg);
  border: var(--sgds-border-width-2) solid var(--sgds-primary-border-color);
  color: var(--sgds-primary-color);
}