:host {
  --stepper-theme-color: var(--sgds-primary);
  --stepper-theme-hover-color: var(--sgds-primary-800);
  --stepper-default-color: var(--sgds-gray-400);
}

.sgds.stepper {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--sgds-body-font-size);
}
.sgds.stepper .stepper-item {
  flex-basis: 0;
  flex-grow: 1;
  margin-top: 0;
  position: relative;
}
.sgds.stepper .stepper-item:not(:first-child) {
  flex-basis: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}
.sgds.stepper .stepper-item:not(:first-child):before {
  content: " ";
  position: absolute;
}
.sgds.stepper .stepper-item.is-clickable {
  cursor: pointer;
}
.sgds.stepper .stepper-item.is-clickable:hover .stepper-marker {
  background-color: var(--stepper-theme-hover-color);
  border-color: var(--stepper-theme-hover-color);
}
.sgds.stepper .stepper-item.is-clickable:hover .stepper-detail,
.sgds.stepper .stepper-item.is-clickable:hover .stepper-detail > * {
  color: var(--stepper-theme-hover-color);
  transition: all 0.5s ease;
}
.sgds.stepper .stepper-item:before {
  background: linear-gradient(270deg, var(--stepper-default-color) 50%, var(--stepper-theme-color) 0);
  background-position: 100% 100%;
  background-size: 200% 100%;
}

.sgds.stepper .stepper-item.is-active:before {
  background-position: 0 100%;
}
.sgds.stepper .stepper-item.is-active .stepper-marker {
  background-color: var(--sgds-white);
  border-color: var(--stepper-theme-color);
  color:  var(--stepper-theme-color);
  font-weight: 700;
}
.sgds.stepper .stepper-item.is-completed:before {
  background-position: 0 100%;
}
.sgds.stepper .stepper-item.is-completed .stepper-marker {
  background-color: var(--stepper-theme-color);
  border-color: var(--stepper-theme-color);
  color: var(--sgds-white);
  font-weight: 700;
}
.sgds.stepper .stepper-item > .stepper-marker {
  align-items: center;
  background: var(--stepper-default-color);
  border: 0.25rem solid var(--sgds-white);
  border-radius: 50%;
  color: var(--sgds-white);
  display: flex;
  font-weight: 400;
  justify-content: center;
  z-index: 1;
  height: 2rem;
  width: 2rem;
  left: calc(50% - 1rem);
  position: absolute;
}

.sgds.stepper .stepper-item:not(:first-child):before {
  bottom: 0;
  height: 0.25rem;
  left: -50%;
  top: 1rem;
  width: 100%;
}

.sgds.stepper .stepper-item .stepper-detail {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  font-weight: 700;
  text-align: center;
}