ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
svg {
  vertical-align: middle;
}
.pagination {
  display: inline-flex;
  gap: var(--sgds-gap-2-xs);
  list-style: none;
  padding-left: 0;
}
.page-link {
  width: var(--sgds-dimension-48);
  height: var(--sgds-dimension-48);
  background-color: var(--sgds-bg-transparent);
  border: 1px solid var(--sgds-border-color-default);
  border-radius: var(--sgds-border-radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}
.page-link:not(.ellipsis):hover,
.page-link:focus {
  color: var(--sgds-primary-color-default);
  background-color: var(--sgds-primary-bg-translucent);
}

.page-link:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}
.page-item > .page-link:not(.ellipsis) {
  cursor: pointer;
}

.page-item.active .page-link {
  color: var(--sgds-color-fixed-light);
  border-color: var(--sgds-info);
  background-color: var(--sgds-primary-bg-default);
}
.page-item.disabled .page-link {
  opacity: var(--sgds-opacity-50);
}
.ellipsis-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: var(--sgds-opacity-50);
}
.pagination-sm .page-link {
  font-size: var(--sgds-font-size-1);
  width: var(--sgds-dimension-40);
  height: var(--sgds-dimension-40);
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.pagination-description {
  display: flex;
  align-items: center;
}
.pagination-sm .pagination-description {
  font-size: var(--sgds-font-size-1);
}
