/* ::slotted(*) {
    --sgds-primary-bg: blue;
    --sgds-brand-100: #F5B6DA;
    --sgds-brand-200: #F186C0;
    --sgds-brand-300: #EE4FA6;
    --sgds-brand-400: #EE0290;
    --sgds-brand-500: #EF0078;
    --sgds-brand-600: #DD0074;
    --sgds-brand-700: #C6006E;
    --sgds-brand-800: #B0006A;
    --sgds-brand-900: #880061;
} */

:host {
    background: var(--sgds-default-bg);
    border: 1px solid red;
    padding: 10px;
}