:host {
  --sgds-radio-margin-bottom: var(--sgds-radio-group-gap, var(--sgds-spacer-2));
  --sgds-radio-inline-margin-right: var(--sgds-spacer-4);
  --sgds-radio-input-bg: var(--sgds-body-bg);
  --sgds-radio-input-focus-box-shadow-color: var(--sgds-info-300);
  --sgds-radio-input-focus-box-shadow: 0px 0px 0px var(--sgds-focus-width)
    var(--sgds-radio-input-focus-box-shadow-color);
  --sgds-radio-input-border-color: var(--sgds-border-color);
}
:host([checked]) {
  --sgds-radio-input-border-color: var(--sgds-radio-input-bg);
  --sgds-radio-input-bg: var(--sgds-info-filled);
}
:host([checked]:disabled) {
  --sgds-radio-input-border-color: var(--sgds-border-color);
}
:host([invalid]:focus) {
  --sgds-radio-input-focus-box-shadow-color: var(--sgds-danger-300);
}
:host(:focus-visible) {
  outline: none;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form-check {
  display: block;
  margin-bottom: var(--sgds-radio-margin-bottom);
  min-height: 2rem;
  padding-left: 1.625em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.625em;
}

.form-check-input {
  appearance: none;
  background-color: var(--sgds-radio-input-bg);
  background-image: var(--sgds-radio-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: var(--sgds-border-width) solid var(--sgds-border-color);
  flex-shrink: 0;
  height: 1.125em;
  margin-top: 0.4375em;
  vertical-align: top;
  width: 1.125em;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
}
.form-check-input:focus {
  border-color: var(--sgds-radio-input-border-color);
  box-shadow: var(--sgds-radio-input-focus-box-shadow);
  outline: 0;
}
.form-check-input:checked,
.form-check-input[checked] {
  background-color: var(--sgds-radio-input-bg);
  border-color: var(--sgds-radio-input-border-color);
}

.form-check-input:checked[type="radio"],
.form-check-input[checked][type="radio"] {
  --sgds-radio-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23fff'/%3E%3C/svg%3E");
}

.form-check-input:disabled {
  filter: none;
  opacity: var(--sgds-disabled-opacity);
  border-color: var(--sgds-border-color);
  pointer-events: none;
}
.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  cursor: default;
  opacity: var(--sgds-disabled-opacity);
}
.form-check-input.is-invalid,
.form-check-input:invalid {
  border-color: var(--sgds-form-invalid-border-color);
}
.form-check-input.is-invalid:checked,
.form-check-input:invalid:checked {
  background-color: var(--sgds-form-invalid-color);
}
.form-check-input.is-invalid:focus,
.form-check-input:invalid:focus {
  box-shadow: var(--sgds-radio-input-focus-box-shadow);
}
.form-check-input.is-invalid ~ .form-check-label,
.form-check-input:invalid ~ .form-check-label {
  color: var(--sgds-form-invalid-color);
}
.form-check-inline {
  display: inline-block;
  margin-right: var(--sgds-radio-inline-margin-right);
  margin-bottom: 0;
}

:host([last-of-type]) .form-check {
  margin-bottom: 0;
}
/* .form-switch .form-check-input {
  --sgds-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E");
  background-image: var(--sgds-form-switch-bg);
  background-position: 0;
  border-radius: 2em;
  margin-left: -2.5em;
  transition: background-position 0.15s ease-in-out;
  width: 2em;
}
@media (prefers-reduced-motion: reduce) {
  .form-switch .form-check-input {
    transition: none;
  }
}
.form-switch .form-check-input:focus {
  --sgds-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2390b5ff'/%3E%3C/svg%3E");
}
.form-switch .form-check-input:checked {
  --sgds-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
  background-position: 100%;
}
.form-switch.form-check-reverse {
  padding-left: 0;
  padding-right: 2.5em;
}
.form-switch.form-check-reverse .form-check-input {
  margin-left: 0;
  margin-right: -2.5em;
} */

/* [data-bs-theme="dark"] .form-switch .form-check-input:not(:checked):not(:focus) {
  --sgds-form-switch-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(255, 255, 255, 0.25)'/%3E%3C/svg%3E");
}
[data-bs-theme="dark"] .form-check-input:checked {
  background-color: #538cff;
  border-color: #538cff;
} */
/* .sgds.input-group .input-group-text .form-check-input {
  margin-top: 0;
} */
/* .form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: var(--sgds-form-valid-border-color);
} */
/* .form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: var(--sgds-form-valid-color);
} */
/* .form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--sgds-success-rgb), 0.25);
} */
/* .form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: var(--sgds-form-valid-color);
} */
