
:host([checked]) {
  --sgds-form-bg: var(--sgds-info-filled);
  --sgds-form-border-color: var(--sgds-form-bg);
}

:host(:focus-visible) {
  outline: none;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form-check {
  display: flex;
  margin-bottom: var(--sgds-spacer-2);
  min-height: 2rem;
  flex-direction: row;
}

.form-check .form-check-input {
  margin-right: var(--sgds-form-input-margin-right);
}

.form-check-input {
  appearance: none;
  background-color: var(--sgds-form-bg);
  background-image: var(--sgds-radio-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: var(--sgds-form-border-width) solid var(--sgds-border-color);
  flex-shrink: 0;
  height: 1.125em;
  margin-top: 0.4375em;
  vertical-align: top;
  width: 1.125em;
}
.form-check-input[type="radio"] {
  border-radius: 50%;
}
.form-check-input:focus {
  border-color: var(--sgds-form-border-color);
  box-shadow: var(--sgds-form-focus-box-shadow);
  outline: 0;
}
.form-check-input:checked,
.form-check-input[checked] {
  background-color: var(--sgds-form-bg);
  border-color: var(--sgds-form-border-color);
}

.form-check-input:checked[type="radio"],
.form-check-input[checked][type="radio"] {
  --sgds-radio-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23fff'/%3E%3C/svg%3E");
}

.form-check-input:disabled {
  filter: none;
  opacity: var(--sgds-disabled-opacity);
  border-color: var(--sgds-form-border-color);
  cursor: not-allowed;
}

.form-check-input.is-invalid,
.form-check-input:invalid {
  border-color: var(--sgds-form-invalid-color);
}
.form-check-input.is-invalid:checked,
.form-check-input:invalid:checked {
  background-color: var(--sgds-form-invalid-color);
}
.form-check-input.is-invalid:focus,
.form-check-input:invalid:focus {
  box-shadow: var(--sgds-form-focus-invalid-box-shadow);
}
.form-check-input.is-invalid ~ .form-check-label,
.form-check-input:invalid ~ .form-check-label {
  color: var(--sgds-form-invalid-color);
}
.form-check-inline {
  display: inline-block;
  margin-right: var(--sgds-form-inline-margin-right);
  margin-bottom: 0;
}

:host([last-of-type]) .form-check {
  margin-bottom: 0;
}
