:host {
  --input-border-radius: var(--sgds-form-border-radius-md);
}

.form-control-container {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-md);
}

.form-control-container.disabled {
  opacity: var(--sgds-opacity-50);
}

.form-control-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sgds-form-gap-md);
  background-color: var(--sgds-form-surface-default);
  border: var(--sgds-form-border-width-default) solid var(--sgds-border-color-default);
  border-radius: var(--input-border-radius);
  padding: 0px var(--sgds-form-padding-x);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: var(--sgds-dimension-48);
  min-width: var(--sgds-dimension-256);
  width: -webkit-fill-available;
  width: -moz-available;
}

.form-control {
  display: block;
  appearance: none;
  background-clip: padding-box;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  flex-grow: 1;
  color: var(--sgds-form-color-default);
  font-size: var(--sgds-font-size-2);
  line-height: var(--sgds-line-height-body);
}

.form-control-group>.form-control:focus {
  z-index: 3;
}

@media (prefers-reduced-motion: reduce) {
  .form-control-group {
    transition: none;
  }
}

.form-control-group.readonly {
  background-color: var(--sgds-form-surface-raised);
}

.form-control-group:not(.disabled):not(.is-invalid):not(.readonly):hover {
  border: var(--sgds-form-border-width-thick) solid var(--sgds-border-color-emphasis);
}

.form-control-group:not(.disabled):not(.is-invalid):focus,
.form-control-group:not(.disabled):not(.is-invalid):focus-within {
  border: var(--sgds-form-border-width-thick) solid var(--sgds-border-color-emphasis);
  box-shadow: var(--sgds-form-box-shadow-focus);
  outline: 0;
}

.form-control-group.is-invalid {
  border: var(--sgds-form-border-width-thick) solid var(--sgds-form-danger-border-color-default);
}

.form-control-group.disabled {
  background-color: var(--sgds-form-surface-muted);
}

:host(.quantity-toggle) input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

:host(.quantity-toggle) input {
  text-align: center;
}

.form-control-prefix,
.form-control-suffix {
  color: var(--sgds-form-color-subtle);
  display: flex;
  gap: var(--sgds-gap-xs);
  flex-wrap: wrap;
}

.form-control-group.quantity-toggle {
  padding: 0;
}
sgds-icon[role="button"] {
  cursor: pointer;
}
sgds-icon[role="button"]:focus,  
sgds-icon[role="button"]:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus);
  outline: none;
}

.form-control-row {
  display: flex;
  align-items: center;
  gap: var(--sgds-gap-sm);
}