:host {
  
  --sgds-badge-padding-x: var(--sgds-padding-2-xs);
  --sgds-badge-label-padding-x: var(--sgds-padding-3-xs);
  --sgds-badge-label-padding-x-right: var(--sgds-padding-3-xs);
  --sgds-badge-height: var(--sgds-dimension-24);
  --sgds-badge-min-width: var(--sgds-dimension-24);
  --sgds-badge-color: var(--sgds-white);
  --sgds-badge-border-radius: var(--sgds-border-radius-sm);
  --sgds-badge-border-width: var(--sgds-border-width-1);
  --sgds-badge-icon-gap: var(--sgds-spacer-2);
  --sgds-badge-border-color: var(--sgds-default-color-transparent);
}

:host([status="info"]) {
  --sgds-badge-bg: var(--sgds-primary-bg);
  --sgds-badge-color: var(--sgds-default-color-on-light);
  
}

:host([status="info"][variant = "outlined"]) {
  --sgds-badge-bg: var(--sgds-primary-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
  --sgds-badge-border-color: var(--sgds-primary-border-color-subtle);
}

:host([status="success"]) {
  --sgds-badge-bg: var(--sgds-success-bg);
  --sgds-badge-color: var(--sgds-default-color-on-light);
}

:host([status="success"][variant = "outlined"]) {
  --sgds-badge-bg: var(--sgds-success-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
  --sgds-badge-border-color: var(--sgds-success-border-color-subtle);
}

:host([status="danger"]) {
  --sgds-badge-bg: var(--sgds-danger-bg);
  --sgds-badge-color: var(--sgds-default-color-on-light);
}

:host([status="danger"][variant = "outlined"]) {
  --sgds-badge-bg: var(--sgds-danger-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
  --sgds-badge-border-color: var(--sgds-danger-border-color-subtle);
}

:host([status="warning"]) {
  --sgds-badge-bg: var(--sgds-warning-bg);
  --sgds-badge-color: var(--sgds-default-color-on-light);
}

:host([status="warning"][variant = "outlined"]) {
  --sgds-badge-bg: var(--sgds-danger-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
  --sgds-badge-border-color: var(--sgds-danger-border-color-subtle);
}

:host([status="neutral"]) {
  --sgds-badge-bg: var(--sgds-neutral-bg);
  --sgds-badge-color: var(--sgds-default-color-on-light);
}

:host([status="neutral"][variant = "outlined"]) {
  --sgds-badge-bg: var(--sgds-neutral-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
  --sgds-badge-border-color: var(--sgds-neutral-border-color-subtle);
}


:host([dismissable]) {
  --sgds-badge-label-padding-x-right: var(--sgds-padding-xs);
}





.badge {
  background-color: var(--sgds-badge-bg);
  border: var(--sgds-badge-border-width) solid var(--sgds-badge-border-color);
  border-radius: var(--sgds-badge-border-radius);
  line-height: var(--sgds-badge-height); 
  padding: 0 var(--sgds-badge-padding-x);
  min-width: var(--sgds-badge-min-width); 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px var(--sgds-badge-padding-x);
}

.badge-label {
  padding-left: var(--sgds-badge-label-padding-x);
  padding-right: var(--sgds-badge-label-padding-x-right);
}




/* [data-bs-theme="dark"] .badge.text-bg-primary {
  --sgds-primary-rgb: var(--sgds-primary-500-rgb);
}
[data-bs-theme="dark"] .badge.text-bg-secondary {
  --sgds-secondary-rgb: var(--sgds-secondary-500-rgb);
}
[data-bs-theme="dark"] .badge.text-bg-success {
  --sgds-success-rgb: var(--sgds-success-500-rgb);
}
[data-bs-theme="dark"] .badge.text-bg-info {
  --sgds-info-rgb: var(--sgds-info-500-rgb);
}
[data-bs-theme="dark"] .badge.text-bg-warning {
  --sgds-warning-rgb: var(--sgds-warning-500-rgb);
}
[data-bs-theme="dark"] .badge.text-bg-danger {
  --sgds-danger-rgb: var(--sgds-danger-500-rgb);
}
[data-bs-theme="dark"] .badge.text-bg-light {
  color: var(--sgds-gray-600) !important;
}
[data-bs-theme="dark"] .badge.text-bg-dark {
  --sgds-dark-rgb: var(--sgds-gray-500-rgb);
}
[data-bs-theme="dark"] .badge-outline.text-bg-primary {
  --sgds-primary-rgb: var(--sgds-primary-800-rgb);
  border: 1px solid var(--sgds-primary-500);
  color: var(--sgds-primary-200) !important;
}
[data-bs-theme="dark"] .badge-outline.text-bg-secondary {
  --sgds-secondary-rgb: var(--sgds-secondary-800-rgb);
  border: 1px solid var(--sgds-secondary-500);
  color: var(--sgds-secondary-200) !important;
}
[data-bs-theme="dark"] .badge-outline.text-bg-success {
  --sgds-success-rgb: var(--sgds-success-800-rgb);
  border: 1px solid var(--sgds-success-500);
  color: var(--sgds-success-200) !important;
}
[data-bs-theme="dark"] .badge-outline.text-bg-info {
  --sgds-info-rgb: var(--sgds-info-800-rgb);
  border: 1px solid var(--sgds-info-500);
  color: var(--sgds-info-200) !important;
}
[data-bs-theme="dark"] .badge-outline.text-bg-warning {
  --sgds-warning-rgb: var(--sgds-warning-800-rgb);
  border: 1px solid var(--sgds-warning-500);
  color: var(--sgds-warning-200) !important;
}
[data-bs-theme="dark"] .badge-outline.text-bg-danger {
  --sgds-danger-rgb: var(--sgds-danger-800-rgb);
  border: 1px solid var(--sgds-danger-500);
  color: var(--sgds-danger-200) !important;
}
[data-bs-theme="dark"] .badge-outline.text-bg-light {
  color: var(--sgds-gray-600) !important;
}
[data-bs-theme="dark"] .badge-outline.text-bg-dark {
  --sgds-dark-rgb: var(--sgds-gray-800-rgb);
  border: 1px solid var(--sgds-gray-500);
  color: var(--sgds-gray-200) !important;
} */
