:host([variant="primary"]) .badge {
  --badge-bg: var(--sgds-primary-filled);
}
:host([variant="secondary"]) .badge {
  --badge-bg: var(--sgds-secondary-filled);
}
:host([variant="warning"]) .badge{
  --badge-bg: var(--sgds-warning-filled);
  --badge-color: var(--sgds-dark);
}
:host([variant="danger"]) .badge{
  --badge-bg: var(--sgds-danger-filled);
}
:host([variant="success"]) .badge{
  --badge-bg: var(--sgds-success-filled);
}
:host([variant="info"]) .badge{
  --badge-bg: var(--sgds-info-filled);
}
:host([variant="light"]) .badge{
  --badge-bg: var(--sgds-light-filled);
  --badge-color: var(--sgds-gray-600);
}
:host([variant="dark"]) .badge{
  --badge-bg: var(--sgds-dark-filled);
  
}
:host([variant="primary"][outlined]) .badge{
  --badge-color: var(--sgds-primary-text-emphasis);
  --badge-bg: var(--sgds-primary-bg-subtle);
  --badge-border-color: var(--sgds-primary-border-subtle);
}
:host([variant="secondary"][outlined]) .badge{
  --badge-color: var(--sgds-secondary-text-emphasis);
  --badge-bg: var(--sgds-secondary-bg-subtle);
  --badge-border-color: var(--sgds-secondary-border-subtle);
}
:host([variant="warning"][outlined]) .badge{
  --badge-color: var(--sgds-warning-text-emphasis);
  --badge-bg: var(--sgds-warning-bg-subtle);
  --badge-border-color: var(--sgds-warning-border-subtle);
}
:host([variant="danger"][outlined]) .badge{
  --badge-color: var(--sgds-danger-text-emphasis);
  --badge-bg: var(--sgds-danger-bg-subtle);
  --badge-border-color: var(--sgds-danger-border-subtle);
}
:host([variant="success"][outlined]) .badge{
  --badge-color: var(--sgds-success-text-emphasis);
  --badge-bg: var(--sgds-success-bg-subtle);
  --badge-border-color: var(--sgds-success-border-subtle);
}
:host([variant="info"][outlined]) .badge{
  --badge-color: var(--sgds-info-text-emphasis);
  --badge-bg: var(--sgds-info-bg-subtle);
  --badge-border-color: var(--sgds-info-border-subtle);
}
:host([variant="light"][outlined]) .badge{
  --badge-color: var(--sgds-light-text-emphasis);
  --badge-bg: var(--sgds-light-bg-subtle);
  --badge-border-color: var(--sgds-light-border-subtle);
}
:host([variant="dark"][outlined]) .badge{
  --badge-color: var(--sgds-dark-text-emphasis);
  --badge-bg: var(--sgds-dark-bg-subtle);
  --badge-border-color: var(--sgds-dark-border-subtle);
}

.badge {
  --badge-padding-x: 0.571em;
  --badge-padding-y: 0.285em;
  --badge-font-size: min(0.875em, 2rem);
  --badge-font-weight: 700;
  --badge-border-radius: var(--sgds-border-radius);
  --badge-border-width: var(--sgds-border-width);
  --badge-line-height: 1.145;
  --badge-icon-gap: var(--sgds-spacer-2);
  --badge-color: var(--sgds-white);
  --badge-bg: ;
  --badge-border-color: transparent;
  background-color: var(--badge-bg);
  border: var(--badge-border-width) solid var(--badge-border-color);
  border-radius: var(--badge-border-radius);
  color: var(--badge-color);
  display: inline-flex;
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  line-height: var(--badge-line-height);
  padding: var(--badge-padding-y) var(--badge-padding-x);
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  gap: var(--badge-icon-gap);
}

.rounded-pill {
  border-radius: var(--sgds-border-radius-pill);
}
