:host {
  --sgds-badge-bg: var(--sgds-primary-bg);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
  --sgds-badge-border-radius: var(--sgds-border-radius-sm);
  display: inline-flex;
}

:host([variant="success"]) {
  --sgds-badge-bg: var(--sgds-success-bg);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
}

:host([variant="danger"]) {
  --sgds-badge-bg: var(--sgds-danger-bg);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
}

:host([variant="warning"]) {
  --sgds-badge-bg: var(--sgds-warning-bg);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
}

:host([variant="neutral"]) {
  --sgds-badge-bg: var(--sgds-neutral-bg);
  --sgds-badge-color: var(--sgds-default-color-on-dark);
}

:host([variant="info"][outlined]) {
  --sgds-badge-bg: var(--sgds-primary-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-light);
  --sgds-badge-border-color: var(--sgds-primary-border-color-subtle);
}

:host([variant="success"][outlined]) {
  --sgds-badge-bg: var(--sgds-success-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-light);
  --sgds-badge-border-color: var(--sgds-success-border-color-subtle);
}

:host([variant="danger"][outlined]) {
  --sgds-badge-bg: var(--sgds-danger-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-light);
  --sgds-badge-border-color: var(--sgds-danger-border-color-subtle);
}

:host([variant="warning"][outlined]) {
  --sgds-badge-bg: var(--sgds-danger-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-light);
  --sgds-badge-border-color: var(--sgds-danger-border-color-subtle);
}

:host([variant="neutral"][outlined]) {
  --sgds-badge-bg: var(--sgds-neutral-bg-subtle);
  --sgds-badge-color: var(--sgds-default-color-on-light);
  --sgds-badge-border-color: var(--sgds-neutral-border-color-subtle);
}

.badge {
  background-color: var(--sgds-badge-bg);
  color: var(--sgds-badge-color);
  border: var(--sgds-border-width-1) solid var(--sgds-default-border-color-transparent);
  border-radius: var(--sgds-badge-border-radius);
  font-size: var(--sgds-font-size-1);
  padding: 0 var(--sgds-padding-2-xs);
  height: var(--sgds-dimension-24);
  min-width: var(---sgds-dimension-24);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px var(--sgds-padding-2-xs);
}

.badge.outlined {
  border: var(--sgds-border-width-1) solid var(--sgds-badge-border-color);
}

.badge-label {
  padding: 0px var(--sgds-padding-2-xs);
}

.badge-dismissible {
  padding-right: 0;
}

.badge-dimissible sgds-close-button {
  --sgds-close-btn-border-radius: var(--sgds-badge-border-radius);
}

slot[name=leadingIcon]::slotted(*){
  color: var(--sgds-badge-color);
} 

slot::slotted(*){
font-weight: normal;
font-size: 14px;
}
