node_modules
lib
test-outdir
storybook-static
react
src/react
custom-elements.json
stories/components
stats.html
*storybook.log
.env
.github/.dp-cli
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json