:root {
  --sgds-primary: #5a42c0;
  --sgds-secondary: #006472;
  --sgds-success: #006b00;
  --sgds-info: #0049dc;
  --sgds-warning: #864b00;
  --sgds-danger: #b90000;
  --sgds-light: #eaeaea;
  --sgds-dark: #252525;
  --sgds-primary-100: #eae8ff;
  --sgds-primary-200: #d1ceff;
  --sgds-primary-300: #b1acff;
  --sgds-primary-400: #9288f0;
  --sgds-primary-500: #7562e2;
  --sgds-primary-600: #5a42c0;
  --sgds-primary-700: #42209f;
  --sgds-primary-800: #2d007e;
  --sgds-primary-900: #1c005e;
  --sgds-secondary-100: #c8f1f9;
  --sgds-secondary-200: #abd9e2;
  --sgds-secondary-300: #85bbc5;
  --sgds-secondary-400: #5b9da9;
  --sgds-secondary-500: #228190;
  --sgds-secondary-600: #006472;
  --sgds-secondary-700: #004755;
  --sgds-secondary-800: #002c3a;
  --sgds-secondary-900: #001321;
  --sgds-success-100: #c2f5bf;
  --sgds-success-200: #a5dfa1;
  --sgds-success-300: #7ec17a;
  --sgds-success-400: #53a450;
  --sgds-success-500: #088912;
  --sgds-success-600: #006b00;
  --sgds-success-700: #004d00;
  --sgds-success-800: #003100;
  --sgds-success-900: #001600;
  --sgds-info-100: #c5f0ff;
  --sgds-info-200: #a7d6ff;
  --sgds-info-300: #7fb5ff;
  --sgds-info-400: #5592ff;
  --sgds-info-500: #216bff;
  --sgds-info-600: #0049dc;
  --sgds-info-700: #0022b9;
  --sgds-info-800: #000097;
  --sgds-info-900: #130075;
  --sgds-warning-100: #ffe6c6;
  --sgds-warning-200: #f3cda8;
  --sgds-warning-300: #d7ab81;
  --sgds-warning-400: #bc8a57;
  --sgds-warning-500: #a5681f;
  --sgds-warning-600: #864b00;
  --sgds-warning-700: #672f00;
  --sgds-warning-800: #491200;
  --sgds-warning-900: #2d0000;
  --sgds-danger-100: #ffdac8;
  --sgds-danger-200: #ffbdaa;
  --sgds-danger-300: #ff9782;
  --sgds-danger-400: #f06e57;
  --sgds-danger-500: #dd361c;
  --sgds-danger-600: #b90000;
  --sgds-danger-700: #950000;
  --sgds-danger-800: #720000;
  --sgds-danger-900: #4f0000;

  --sgds-black: #000;
  --sgds-white: #fff;
  --sgds-gray: #595959;
  --sgds-gray-dark: #252525;
  --sgds-gray-100: #eaeaea;
  --sgds-gray-200: #d2d2d2;
  --sgds-gray-300: #b2b2b2;
  --sgds-gray-400: #939393;
  --sgds-gray-500: #757575;
  --sgds-gray-600: #595959;
  --sgds-gray-700: #3e3e3e;
  --sgds-gray-800: #252525;
  --sgds-gray-900: #0e0e0e;

  --sgds-primary-filled: var(--sgds-primary);
  --sgds-secondary-filled: var(--sgds-secondary);
  --sgds-success-filled: var(---sgds-success);
  --sgds-info-filled: var(--sgds-info);
  --sgds-warning-filled: var(--sgds-warning);
  --sgds-danger-filled: var(--sgds-danger);
  --sgds-light-filled: var(--sgds-light);
  --sgds-dark-filled: var(--sgds-dark);
  --sgds-primary-text-emphasis: var(--sgds-primary);
  --sgds-secondary-text-emphasis: var(--sgds-secondary);
  --sgds-success-text-emphasis: var(---sgds-success);
  --sgds-info-text-emphasis: var(--sgds-info);
  --sgds-warning-text-emphasis: var(--sgds-warning);
  --sgds-danger-text-emphasis: var(--sgds-danger);
  --sgds-light-text-emphasis: var(--sgds-dark);
  --sgds-dark-text-emphasis: var(--sgds-white);
  --sgds-primary-bg-subtle: var(--sgds-primary-100);
  --sgds-secondary-bg-subtle: var(--sgds-secondary-100);
  --sgds-success-bg-subtle: var(--sgds-success-100);
  --sgds-info-bg-subtle: var(--sgds-info-100);
  --sgds-warning-bg-subtle: var(--sgds-warning-100);
  --sgds-danger-bg-subtle: var(--sgds-danger-100);
  --sgds-light-bg-subtle: var(--sgds-gray-100);
  --sgds-dark-bg-subtle: var(--sgds-gray-800);
  --sgds-primary-border-subtle: var(--sgds-primary-400);
  --sgds-secondary-border-subtle: var(--sgds-secondary-400);
  --sgds-success-border-subtle: var(--sgds-success-400);
  --sgds-info-border-subtle: var(--sgds-info-400);
  --sgds-warning-border-subtle: var(--sgds-warning-400);
  --sgds-danger-border-subtle: var(--sgds-danger-400);
  --sgds-light-border-subtle: var(--sgds-gray-400);
  --sgds-dark-border-subtle: var(--sgds-gray-400);
  --sgds-font-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Noto Sans", "Liberation Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sgds-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sgds-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
  --sgds-body-font-family: var(--sgds-font-sans-serif);
  --sgds-body-font-size: 1rem;
  --sgds-body-font-weight: 400;
  --sgds-body-line-height: 2;
  --sgds-body-color: var(--sgds-dark);
  --sgds-body-color-light: var(--sgds-gray-700);
  --sgds-body-color-lighter: var(--sgds-gray-600);
  --sgds-body-bg: var(--sgds-white);
  /* --sgds-emphasis-color: #000;
  --sgds-secondary-color: rgba(37, 37, 37, 0.75);
  --sgds-secondary-bg: #d2d2d2;
  --sgds-tertiary-color: rgba(37, 37, 37, 0.5);
  --sgds-tertiary-bg: #eaeaea; */
  --sgds-heading-color: ;
  --sgds-link: var(--sgds-info);
  --sgds-link-decoration: underline;
  --sgds-link-hover-color: var(--sgds-info-700);
  --sgds-code-color: #d63384;
  --sgds-highlight-color: #252525;
  --sgds-highlight-bg: #ffe6c6;
  --sgds-border-width: 1px;
  --sgds-border-style: solid;
  --sgds-border-color: #939393;
  --sgds-border-color-translucent: rgba(0, 0, 0, 0.175);
  --sgds-border-radius: 0.3125rem;
  --sgds-border-radius-sm: 0.2rem;
  --sgds-border-radius-lg: 0.3rem;
  --sgds-border-radius-xl: 1rem;
  --sgds-border-radius-xxl: 2rem;
  --sgds-border-radius-2xl: var(--sgds-border-radius-xxl);
  --sgds-border-radius-pill: 50rem;
  --sgds-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --sgds-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --sgds-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --sgds-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --sgds-focus-ring-width: 0.25rem;
  --sgds-focus-ring-opacity: 0.25;
  --sgds-focus-ring-color: rgba(90, 66, 192, 0.25);
  --sgds-form-valid-color: var(--sgds-success);
  --sgds-form-valid-border-color: var(--sgds-success);
  --sgds-form-invalid-color: var(--sgds-danger);
  --sgds-form-invalid-border-color: var(--sgds-danger);

  --sgds-focus-width: 0.13rem;
  --sgds-disabled-color: var(--sgds-gray-400);
  --sgds-disabled-opacity: 0.5;
  --sgds-disabled-bg: var(--sgds-gray-200);
  --sgds-input-btn-padding-x: 1rem;
  --sgds-input-btn-padding-y: 0.4375rem;
}
/* [data-bs-theme="dark"] {
  --sgds-body-color: #d2d2d2;
  --sgds-body-color-rgb: 210, 210, 210;
  --sgds-body-bg: #0e0e0e;
  --sgds-body-bg-rgb: 14, 14, 14;
  --sgds-emphasis-color: #fff;
  --sgds-emphasis-color-rgb: 255, 255, 255;
  --sgds-secondary-color: hsla(0, 0%, 82%, 0.75);
  --sgds-secondary-color-rgb: 210, 210, 210;
  --sgds-secondary-bg: #252525;
  --sgds-secondary-bg-rgb: 37, 37, 37;
  --sgds-tertiary-color: hsla(0, 0%, 82%, 0.5);
  --sgds-tertiary-color-rgb: 210, 210, 210;
  --sgds-tertiary-bg: #1a1a1a;
  --sgds-tertiary-bg-rgb: 26, 26, 26;
  --sgds-primary-text-emphasis: #d1ceff;
  --sgds-secondary-text-emphasis: #abd9e2;
  --sgds-success-text-emphasis: #a5dfa1;
  --sgds-info-text-emphasis: #a7d6ff;
  --sgds-warning-text-emphasis: #f3cda8;
  --sgds-danger-text-emphasis: #ffbdaa;
  --sgds-light-text-emphasis: #252525;
  --sgds-dark-text-emphasis: #fff;
  --sgds-primary-bg-subtle: #2d007e;
  --sgds-secondary-bg-subtle: #002c3a;
  --sgds-success-bg-subtle: #003100;
  --sgds-info-bg-subtle: #000097;
  --sgds-warning-bg-subtle: #491200;
  --sgds-danger-bg-subtle: #720000;
  --sgds-light-bg-subtle: #939393;
  --sgds-dark-bg-subtle: #252525;
  --sgds-primary-border-subtle: #7562e2;
  --sgds-secondary-border-subtle: #228190;
  --sgds-success-border-subtle: #088912;
  --sgds-info-border-subtle: #216bff;
  --sgds-warning-border-subtle: #a5681f;
  --sgds-danger-border-subtle: #dd361c;
  --sgds-light-border-subtle: #757575;
  --sgds-dark-border-subtle: #757575;
  --sgds-heading-color: inherit;
  --sgds-link: #5592ff;
  --sgds-link-hover-color: #7fb5ff;
  --sgds-link-rgb: 85, 146, 255;
  --sgds-link-hover-color-rgb: 127, 181, 255;
  --sgds-code-color: #e685b5;
  --sgds-highlight-color: #d2d2d2;
  --sgds-highlight-bg: #491200;
  --sgds-border-color: #757575;
  --sgds-border-color-translucent: hsla(0, 0%, 100%, 0.15);
  --sgds-form-valid-color: #7ec17a;
  --sgds-form-valid-border-color: #7ec17a;
  --sgds-form-invalid-color: #ff9782;
  --sgds-form-invalid-border-color: #ff9782;
} */

/* [data-bs-theme="dark"] {
  --sgds-primary: #9288f0;
  --sgds-secondary: #5b9da9;
  --sgds-success: #53a450;
  --sgds-info: #5592ff;
  --sgds-warning: #bc8a57;
  --sgds-danger: #f06e57;
  --sgds-light: #939393;
  --sgds-dark: #252525;
  --sgds-primary-filled: #7562e2;
  --sgds-secondary-filled: #228190;
  --sgds-success-filled: #088912;
  --sgds-info-filled: #216bff;
  --sgds-warning-filled: #a5681f;
  --sgds-danger-filled: #dd361c;
  --sgds-light-filled: #939393;
  --sgds-dark-filled: #252525;
  color-scheme: dark;
} */
/* body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--sgds-body-bg);
  color: var(--sgds-body-color);
  font-family: var(--sgds-body-font-family);
  font-size: var(--sgds-body-font-size);
  font-weight: var(--sgds-body-font-weight);
  line-height: var(--sgds-body-line-height);
  margin: 0;
  text-align: var(--sgds-body-text-align);
} */
