:root,
[data-bs-theme="light"] {
  --sgds-blue: #0950df;
  --sgds-indigo: #6610f2;
  --sgds-purple: #5942db;
  --sgds-pink: #d63384;
  --sgds-red: #b6220d;
  --sgds-orange: #fd7e14;
  --sgds-yellow: #88500d;
  --sgds-green: #066e0e;
  --sgds-teal: #20c997;
  --sgds-cyan: #0a6679;
  --sgds-black: #000;
  --sgds-white: #fff;
  --sgds-gray: #5d5d5d;
  --sgds-gray-dark: #252525;
  --sgds-gray-100: #f7f7f7;
  --sgds-gray-200: #d6d6d6;
  --sgds-gray-300: #b1b1b1;
  --sgds-gray-400: #909090;
  --sgds-gray-500: #757575;
  --sgds-gray-600: #5d5d5d;
  --sgds-gray-700: #3f3f3f;
  --sgds-gray-800: #252525;
  --sgds-gray-900: #111;
  --sgds-primary: #5942db;
  --sgds-secondary: #0a6679;
  --sgds-success: #066e0e;
  --sgds-info: #0950df;
  --sgds-warning: #88500d;
  --sgds-danger: #b6220d;
  --sgds-light: #b1b1b1;
  --sgds-dark: #252525;
  --sgds-primary-rgb: 89, 66, 219;
  --sgds-secondary-rgb: 10, 102, 121;
  --sgds-success-rgb: 6, 110, 14;
  --sgds-info-rgb: 9, 80, 223;
  --sgds-warning-rgb: 136, 80, 13;
  --sgds-danger-rgb: 182, 34, 13;
  --sgds-light-rgb: 177, 177, 177;
  --sgds-dark-rgb: 37, 37, 37;
  --sgds-primary-text-emphasis: #5942db;
  --sgds-secondary-text-emphasis: #0a6679;
  --sgds-success-text-emphasis: #066e0e;
  --sgds-info-text-emphasis: #0950df;
  --sgds-warning-text-emphasis: #88500d;
  --sgds-danger-text-emphasis: #b6220d;
  --sgds-light-text-emphasis: #111;
  --sgds-dark-text-emphasis: #111;
  --sgds-primary-bg-subtle: #f8f7fd;
  --sgds-secondary-bg-subtle: #edfbfb;
  --sgds-success-bg-subtle: #effaf0;
  --sgds-info-bg-subtle: #f4f7ff;
  --sgds-warning-bg-subtle: #faf7f3;
  --sgds-danger-bg-subtle: #fff5f2;
  --sgds-light-bg-subtle: #f7f7f7;
  --sgds-dark-bg-subtle: #b1b1b1;
  --sgds-primary-border-subtle: #5942db;
  --sgds-secondary-border-subtle: #0a6679;
  --sgds-success-border-subtle: #066e0e;
  --sgds-info-border-subtle: #0950df;
  --sgds-warning-border-subtle: #88500d;
  --sgds-danger-border-subtle: #b6220d;
  --sgds-light-border-subtle: #909090;
  --sgds-dark-border-subtle: #111;
  --sgds-white-rgb: 255, 255, 255;
  --sgds-black-rgb: 0, 0, 0;
  --sgds-font-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sgds-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sgds-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
  --sgds-body-font-family: var(--sgds-font-sans-serif);
  --sgds-body-font-size: 1rem;
  --sgds-body-font-weight: 400;
  --sgds-body-line-height: 2;
  --sgds-body-color: #252525;
  --sgds-body-color-rgb: 37, 37, 37;
  --sgds-body-bg: #fff;
  --sgds-body-bg-rgb: 255, 255, 255;
  --sgds-emphasis-color: #000;
  --sgds-emphasis-color-rgb: 0, 0, 0;
  --sgds-secondary-color: rgba(37, 37, 37, 0.75);
  --sgds-secondary-color-rgb: 37, 37, 37;
  --sgds-secondary-bg: #d6d6d6;
  --sgds-secondary-bg-rgb: 214, 214, 214;
  --sgds-tertiary-color: rgba(37, 37, 37, 0.5);
  --sgds-tertiary-color-rgb: 37, 37, 37;
  --sgds-tertiary-bg: #f7f7f7;
  --sgds-tertiary-bg-rgb: 247, 247, 247;
  --sgds-heading-color: ;
  --sgds-link-color: #0950df;
  --sgds-link-color-rgb: 9, 80, 223;
  --sgds-link-decoration: underline;
  --sgds-link-hover-color: #0740b2;
  --sgds-link-hover-color-rgb: 7, 64, 178;
  --sgds-code-color: #d63384;
  --sgds-highlight-color: #252525;
  --sgds-highlight-bg: #faf7f3;
  --sgds-border-width: 1px;
  --sgds-border-style: solid;
  --sgds-border-color: #909090;
  --sgds-border-color-translucent: rgba(0, 0, 0, 0.175);
  --sgds-border-radius: 0.3125rem;
  --sgds-border-radius-sm: 0.2rem;
  --sgds-border-radius-lg: 0.3rem;
  --sgds-border-radius-xl: 1rem;
  --sgds-border-radius-xxl: 2rem;
  --sgds-border-radius-2xl: var(--sgds-border-radius-xxl);
  --sgds-border-radius-pill: 50rem;
  --sgds-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --sgds-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --sgds-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --sgds-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --sgds-focus-ring-width: 0.25rem;
  --sgds-focus-ring-opacity: 0.25;
  --sgds-focus-ring-color: rgba(89, 66, 219, 0.25);
  --sgds-form-valid-color: #066e0e;
  --sgds-form-valid-border-color: #066e0e;
  --sgds-form-invalid-color: #b6220d;
  --sgds-form-invalid-border-color: #b6220d;
}
[data-bs-theme="dark"] {
  --sgds-body-color: #dbdbdb;
  --sgds-body-color-rgb: 219, 219, 219;
  --sgds-body-bg: #0c0c0c;
  --sgds-body-bg-rgb: 12, 12, 12;
  --sgds-emphasis-color: #fff;
  --sgds-emphasis-color-rgb: 255, 255, 255;
  --sgds-secondary-color: hsla(0, 0%, 86%, 0.75);
  --sgds-secondary-color-rgb: 219, 219, 219;
  --sgds-secondary-bg: #2a2a2a;
  --sgds-secondary-bg-rgb: 42, 42, 42;
  --sgds-tertiary-color: hsla(0, 0%, 86%, 0.5);
  --sgds-tertiary-color-rgb: 219, 219, 219;
  --sgds-tertiary-bg: #1b1b1b;
  --sgds-tertiary-bg-rgb: 27, 27, 27;
  --sgds-primary-text-emphasis: #b8aef0;
  --sgds-secondary-text-emphasis: #65c5ca;
  --sgds-success-text-emphasis: #5ecd67;
  --sgds-info-text-emphasis: #93b6ff;
  --sgds-warning-text-emphasis: #d1b18b;
  --sgds-danger-text-emphasis: #fd9d85;
  --sgds-light-text-emphasis: #f2f2f2;
  --sgds-dark-text-emphasis: #b6b6b6;
  --sgds-primary-bg-subtle: #0c091d;
  --sgds-secondary-bg-subtle: #010e10;
  --sgds-success-bg-subtle: #010e02;
  --sgds-info-bg-subtle: #010b1e;
  --sgds-warning-bg-subtle: #110a02;
  --sgds-danger-bg-subtle: #190502;
  --sgds-light-bg-subtle: #dbdbdb;
  --sgds-dark-bg-subtle: #2a2a2a;
  --sgds-primary-border-subtle: #b8aef0;
  --sgds-secondary-border-subtle: #65c5ca;
  --sgds-success-border-subtle: #5ecd67;
  --sgds-info-border-subtle: #93b6ff;
  --sgds-warning-border-subtle: #d1b18b;
  --sgds-danger-border-subtle: #fd9d85;
  --sgds-light-border-subtle: #b6b6b6;
  --sgds-dark-border-subtle: #2a2a2a;
  --sgds-heading-color: inherit;
  --sgds-link-color: #528bff;
  --sgds-link-hover-color: #93b6ff;
  --sgds-link-color-rgb: 82, 139, 255;
  --sgds-link-hover-color-rgb: 147, 182, 255;
  --sgds-code-color: #e685b5;
  --sgds-highlight-color: #dbdbdb;
  --sgds-highlight-bg: #3c2406;
  --sgds-border-color: #8f8f8f;
  --sgds-border-color-translucent: hsla(0, 0%, 100%, 0.15);
  --sgds-form-valid-color: #5ecd67;
  --sgds-form-valid-border-color: #5ecd67;
  --sgds-form-invalid-color: #fd9d85;
  --sgds-form-invalid-border-color: #fd9d85;
}
:root,
[data-bs-theme="light"] {
  --sgds-gray-100-rgb: 247, 247, 247;
  --sgds-gray-200-rgb: 214, 214, 214;
  --sgds-gray-300-rgb: 177, 177, 177;
  --sgds-gray-400-rgb: 144, 144, 144;
  --sgds-gray-500-rgb: 117, 117, 117;
  --sgds-gray-600-rgb: 93, 93, 93;
  --sgds-gray-700-rgb: 63, 63, 63;
  --sgds-gray-800-rgb: 37, 37, 37;
  --sgds-gray-900-rgb: 17, 17, 17;
  --sgds-primary-100: #f8f7fd;
  --sgds-primary-100-rgb: 248, 247, 253;
  --sgds-primary-200: #d7d1f6;
  --sgds-primary-200-rgb: 215, 209, 246;
  --sgds-primary-300: #b3a8ef;
  --sgds-primary-300-rgb: 179, 168, 239;
  --sgds-primary-400: #9182e8;
  --sgds-primary-400-rgb: 145, 130, 232;
  --sgds-primary-500: #7562e2;
  --sgds-primary-500-rgb: 117, 98, 226;
  --sgds-primary-600: #5942db;
  --sgds-primary-600-rgb: 89, 66, 219;
  --sgds-primary-700: #3d2d97;
  --sgds-primary-700-rgb: 61, 45, 151;
  --sgds-primary-800: #241b5a;
  --sgds-primary-800-rgb: 36, 27, 90;
  --sgds-primary-900: #120d2b;
  --sgds-primary-900-rgb: 18, 13, 43;
  --sgds-secondary-100: #edfbfb;
  --sgds-secondary-100-rgb: 237, 251, 251;
  --sgds-secondary-200: #85e6e6;
  --sgds-secondary-200-rgb: 133, 230, 230;
  --sgds-secondary-300: #5fc0c5;
  --sgds-secondary-300-rgb: 95, 192, 197;
  --sgds-secondary-400: #3d9da7;
  --sgds-secondary-400-rgb: 61, 157, 167;
  --sgds-secondary-500: #228190;
  --sgds-secondary-500-rgb: 34, 129, 144;
  --sgds-secondary-600: #0a6679;
  --sgds-secondary-600-rgb: 10, 102, 121;
  --sgds-secondary-700: #074753;
  --sgds-secondary-700-rgb: 7, 71, 83;
  --sgds-secondary-800: #042931;
  --sgds-secondary-800-rgb: 4, 41, 49;
  --sgds-secondary-900: #021418;
  --sgds-secondary-900-rgb: 2, 20, 24;
  --sgds-success-100: #effaf0;
  --sgds-success-100-rgb: 239, 250, 240;
  --sgds-success-200: #a8e4ad;
  --sgds-success-200-rgb: 168, 228, 173;
  --sgds-success-300: #52c85b;
  --sgds-success-300-rgb: 82, 200, 91;
  --sgds-success-400: #09a716;
  --sgds-success-400-rgb: 9, 167, 22;
  --sgds-success-500: #088912;
  --sgds-success-500-rgb: 8, 137, 18;
  --sgds-success-600: #066e0e;
  --sgds-success-600-rgb: 6, 110, 14;
  --sgds-success-700: #044b0a;
  --sgds-success-700-rgb: 4, 75, 10;
  --sgds-success-800: #022c06;
  --sgds-success-800-rgb: 2, 44, 6;
  --sgds-success-900: #011603;
  --sgds-success-900-rgb: 1, 22, 3;
  --sgds-info-100: #f4f7ff;
  --sgds-info-100-rgb: 244, 247, 255;
  --sgds-info-200: #c3d7ff;
  --sgds-info-200-rgb: 195, 215, 255;
  --sgds-info-300: #8ab1ff;
  --sgds-info-300-rgb: 138, 177, 255;
  --sgds-info-400: #538cff;
  --sgds-info-400-rgb: 83, 140, 255;
  --sgds-info-500: #216bff;
  --sgds-info-500-rgb: 33, 107, 255;
  --sgds-info-600: #0950df;
  --sgds-info-600-rgb: 9, 80, 223;
  --sgds-info-700: #06379a;
  --sgds-info-700-rgb: 6, 55, 154;
  --sgds-info-800: #04215c;
  --sgds-info-800-rgb: 4, 33, 92;
  --sgds-info-900: #02102e;
  --sgds-info-900-rgb: 2, 16, 46;
  --sgds-warning-100: #faf7f3;
  --sgds-warning-100-rgb: 250, 247, 243;
  --sgds-warning-200: #e5d3bd;
  --sgds-warning-200-rgb: 229, 211, 189;
  --sgds-warning-300: #cdac83;
  --sgds-warning-300-rgb: 205, 172, 131;
  --sgds-warning-400: #b7874c;
  --sgds-warning-400-rgb: 183, 135, 76;
  --sgds-warning-500: #a5681f;
  --sgds-warning-500-rgb: 165, 104, 31;
  --sgds-warning-600: #88500d;
  --sgds-warning-600-rgb: 136, 80, 13;
  --sgds-warning-700: #5d3709;
  --sgds-warning-700-rgb: 93, 55, 9;
  --sgds-warning-800: #372005;
  --sgds-warning-800-rgb: 55, 32, 5;
  --sgds-warning-900: #1a1002;
  --sgds-warning-900-rgb: 26, 16, 2;
  --sgds-danger-100: #fff5f2;
  --sgds-danger-100-rgb: 255, 245, 242;
  --sgds-danger-200: #fecabd;
  --sgds-danger-200-rgb: 254, 202, 189;
  --sgds-danger-300: #fd957b;
  --sgds-danger-300-rgb: 253, 149, 123;
  --sgds-danger-400: #ef6447;
  --sgds-danger-400-rgb: 239, 100, 71;
  --sgds-danger-500: #dd361c;
  --sgds-danger-500-rgb: 221, 54, 28;
  --sgds-danger-600: #b6220d;
  --sgds-danger-600-rgb: 182, 34, 13;
  --sgds-danger-700: #7e1809;
  --sgds-danger-700-rgb: 126, 24, 9;
  --sgds-danger-800: #4c0e05;
  --sgds-danger-800-rgb: 76, 14, 5;
  --sgds-danger-900: #270703;
  --sgds-danger-900-rgb: 39, 7, 3;
}
[data-bs-theme="dark"] {
  --sgds-primary-100: #f2f1fc;
  --sgds-primary-100-rgb: 242, 241, 252;
  --sgds-primary-200: #dcd8f8;
  --sgds-primary-200-rgb: 220, 216, 248;
  --sgds-primary-300: #b8aef0;
  --sgds-primary-300-rgb: 184, 174, 240;
  --sgds-primary-400: #9181e8;
  --sgds-primary-400-rgb: 145, 129, 232;
  --sgds-primary-500: #7461e2;
  --sgds-primary-500-rgb: 116, 97, 226;
  --sgds-primary-600: #5841da;
  --sgds-primary-600-rgb: 88, 65, 218;
  --sgds-primary-700: #40309f;
  --sgds-primary-700-rgb: 64, 48, 159;
  --sgds-primary-800: #281e63;
  --sgds-primary-800-rgb: 40, 30, 99;
  --sgds-primary-900: #0c091d;
  --sgds-primary-900-rgb: 12, 9, 29;
  --sgds-secondary-100: #daf8f8;
  --sgds-secondary-100-rgb: 218, 248, 248;
  --sgds-secondary-200: #94eaea;
  --sgds-secondary-200-rgb: 148, 234, 234;
  --sgds-secondary-300: #65c5ca;
  --sgds-secondary-300-rgb: 101, 197, 202;
  --sgds-secondary-400: #41a1ab;
  --sgds-secondary-400-rgb: 65, 161, 171;
  --sgds-secondary-500: #21808f;
  --sgds-secondary-500-rgb: 33, 128, 143;
  --sgds-secondary-600: #0a6679;
  --sgds-secondary-600-rgb: 10, 102, 121;
  --sgds-secondary-700: #074a58;
  --sgds-secondary-700-rgb: 7, 74, 88;
  --sgds-secondary-800: #042e36;
  --sgds-secondary-800-rgb: 4, 46, 54;
  --sgds-secondary-900: #010e10;
  --sgds-secondary-900-rgb: 1, 14, 16;
  --sgds-success-100: #e5f7e6;
  --sgds-success-100-rgb: 229, 247, 230;
  --sgds-success-200: #b6e8b9;
  --sgds-success-200-rgb: 182, 232, 185;
  --sgds-success-300: #5ecd67;
  --sgds-success-300-rgb: 94, 205, 103;
  --sgds-success-400: #09a716;
  --sgds-success-400-rgb: 9, 167, 22;
  --sgds-success-500: #088812;
  --sgds-success-500-rgb: 8, 136, 18;
  --sgds-success-600: #066d0e;
  --sgds-success-600-rgb: 6, 109, 14;
  --sgds-success-700: #044f0a;
  --sgds-success-700-rgb: 4, 79, 10;
  --sgds-success-800: #033106;
  --sgds-success-800-rgb: 3, 49, 6;
  --sgds-success-900: #010e02;
  --sgds-success-900-rgb: 1, 14, 2;
  --sgds-info-100: #ecf3ff;
  --sgds-info-100-rgb: 236, 243, 255;
  --sgds-info-200: #cbdcff;
  --sgds-info-200-rgb: 203, 220, 255;
  --sgds-info-300: #93b6ff;
  --sgds-info-300-rgb: 147, 182, 255;
  --sgds-info-400: #528bff;
  --sgds-info-400-rgb: 82, 139, 255;
  --sgds-info-500: #2069ff;
  --sgds-info-500-rgb: 32, 105, 255;
  --sgds-info-600: #094fdf;
  --sgds-info-600-rgb: 9, 79, 223;
  --sgds-info-700: #063aa3;
  --sgds-info-700-rgb: 6, 58, 163;
  --sgds-info-800: #042566;
  --sgds-info-800-rgb: 4, 37, 102;
  --sgds-info-900: #010b1e;
  --sgds-info-900-rgb: 1, 11, 30;
  --sgds-warning-100: #f7f1eb;
  --sgds-warning-100-rgb: 247, 241, 235;
  --sgds-warning-200: #e9dac7;
  --sgds-warning-200-rgb: 233, 218, 199;
  --sgds-warning-300: #d1b18b;
  --sgds-warning-300-rgb: 209, 177, 139;
  --sgds-warning-400: #ba8b53;
  --sgds-warning-400-rgb: 186, 139, 83;
  --sgds-warning-500: #a5671d;
  --sgds-warning-500-rgb: 165, 103, 29;
  --sgds-warning-600: #88500d;
  --sgds-warning-600-rgb: 136, 80, 13;
  --sgds-warning-700: #633a09;
  --sgds-warning-700-rgb: 99, 58, 9;
  --sgds-warning-800: #3c2406;
  --sgds-warning-800-rgb: 60, 36, 6;
  --sgds-warning-900: #110a02;
  --sgds-warning-900-rgb: 17, 10, 2;
  --sgds-danger-100: #ffefea;
  --sgds-danger-100-rgb: 255, 239, 234;
  --sgds-danger-200: #fed1c6;
  --sgds-danger-200-rgb: 254, 209, 198;
  --sgds-danger-300: #fd9d85;
  --sgds-danger-300-rgb: 253, 157, 133;
  --sgds-danger-400: #ef6246;
  --sgds-danger-400-rgb: 239, 98, 70;
  --sgds-danger-500: #dc341b;
  --sgds-danger-500-rgb: 220, 52, 27;
  --sgds-danger-600: #b5220d;
  --sgds-danger-600-rgb: 181, 34, 13;
  --sgds-danger-700: #851909;
  --sgds-danger-700-rgb: 133, 25, 9;
  --sgds-danger-800: #541006;
  --sgds-danger-800-rgb: 84, 16, 6;
  --sgds-danger-900: #190502;
  --sgds-danger-900-rgb: 25, 5, 2;
  --sgds-primary: #9181e8;
  --sgds-primary-rgb: 145, 129, 232;
  --sgds-secondary: #41a1ab;
  --sgds-secondary-rgb: 65, 161, 171;
  --sgds-success: #09a716;
  --sgds-success-rgb: 9, 167, 22;
  --sgds-info: #528bff;
  --sgds-info-rgb: 82, 139, 255;
  --sgds-warning: #ba8b53;
  --sgds-warning-rgb: 186, 139, 83;
  --sgds-danger: #ef6246;
  --sgds-danger-rgb: 239, 98, 70;
  --sgds-light: #8f8f8f;
  --sgds-light-rgb: 143, 143, 143;
  --sgds-dark: #2a2a2a;
  --sgds-dark-rgb: 42, 42, 42;
  --sgds-primary-bg-dark: #9181e8;
  --sgds-primary-bg-dark-rgb: 145, 129, 232;
  --sgds-secondary-bg-dark: #41a1ab;
  --sgds-secondary-bg-dark-rgb: 65, 161, 171;
  --sgds-success-bg-dark: #09a716;
  --sgds-success-bg-dark-rgb: 9, 167, 22;
  --sgds-info-bg-dark: #528bff;
  --sgds-info-bg-dark-rgb: 82, 139, 255;
  --sgds-warning-bg-dark: #ba8b53;
  --sgds-warning-bg-dark-rgb: 186, 139, 83;
  --sgds-danger-bg-dark: #ef6246;
  --sgds-danger-bg-dark-rgb: 239, 98, 70;
  --sgds-light-bg-dark: #8f8f8f;
  --sgds-light-bg-dark-rgb: 143, 143, 143;
  --sgds-dark-bg-dark: #2a2a2a;
  --sgds-dark-bg-dark-rgb: 42, 42, 42;
  --sgds-primary-bg-hover-dark: #b8aef0;
  --sgds-secondary-bg-hover-dark: #65c5ca;
  --sgds-success-bg-hover-dark: #5ecd67;
  --sgds-info-bg-hover-dark: #93b6ff;
  --sgds-warning-bg-hover-dark: #d1b18b;
  --sgds-danger-bg-hover-dark: #fd9d85;
  --sgds-light-bg-hover-dark: #b6b6b6;
  --sgds-dark-bg-hover-dark: #434343;
  color-scheme: dark;
}
/*# sourceMappingURL=root.css.map*/
