<sgds-sidenav class="mt-3" id="test-id">
    <sgds-sidenav-item>
      <sgds-icon name="placeholder" slot="icon"></sgds-icon>
      <span slot="title">
        Title
      </span>
      <sgds-sidenav-link disabled>
        <a href="#"> disbaED-test</a>
      </sgds-sidenav-link>
      <sgds-sidenav-link active>
        <a href="#"> first-test</a>
      </sgds-sidenav-link>
      <sgds-sidenav-item>
        <span slot="title">
          Title level 2 very long so just wrap
        </span>
        <sgds-sidenav-link>
          <a href="#"> first-test</a>
        </sgds-sidenav-link>
        <sgds-sidenav-link>
          <a href="#"> first-test</a>
        </sgds-sidenav-link>

      </sgds-sidenav-item>
    </sgds-sidenav-item >
    <sgds-sidenav-item disabled>
      <sgds-icon slot="icon" name="placeholder"></sgds-icon>
      <span slot="title">
        Title
      </span>
      <sgds-sidenav-link>
        <a href="#"> first-test</a>
      </sgds-sidenav-link>
      <sgds-sidenav-link>
        <a href="#"> first-test</a>
      </sgds-sidenav-link>

    </sgds-sidenav-item>
    <sgds-sidenav-item active >
      <a href="#"> <sgds-icon slot="icon" name="placeholder"></sgds-icon>anchor</a>
    </sgds-sidenav-item>
    <sgds-sidenav-item >
      <a href="https://www.google.com"><sgds-icon slot="icon" name="placeholder"></sgds-icon> Google</a>
    </sgds-sidenav-item>
  </sgds-sidenav>