.sgds.combobox .form-control-icon {
  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 3rem;
  justify-content: center;
  position: absolute;
  width: 3rem;
  z-index: 4;
}

.sgds.combobox {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  position: relative;
  width: -webkit-fill-available;
  width: -moz-available;

}


.sgds.combobox .dropdown-menu {

  width: 100%;


}

.sgds.combobox .dropdown-toggle {
  width: 100%;
}

.form-control-icon {
  bottom: 0;
}

.combobox-caret {
  color: var(--sgds-form-color-default);
}