.sgds.combobox .form-control-icon {
  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 3rem;
  justify-content: center;
  position: absolute;
  width: 3rem;
  z-index: 4;
}
.sgds.combobox {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  position: relative;
  width: -webkit-fill-available;
  width: -moz-available;
}
/* .sgds.combobox > .form-control {
  padding-left: 3rem;
}
.sgds.combobox > .form-control:focus {
  z-index: 3;
} */
.sgds.combobox .dropdown-toggle {
  width: 100%;
}
.sgds.combobox > .dropdown-menu {
  min-width: 100%;
}
.form-control-icon {
  bottom: 0;
}
