:host([active]) .dropdown-item {
    background-color: var(--sgds-primary-surface-translucent);
}

.dropdown-item {
    background-color: var(--sgds-bg-transparent);
    padding: var(--sgds-padding-sm) var(--sgds-padding-lg);
    clear: both;
    color: var(--sgds-color-default);
    text-align: inherit;
    white-space: nowrap;
    cursor: pointer;
    /* width: 100%; */
    height: 100%;
  }


.dropdown-item .normal-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

:host([active]) .dropdown-item .normal-item-content {
    color: var(--sgds-primary-bg-default);
}

:host([active]) .dropdown-item .normal-item-content sgds-icon {
    color: var(--sgds-primary-bg-default);
    fill: var(--sgds-primary-bg-default);
}
.dropdown-item:hover{
    background: var(--sgds-bg-translucent-subtle);
}
.dropdown-item:focus, .dropdown-item:focus-visible{
    outline: 0;
    background: var(--sgds-bg-translucent-subtle);
    box-shadow: inset var(--sgds-form-box-shadow-focus);
}
