:host {
  display: block;
  position: relative;
}

.dropdown {
  display: flex;
  height: 100%;
}

.dropdown-menu {
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.combobox .form-control-group {
  min-height: var(--sgds-dimension-48);
  min-width: var(--sgds-dimension-256);
  height: unset;
}

.combobox-input-container {
  display: flex;
  gap: var(--sgds-gap-xs);
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - var(--sgds-icon-size-md, 1.25rem));
  /* deduct 1px from top and bottom padding due to border */
  padding: calc(var(--sgds-form-padding-y) - var(--sgds-form-border-width-default)) 0; 
}

slot[id='default'].d-none::slotted(*),
slot[id='default'].d-none{
  display: none;
}

.form-clearable:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}