:host {
  display: inline-block;
  --button-border-radius: 0.3125rem;
}

.btn-icon {
  background: transparent;
  border: 0;
  &:hover {
    background: transparent;
  }
}
:host(.button-group_button-first) {
  .btn {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}

:host(.button-group_button-last) {
  .btn {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}

.btn {
  border-radius: var(--button-border-radius);
}
