<sgds-mainnav>
    <img width="130" src="https://www.designsystem.tech.gov.sg/assets/img/logo-sgds.svg" slot="brand">
    <sgds-mainnav-item><a href="#">ArgsTable Controlled</a></sgds-mainnav-item>
    <sgds-mainnav-dropdown close="default">
        <span slot="toggler">Dropdown</span>
        <sgds-dropdown-item href="https://google.com">Item 1</sgds-dropdown-item>
        <sgds-dropdown-item href="#">Item 2</sgds-dropdown-item>
        <sgds-dropdown-item href="#">Item 3</sgds-dropdown-item>
    </sgds-mainnav-dropdown>
    <sgds-mainnav-item><a href="#">About</a></sgds-mainnav-item>
    <sgds-mainnav-item slot="end"><a href="#">Contact Us</a></sgds-mainnav-item>
    <sgds-button slot="end">Login</sgds-button>
    <dev-console-widget slot="non-collapsible" iconcolor="black" iconwidth="28px"
        iconheight="28px"></dev-console-widget>
</sgds-mainnav>
