.form-control-container {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-md);
}

.form-control-container.disabled {
  opacity: var(--sgds-opacity-50);
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

textarea {
  resize: vertical;
}

.form-control {
  appearance: none;
  background-clip: padding-box;
  background-color: var(--sgds-form-bg);
  border: var(--sgds-form-border-width-default) solid var(--sgds-form-border-color);
  border-radius: var(--sgds-form-border-radius-md);
  color: var(--sgds-form-color);
  padding: var(--sgds-form-padding-y) var(--sgds-form-padding-x);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  min-height: var(--sgds-dimension-136);
}

.form-control[readonly] {
  border-color: var(--sgds-form-border-color-muted);
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control:not([disabled]):not(.is-invalid):hover {
  border: var(--sgds-form-border-width-thick) solid var(--sgds-form-border-color-emphasis);
}

.form-control:not([disabled]):not(.is-invalid):focus,
.form-control:not([disabled]):not(.is-invalid):focus-visible {
  border: var(--sgds-form-border-width-thick) solid var(--sgds-form-border-color-emphasis);
  box-shadow: var(--sgds-form-box-shadow-focus);
  outline: 0;
}

.form-control.is-invalid {
  border: var(--sgds-form-border-width-thick) solid var(--sgds-form-danger-border-color);
}

.form-control:disabled {
  background-color: var(--sgds-form-bg-muted);
}

.textarea-resize-none {
  resize: none;
}

.textarea-resize-vertical {
  resize: vertical;
}

.textarea-resize-auto {
  height: auto;
  resize: none;
  overflow-y: hidden;
}

.textarea-info-container {
  display: flex;
  justify-content: space-between;
}

.word-count {
  margin-left: auto;
}