textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

textarea {
  resize: vertical;
}

textarea.form-control-group {
  padding: var(--sgds-form-padding-y) var(--sgds-form-padding-x);
  min-height: var(--sgds-dimension-136);
}

.textarea-resize-none {
  resize: none;
}

.textarea-resize-vertical {
  resize: vertical;
}

.textarea-resize-auto {
  height: auto;
  resize: none;
  overflow-y: hidden;
}

.textarea-info-container {
  display: flex;
  justify-content: space-between;
}

.word-count {
  margin-left: auto;
}
