.container {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xl);
}

slot:not([name])::slotted(*) {
  margin-bottom: var(--sgds-margin-none) !important;
  font-size: var(--sgds-font-size-24) !important;
  font-weight: var(--sgds-font-weight-semibold) !important;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-md);
  list-style: none;
  margin: var(--sgds-margin-none);
  padding: var(--sgds-padding-none);
}

slot[name="contents"]::slotted(li) {
  margin-top: var(--sgds-margin-none) !important;
}