.toast-container {
  max-width: 100%;
  pointer-events: none;
  position: fixed;
  width: max-content;
  z-index: 1200;
  /* Height of masthead + mainnav  */
  --toast-container-top: calc(28px + 80px + var(--sgds-spacer-8));
}

.top-start {
  top: var(--toast-container-top);
  left: 0;
}

.top-center {
  top: var(--toast-container-top);
  left: 50%;
  transform: translateX(-50%);
}

.top-end {
  top: var(--toast-container-top);
  right: 32px;
}

.middle-start {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-end {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.bottom-start {
  bottom: 0;
  left: 0;
}

.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-end {
  bottom: 0;
  right: 0;
}

slot {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
