/* Deprecated since 3.7.1: top-start, middle-start, middle-center, middle-end */
.top-start {
  top: var(--toast-container-top);
  left: var(--toast-container-left);
}
.middle-start {
  top: 50%;
  left: var(--toast-container-left);
  transform: translateY(-50%);
}
.middle-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-end {
  top: 50%;
  right: var(--toast-container-right);
  transform: translateY(-50%);
}

.toast-container {
  max-width: 100%;
  pointer-events: none;
  position: fixed;
  width: max-content;
  z-index: 1200;
  /* Height of masthead + mainnav  */
  --toast-container-top: calc(28px + 80px + var(--sgds-spacer-8));
  --toast-container-right: var(--sgds-spacer-8);
  --toast-container-left: var(--sgds-spacer-8);
  --toast-container-bottom: var(--sgds-spacer-8);
}


.top-center {
  top: var(--toast-container-top);
  left: 50%;
  transform: translateX(-50%);
}

.top-end {
  top: var(--toast-container-top);
  right: var(--toast-container-right);
}

.bottom-start {
  bottom: var(--toast-container-bottom);
  left: var(--toast-container-left);
}

.bottom-center {
  bottom: var(--toast-container-bottom);
  left: 50%;
  transform: translateX(-50%);
}

.bottom-end {
  bottom: var(--toast-container-bottom);
  right: var(--toast-container-right);
}

slot {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


