:host {
  --sgds-toast-border-radius: var(--sgds-border-radius-md)
}

:host([status="warning"]) {

}

:host([status="danger"]) {

}

:host([status="success"]) {
}

:host([status="info"]) {
  
}

.toast {
  display: flex;
  flex-direction: column;
  padding: var(--sgds-toast-padding-y, 16px) var(--sgds-toast-padding-x, 16px);
  background-clip: padding-box;
  background-color:  var(--sgds-neutral-bg-inverse);
  border-radius: var(--sgds-toast-border-radius);
  font-size: var(--sgds-toast-font-size, 16px);
  color: var(--sgds-subtitle-color);
  pointer-events: auto;
  min-width: var(--sgds-dimension-280);
  max-width: var(--sgds-dimension-480);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.14);
}
.toast[hidden] {
  display: none;
}
.toast-header {
  display: flex;
  align-items: center;
  gap: var(--sgds-gap-xs);

  
}
.toast-body {
  word-wrap: break-word;
  padding-left: var(--sgds-padding-xl);
  color: var(--sgds-gray-600);
}

.toast-action {
  word-wrap: break-word;
  padding-left: var(--sgds-padding-xl);
  color: var(--sgds-primary-color);
  padding-top: var(--sgds-gap-sm);

}
.toast-header strong {
  margin-right: auto;
  word-break: break-all;
}
.toast-header small {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--sgds-body-color-lighter);
}
.toast-header button {
  flex-grow: 0;
  flex-shrink: 0;
}
slot[name="icon"]::slotted(svg) {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--sgds-toast-header-icon-color);
}