:host {
  --sgds-toast-max-width: 500px;
  --sgds-toast-gap: var(--sgds-spacer-2);
  --sgds-toast-padding: var(--sgds-spacer-3);
  --sgds-toast-bg: var(--sgds-body-bg);
  --sgds-toast-border-width: var(--sgds-border-width);
  --sgds-toast-border-left-width: 5px;
  --sgds-toast-border-radius: 0 0.25rem 0.25rem 0;
  --sgds-toast-border-color: var(--sgds-border-color);
  --sgds-toast-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
  --sgds-toast-font-size: 1rem;
  --sgds-toast-color: var(--sgds-body-color);
  --sgds-toast-header-gap: var(--sgds-spacer-2);
  --sgds-toast-header-color: var(--sgds-body-color);
  --sgds-toast-header-icon-color: var(--sgds-body-color);
}

:host([status="warning"]) {
  --sgds-toast-border-color: var(--sgds-warning-filled);
  --sgds-toast-header-color: var(--sgds-warning-text-emphasis);
  --sgds-toast-header-icon-color: var(--sgds-warning-text-emphasis);
}
:host([status="danger"]) {
  --sgds-toast-border-color: var(--sgds-danger-filled);
  --sgds-toast-header-color: var(--sgds-danger-text-emphasis);
  --sgds-toast-header-icon-color: var(--sgds-danger-text-emphasis);
}
:host([status="success"]) {
  --sgds-toast-border-color: var(--sgds-success-filled);
  --sgds-toast-header-color: var(--sgds-success-text-emphasis);
  --sgds-toast-header-icon-color: var(--sgds-success-text-emphasis);
}
:host([status="info"]) {
  --sgds-toast-border-color: var(--sgds-info-filled);
  --sgds-toast-header-color: var(--sgds-info-text-emphasis);
  --sgds-toast-header-icon-color: var(--sgds-info-text-emphasis);
}

.toast {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-toast-gap);
  padding: var(--sgds-toast-padding);
  background-clip: padding-box;
  background-color: var(--sgds-toast-bg);
  border: var(--sgds-toast-border-width) solid var(--sgds-toast-border-color);
  border-left: var(--sgds-toast-border-left-width) solid var(--sgds-toast-border-color);
  border-radius: var(--sgds-toast-border-radius);
  box-shadow: var(--sgds-toast-box-shadow);
  font-size: var(--sgds-toast-font-size);
  color: var(--sgds-toast-color);
  width: fit-content;
  max-width: 100%;
  pointer-events: auto;
  width: 100%;
  min-width: 320px;
  max-width: var(--sgds-toast-max-width);
}
.toast[hidden] {
  display: none;
}
.toast-header {
  display: flex;
  align-items: center;
  gap: var(--sgds-toast-header-gap);
  color: var(--sgds-toast-header-color);
  background-clip: padding-box;
}
.toast-body {
  word-wrap: break-word;
}
.toast-header strong {
  margin-right: auto;
  word-break: break-all;
}
.toast-header small {
  flex-grow: 0;
  flex-shrink: 0;
  color: #667085;
}
.toast-header button {
  flex-grow: 0;
  flex-shrink: 0;
}
slot[name="icon"]::slotted(svg) {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--sgds-toast-header-icon-color);
}