:host {
  --sgds-toast-border-radius: var(--sgds-border-radius-md)
}

:host([variant="warning"]) {

}

:host([variant="danger"]) {

}

:host([variant="success"]) {
}

:host([variant="info"]) {
  
}

.toast {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--sgds-gap-xs);
  padding: var(--sgds-padding-md) var(--sgds-padding-md);
  background-clip: padding-box;
  background-color:  var(--sgds-neutral-bg-inverse);
  border-radius: var(--sgds-border-radius-md);
  color: var(--sgds-subtitle-color);
  pointer-events: auto;
  width: 320px;
  min-width: var(--sgds-dimension-320);
  max-width: var(--sgds-dimension-480);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 8px 16px 0px rgba(0, 0, 0, 0.14);
}
.toast-content {
  word-wrap: break-word;
  display:flex;
  flex-direction:column;
  color: var(--sgds-gray-600);
  gap: var(--sgds-gap-sm);
}
.toast-body {
  display: flex;
  flex-direction: column;
} 
.toast-action {
  word-wrap: break-word;
  color: var(--sgds-primary-color);
}
.toast-header strong {
  margin-right: auto;
  word-break: break-all;
}
.close-btn {
  margin-left: auto;
}