@import "../utils/base.scss";
@import "~@govtechsg/sgds/sass/containers";
@import "~@govtechsg/sgds/sass/grid";

:host{
    --masthead-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    --masthead-text-color: hsl(0, 0%, 28%);
    --masthead-link-color: hsl(222, 63%, 50%);
    --masthead-link-color-hover: hsl(221, 64%, 55%);
    --masthead-mobile-font-size: 0.6875rem;
    --masthead-crest-color: rgb(239, 51, 32);
}

.sgds-masthead{
    font-size: 0.875rem;
    background-color: hsl(0, 0%, 94%);
    font-family: var(--masthead-font-family);
    color: var(--masthead-text-color);
    @media screen and (max-width: 1023px){
        font-size: var(--masthead-mobile-font-size);
        .container,.container-fluid, .col{
            padding-left:0;
            padding-right: 0;
        }
    }
}

.sg-crest {
    width: 1.25rem;
    height: 1.75rem;
    path{
        fill: var(--masthead-crest-color);
    }
}

.masthead-layout{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.row{
    padding-top:0.1rem;
    padding-bottom: 0.1rem;
    @media screen and (max-width: 1023px) {
        padding-left: var(--masthead-tablet-padding-x);
        padding-right: var(--masthead-tablet-padding-x);
    }
}

.sgds-masthead-identify-icon {
    width: 0.6rem;
    height: 1.3125rem;
    display: block;
    transform: rotate(180deg);
    user-select: none;
    transition: all 0.3s ease-in-out 0s;
    align-self: center;
    &.show{
        transform: rotate(0deg);
    }
}

.sgds-masthead-button {
    display: flex;
    color: var(--masthead-link-color);
    cursor: pointer;
    &-text{
        text-decoration: underline;
        &:hover{
            color: var(--masthead-link-color-hover);
        }
    }
}

.sgds-masthead-content{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    display: none;
    @media screen and (max-width: 1023px) {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .content-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10rem;
        @media screen and (max-width: 1023px){
            grid-template-columns: 1fr;
            gap: 1.5rem;
            .banner-icon-inline {
                width: 0.6rem;
                height: 0.6rem;
                margin-bottom: 0.1875rem;
                
            }
        }
        .icon{
            line-height: 1.5rem;
            @media screen and (max-width: 1023px){
                line-height: 1.25rem;
            }
        }
    }

    
    .wrapper {
        display: flex;
        gap: 1rem;
        font-size: 1rem;
        @media screen and (max-width: 1023px){
            font-size: var(--masthead-tablet-font-size);
            gap: 0.5rem;
        }
        .content {
            .title {
                font-weight: 600;
                margin-bottom: 0.5rem;
                @media screen and (max-width: 1023px) {
                    margin-bottom: 0.25rem;
                }
            }
            article{
                line-height: 1.5rem;
            }
        }
        .banner-icon{
            width: 1.125rem;
            path{
                fill: var(--masthead-text-color);
            }
            
            @media screen and (max-width: 1023px) {
                width: 0.75rem;
            }
            svg{
                line-height: 1.5rem;
                @media screen and (max-width: 1023px) {
                    width: 1.25rem;
                }
            }
        }
        .banner-icon-inline{
            path{
                fill: var(--masthead-text-color);
            }
            @media screen and (max-width: 1023px){
                    width: 0.6rem;
                    height: 0.6rem;
                    margin-bottom: 0.1875rem;
            }
        }

    }

    &.show{
        display: block;
    }
}

a[target="_blank"]{
    text-decoration: none;
    &::after{
        content: none;
    }
}


a.trusted-websites-link{
    display: inline-flex;
    align-items: center;
    color: var(--masthead-link-color);
    margin-left: 0.125rem;
    svg{
        margin-left: 0.125rem;
        fill: var(--masthead-link-color);
    }
    &:hover{
        color: var(--masthead-link-color-hover); 
        svg{
            fill: var(--masthead-link-color-hover); 
        }
    }
}

@media screen and (max-width: 1023px){
    .trusted-websites-icon{
        width:0.75rem;
    }
}

