
:host {
  //Sidenav
--sidenav-fontsize: 1rem;
--sidenav-item-spacing: 1rem;
--sidenav-btn-border-width: 0.125rem;
--nav-link-disabled-color: #344054;
}

a.nav-link {
  display: block;
  color: inherit;
  font-size: var(--sidenav-fontsize);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: calc(
    var(--sidenav-item-spacing) * 4 + var(--sidenav-btn-border-width)
  );
  padding-right: 0;
  text-decoration: none;

  &.active,
  &:hover {
    color: var(--sidenav-theme-color);
  }
  // Disabled state lightens text
  &.disabled {
    color: var(--nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
  }
}
