
:host([class^="third-level"]) ::slotted(a) {
  padding-left: calc(var(--sgds-padding-xl) + var(--sgds-padding-3-xl));
}

::slotted(a) {
  display: block;
  color: inherit !important;
  padding-top: var(--sgds-padding-sm);
  padding-bottom: var(--sgds-padding-sm);
  padding-left: var(--sgds-padding-3-xl);
  padding-right: var(--sgds-padding-sm);
  border-radius: var(--sgds-border-radius-md);
  text-decoration: none !important;
}
:host([active]) ::slotted(a) {
  color: var(--sgds-primary-color);
  background-color: var(--sgds-primary-bg-translucent);
}

::slotted(a:hover) {
  background-color: var(--sgds-default-bg-translucent-subtle);
}

:host([disabled]) ::slotted(a) {
  opacity: var(--sgds-opacity-50);
  pointer-events: none;
  cursor: not-allowed;
}
:host([disabled]) ::slotted(a:focus),
:host([disabled]) ::slotted(a:focus-visible){
  outline: 0;
  box-shadow: none;
}

 ::slotted(a:focus),
 ::slotted(a:focus-visible){
  outline: 0;
  box-shadow: var(--sgds-box-shadow-focus);
  background-color: var(--sgds-default-bg-translucent-subtle);
}

:host([active]) ::slotted(a:focus),
:host([active]) ::slotted(a:focus-visible) {
  color: var(--sgds-primary-color);
  background-color: var(--sgds-primary-bg-translucent);
}
