:host {
  --sidenav-sticky-top: 0rem;
  padding: var(--sgds-padding-md);
}


.sticky {
  position: sticky;
  top: var(--sidenav-sticky-top);
  height: calc(100vh - var(--sidenav-sticky-top));
  overflow-y: visible;
}
