:host([class^="second-level"]) .sidenav-btn {
  padding-left: var(--sgds-padding-3-xl);
  font-weight: var(--sgds-font-weight-regular);
}

button {
  all: unset;
}
.sidenav-btn {
  width: 100%;
  text-align: initial;
  line-height: var(--sgds-line-height-24);
  font-size: var(--sgds-font-size-16);
  border: 0;
  background: 0;
  padding: var(--sgds-padding-sm) var(--sgds-padding-sm) var(--sgds-padding-sm)
    calc(var(--sgds-padding-sm) + var(--sgds-padding-2-xs));
  border-radius: var(--sgds-border-radius-md);
  display: flex;
  gap: var(--sgds-gap-xs);
  font-weight: var(--sgds-font-weight-semibold);

  .caret-icon,
  slot[name="caret-icon"]::slotted(*) {
    margin-left: auto;
    margin-bottom: auto;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
  }
}
.sidenav-btn:hover:not(.disabled) {
  background-color: var(--sgds-bg-translucent-subtle);
}
.sidenav-btn.active {
  color: var(--sgds-color-default);
}
.sidenav-btn.disabled {
  opacity: var(--sgds-opacity-50);
  pointer-events: none;
}
.sidenav-btn:not(.active) {
  .caret-icon,
  slot[name="caret-icon"]::slotted(*) {
    transform: rotate(0deg);
  }
}
.sidenav-btn:focus:not(.disabled),
.sidenav-btn:focus-visible:not(.disabled) {
  background-color: var(--sgds-bg-translucent-subtle);
}
.sidenav-btn:focus-visible:not(.disabled) {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

.no-menu-default::slotted(a) {
  text-decoration: none !important;
  color: inherit !important;
  line-height: var(--sgds-line-height-24) !important;
  font-size: var(--sgds-font-size-16);
  border: 0;
  background: 0;
  padding: var(--sgds-padding-sm) var(--sgds-padding-sm) var(--sgds-padding-sm)
    calc(var(--sgds-padding-sm) + var(--sgds-padding-2-xs));
  border-radius: var(--sgds-border-radius-md);
  display: flex;
  gap: var(--sgds-gap-xs);
  font-weight: var(--sgds-font-weight-semibold) !important;
}

.no-menu-default::slotted(a:focus),
.no-menu-default::slotted(a:focus-visible) {
  background-color: var(--sgds-bg-translucent-subtle);
}
.no-menu-default::slotted(a:focus-visible) {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

:host([class^="first-level"][active]) .no-menu-default::slotted(a) {
  color: var(--sgds-primary-color-emphasis) !important;
  background-color: var(--sgds-primary-surface-translucent);
}

:host([class^="first-level"][disabled]) .no-menu-default::slotted(a) {
  opacity: var(--sgds-opacity-50);
  pointer-events: none;
}
