:host {
  --sgds-sidenav-theme-color: var(--sgds-primary);
  --sgds-sidenav-sticky-top: 0rem;
  --sgds-sidenav-item-gap: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-sidenav-item-gap);
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sticky {
  position: sticky;
  top: var(--sgds-sidenav-sticky-top);
  height: calc(100vh - var(--sgds-sidenav-sticky-top));
  overflow-y: auto;
}
