:host {
  --sidenav-item-btn-border-left-width: 0.125rem;
  --sidenav-item-btn-padding-x: 1rem;
  --sidenav-item-btn-padding-y: 0.5rem;
  --sidenav-item-icon-title-gap: 1rem;
}

slot.default::slotted(*) {
  padding-left: var(--sgds-padding-3-xl);
}
.sidenav-btn {
  width: 100%;
  text-align: initial;
  line-height: 1.5rem;
  font-size: var(--sgds-body-font-size);
  border: 0;
  background: 0;
  padding-top: var(--sgds-padding-sm);
  padding-bottom: var(--sgds-padding-sm);
  padding-left: 0;
  padding-right: 0;
  border-radius: var(--sgds-border-radius-md);
  display: flex;
  gap: var(--sgds-gap-xs);
  align-items: center;

  svg.bi-chevron-down, slot[name="caret-icon"]::slotted(*) {
    margin-left: auto;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
  }
}
.sidenav-btn.active,
.sidenav-btn:hover {
  color: var(--sidenav-theme-color);
  font-weight: 700;
}
.sidenav-btn.disabled {
  opacity: var(--sgds-disabled-opacity);
  cursor: not-allowed;
}
.sidenav-btn:not(.active) {
  svg.bi-chevron-down, slot[name="caret-icon"]::slotted(*) {
    transform: rotate(0deg);
  }
}

a.sidenav-btn {
  color: inherit;
  text-decoration: none;
  line-height: var(--sgds-line-height-md);
}

div.sidenav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  line-height: var(--sgds-line-height-lg);
}
