 :host {
      display: block; /* Ensure the host element behaves as a block for width calculations */
    }

.banner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--sgds-gap-sm);
  background-color: var(--sgds-primary-surface-default);
  color: var(--sgds-color-fixed-light);
  padding: var(--sgds-padding-sm) var(--sgds-padding-2-xl);
}
:host([variant="danger"]) .banner{
  background-color: var(--sgds-danger-surface-default);
} 
:host([variant="neutral"]) .banner{
  background-color: var(--sgds-surface-fixed-dark);
} 
:host([variant="warning"]) .banner {
  background-color: var(--sgds-warning-surface-default);
  color: var(--sgds-color-fixed-dark);
} 
.content {
  flex: 1;
  height: 100px;
  overflow: hidden;
  width: 100%;
}

::slotted(sgds-alert-banner-item) {
  display: none;
  opacity: 0;

 
}
::slotted(*) {
    flex: 0 0 100%;
}
::slotted(sgds-alert-banner-item[active]) {
  display: block;
  opacity: 1;
   

}

.pagination {
  display: flex;
  gap: var(--sgds-gap-2-xs);
  font-size: var(--sgds-font-size-0);
  align-items: center;
  font-weight: var(--sgds-font-weight-regular, 400);
  line-height: var(--sgds-line-height-16, 16px); /* 133.333% */
  letter-spacing: var(--sgds-letter-spacing-normal, 0);
}

.d-none {
  display: none;
}