.alert {
  --sgds-alert-color: var(--sgds-color-fixed-light);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--sgds-gap-sm);
  background-color: var(--sgds-primary-surface-default);
  color: var(--sgds-alert-color);
  padding: var(--sgds-padding-sm) var(--sgds-padding-2-xl);
}

.looping-content {
  /* animation: loop 2s cubic-bezier(0.45,0.05,0.55,0.95) infinite; */
  /* animation-delay: 5s; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: var(--sgds-padding-sm); */
  transition: transform 0.6s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    /* animation: loop 2s cubic-bezier(0.45,0.05,0.55,0.95) infinite; */
    animation: scroll-up 20s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
.content {
  flex: 1;

  /* position:relative; */
  height: 100px;
  overflow: hidden;
  position: relative;
  /* animation: loop 2s cubic-bezier(0.45,0.05,0.55,0.95) infinite; */
}
    @keyframes scroll-up {
      0%   { transform: translateY(0%); }
      20%  { transform: translateY(0%); }
      25%  { transform: translateY(-100%); }
      45%  { transform: translateY(-100%); }
      50%  { transform: translateY(-200%); }
      70%  { transform: translateY(-200%); }
      75%  { transform: translateY(-300%); }
      95%  { transform: translateY(-300%); }
      100% { transform: translateY(0%); }
    }

.content:hover .looping-content {
  animation-play-state: paused;
}

::slotted(sgds-alert-banner-item) {
  flex: 0 0 100%;
  animation-delay: 5s;
}

.pagination {
  display: flex;
  gap: var(--sgds-gap-2-xs);
  font-size: var(--sgds-font-size-0);
  align-items: center;
  font-weight: var(--sgds-font-weight-regular, 400);
  line-height: var(--sgds-line-height-16, 16px); /* 133.333% */
  letter-spacing: var(--sgds-letter-spacing-normal, 0);
}
