<sgds-toast-container position="bottom-start">
    <sgds-toast show dismissible>
        <sgds-icon slot="icon" name="info-circle-fill"></sgds-icon>
        <sgds-link slot="action" href="#" target="_blank">Action</sgds-link>
        This is a toast notifications
    </sgds-toast>
    <sgds-toast show dismissible variant="warning">
        <sgds-icon slot="icon" name="exclamation-triangle-fill"></sgds-icon>
        <sgds-link slot="action" href="#" target="_blank">Action</sgds-link>
        This is a toast notifications
    </sgds-toast>
</sgds-toast-container>