.invalid-feedback {
  color: var(--sgds-form-invalid-color);
  display: none;
  font-size: var(--sgds-form-feedback-font-size);
  width: 100%;
}
.is-invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-feedback {
  display: block;
}
