.invalid-feedback-container {
  display: flex;
  gap: var(--sgds-form-gap-sm);
  color: var(--sgds-form-danger-color-default);
  line-height: var(--sgds-line-height-20);

}

.invalid-feedback {
  color: var(--sgds-form-danger-color-default);
  font-size: var(--sgds-font-size-1);
  font-weight: var(--sgds-font-weight-regular);
  line-height: var(--sgds-line-height-20);
}

.valid-icon{
  color: var(--sgds-form-success-color-default);
}
