.form-text {
  color: var(--sgds-form-color-subtle);
  font-size: var(--sgds-font-size-label-sm);
  line-height: var(--sgds-line-height-2-xs);
}

.form-text.disabled {
  opacity: var(--sgds-opacity-40);
}