.form-control::placeholder {
  color: var(--sgds-form-color-subtle);
  font-family: var(--sgds-font-family-brand);
  font-weight: var(--sgds-font-weight-light);
  line-height: var(--sgds-line-height-heading);
}
