<sgds-breadcrumb>
    <sgds-breadcrumb-item>
      <a href="#">Home</a>
    </sgds-breadcrumb-item>
    <sgds-breadcrumb-item>
      <a href="#">About</a>
    </sgds-breadcrumb-item>
    <sgds-breadcrumb-item><a href="https://www.google.com">Contact</a></sgds-breadcrumb-item>
    <sgds-breadcrumb-item><a href="#">Info</a></sgds-breadcrumb-item>
    <sgds-breadcrumb-item><a href="#">More</a></sgds-breadcrumb-item>
    <sgds-breadcrumb-item><a href="#">More</a></sgds-breadcrumb-item>
    <sgds-breadcrumb-item><a href="#">More</a></sgds-breadcrumb-item>
    <sgds-breadcrumb-item><a href="#">Last</a></sgds-breadcrumb-item>
  </sgds-breadcrumb>