:host {
  --sgds-progress-height: 1rem;
  display: block;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.progress {
  display: flex;
  overflow: hidden;
  background-color: #e4e7ec;
  border-radius: 0.3125rem;
  height: var(--sgds-progress-height);
}