:host {
  --sgds-progress-bg: var(--sgds-gray-200);
  --sgds-progress-border-radius: 0.3125rem;
  --sgds-progress-height: 1rem;
  display: block;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.progress {
  display: flex;
  overflow: hidden;
  background-color: var(--sgds-progress-bg);
  border-radius: var(--sgds-progress-border-radius);
  height: var(--sgds-progress-height);
}