:host {
  --sgds-progress-bar-bg: var(--sgds-primary-bg);
}

:host([variant="neutral"]) {
  --sgds-progress-bar-bg: var(--sgds-default-color-emphasis);
}

progress {
  vertical-align: baseline;
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-2-xs);
  overflow: hidden;
}

.progress {
  background-color: var(--sgds-default-bg-translucent);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  /* to match parent element's height */
  font-size: var(--sgds-font-size-1);
  color: var(--sgds-default-color);
  background-color: var(--sgds-progress-bar-bg);
  transition: width 0.6s ease;
  height: var(--sgds-dimension-4);
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}