sgds-input {
  --input-min-width: var(--sgds-dimension-0);
}
.input-group {
  align-items: stretch;
  display: flex;
  gap: var(--sgds-gap-none);
}
.input-group > sgds-input {
  flex: 1 1 auto;
  min-width: 0;
  position: relative;
  z-index: 1;
  --input-border-radius: 0;
  margin-inline: calc(-1 * var(--sgds-form-border-width-default));
}
.input-group > sgds-input:focus-within {
  z-index: 3;
}

.input-group > sgds-icon-button.minus-btn {
  --btn-border-radius: var(--sgds-form-border-radius-md) 0 0 var(--sgds-form-border-radius-md);
}

.input-group > sgds-icon-button.plus-btn {
  --btn-border-radius: 0 var(--sgds-form-border-radius-md) var(--sgds-form-border-radius-md) 0;
}

.input-group sgds-button:focus {
  z-index: 3;
}
.visually-hidden {
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}