slot {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
}

slot::slotted(*){
  display: flex;
  gap: var(--sgds-gap-xs);
  align-items: flex-start;
}

.sm {
  font-size: var(--sgds-font-size-14);
  line-height: var(--sgds-line-height-20);
}

.lg {
  font-size : var(--sgds-font-size-20);
  line-height: var(--sgds-line-height-32);
}