:host {
  --sgds-spinner-bg: var(--sgds-primary-bg);
  display: inline-flex;
}

:host([color="neutral"]) {
  --sgds-spinner-bg: var(--sgds-neutral-color-emphasis);
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sgds-gap-2-xs);
}

.spinner {
  display: inline-flex;
  border-radius: 50%;
  width: var(--sgds-dimension-32);
  height: var(--sgds-dimension-32);
}

.spinner-border {
  animation: spinner-border 0.75s linear infinite;
  border: 0.25em solid var(--sgds-alternate-bg);
  border-right: 0.25em solid var(--sgds-spinner-bg);
  color: var(--sgds-spinner-color);
}

.spinner-grow {
  animation: spinner-grow 0.75s linear infinite;
  opacity: 0;
  background-color: var(--sgds-spinner-bg);
}

.spinner-sm {
  width: var(--sgds-dimension-20);
  height: var(--sgds-dimension-20);
}

.spinner-lg {
  width: var(--sgds-dimension-48);
  height: var(--sgds-dimension-48);
}

slot {
  font-size: var(--sgds-font-size-1);
}

@media (prefers-reduced-motion: reduce) {
  .spinner-border, .spinner-grow {
    animation-duration: 1.5s;
  }
}

/*! CSS Used keyframes */
@keyframes spinner-border {
  to {
    transform: rotate(1turn);
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}