:host {
  --sgds-spinner-bg: var(--sgds-primary-surface-default);
  display: inline-flex;
}

:host([variant="neutral"]) {
  --sgds-spinner-bg: var(--sgds-neutral-surface-default);
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sgds-gap-2-xs);
}

.spinner {
  display: inline-flex;
  border-radius: 50%;
  width: var(--sgds-dimension-32);
  height: var(--sgds-dimension-32);
  animation: spinner 0.75s linear infinite;
  border: 0.25em solid var(--sgds-bg-translucent);
  border-right: 0.25em solid var(--sgds-spinner-bg);
  color: var(--sgds-spinner-color);
}

.spinner-sm {
  width: var(--sgds-dimension-24);
  height: var(--sgds-dimension-24);
}

.spinner-lg {
  width: var(--sgds-dimension-48);
  height: var(--sgds-dimension-48);
}

.spinner-label {
  font-size: var(--sgds-font-size-1);
}

@media (prefers-reduced-motion: reduce) {
  .spinner {
    animation-duration: 1.5s;
  }
}

/*! CSS Used keyframes */
@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}