 :host{
  /* NEW in V2.0 */
  --breadcrumb-padding-x: 0;
  --breadcrumb-padding-y: 0;
  --breadcrumb-margin-bottom: 1rem;
  --breadcrumb-background: ;
  --breadcrumb-border-radius: ;
  --breadcrumb-font-size: ;
  --breadcrumb-separator-color: ;

 }
 
  .breadcrumb {
    background-color: var(--breadcrumb-background);
    border-radius: var(--breadcrumb-border-radius);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: var(--breadcrumb-margin-bottom);
    padding: var(--breadcrumb-padding-y) var(--breadcrumb-padding-x);
  }

