slot[name=separator]::slotted(*){
    display: inline-block;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
}


:host(:last-of-type) .breadcrumb-item__separator {
    display: none;
}

