:host {
  display: block;
  position: relative;
}
.dropdown {
  display: flex;
  height: 100%;
}

.dropdown-menu {
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
.empty-menu {
  padding: var(--sgds-padding-sm) var(--sgds-padding-lg, 20px);
  pointer-events: none;
}
