:host {
  display: block;
  position: relative;
}
.dropdown {
  display: flex;
  height: 100%;
}

.dropdown-menu {
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

slot[id='default'].is-loading::slotted(*),
slot[id='default'].is-loading{
  display: none;
}