.file-upload {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-2-xl);
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-md);
}

.file-upload-list {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-xl);
  list-style-type: none;
}

.file-upload-list-item {
  display: flex;
  align-items: center;
  gap: var(--sgds-form-gap-lg);
  padding: var(--sgds-form-padding-y) var(--sgds-form-padding-x);
  background-color: var(--sgds-form-surface-default);
  border: var(--sgds-form-border-width-default) solid var(--sgds-border-color-muted);
  border-radius: var(--sgds-form-border-radius-md);
}

.file-upload-list-item span:not(:first-of-type) {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  display: none;
}

sgds-button,
label {
  cursor: pointer;
}

sgds-close-button {
  margin-left: auto;
}

slot[name="validIcon"]::slotted(*),
slot[name="validIcon"] svg {
  color: var(--sgds-form-success-color-default);
}