.skeleton {
  --bg: var(--sgds-bg-translucent);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
  border-radius: var(--sgds-border-radius-sm);
}
.skeleton.skeleton-paragraph {
  background-color: transparent;
}

.skeleton.skeleton-paragraph.auto-size-rows > div[class*="skeleton-row"] {
  height: -webkit-fill-available;
  background-color: var(--sgds-bg-translucent);
  border-radius: var(--sgds-border-radius-sm);
}

.sheen {
  --sheen-color: var(--sgds-bg-translucent-subtle);
  background: linear-gradient(270deg, var(--sheen-color) 0%, var(--bg) 33.33%, var(--bg) 66.67%, var(--sheen-color) 100%);
  background-size: 400% 100%;
  animation: sheen 8s ease-in-out infinite;
}

@keyframes sheen {
  0% {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .sheen {
    animation: none;
  }
}
