:host([tinted]) .card-tinted-bg {
  background-color: var(--sgds-bg-translucent-subtle);
  opacity: var(--sgds-opacity-50);
}

slot[name="menu"]::slotted(*) {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}