:host([size="sm"]) svg {
  width: var(--sgds-icon-size-sm);
  height: var(--sgds-icon-size-sm);
}
:host([size="lg"]) svg {
  width: var(--sgds-icon-size-lg);
  height: var(--sgds-icon-size-lg);
}

svg {
  display: block;
  width: var(--sgds-icon-size-md);
  height: var(--sgds-icon-size-md);
}