:host{
  --container-size: 8px;
}

:host([orientation="horizontal"]) {
  width: 100%;
  display: block;
  margin: calc((var(--container-size) - var(--border-width)) / 2) 0;
  border-top: var(--border-width) solid var(--sgds-default-color-muted);
}

:host([orientation="vertical"]) {
  height: 100%;
  display: inline-block;
  margin: 0 calc((var(--container-size) - var(--border-width)) / 2);
  border-left: var(--border-width) solid var(--sgds-default-color-muted);
}

:host([thickness="thin"]) {
  --border-width: var(--sgds-border-width-1);
}
  
:host([thickness="thick"]) {
  --border-width: var(--sgds-border-width-2);
}
  
:host([thickness="thicker"]) {
  --border-width: var(--sgds-border-width-4);
}