:host([variant="success"]) .alert {
  background-color: var(--sgds-success-surface-default);
}

:host([variant="warning"]) .alert {
  --sgds-alert-color: var(--sgds-color-fixed-dark);
  background-color: var(--sgds-warning-surface-default);
}

:host([variant="danger"]) .alert {
  background-color: var(--sgds-danger-surface-default);
}

:host([variant="neutral"]) .alert {
  background-color: var(--sgds-neutral-surface-default);
}

:host([variant="success"][outlined]) .alert {
  background-color: var(--sgds-success-surface-muted);
  border: var(--sgds-border-width-1) solid var(--sgds-success-border-color-default);
}

:host([variant="warning"][outlined]) .alert {
  background-color: var(--sgds-warning-surface-muted);
  border: var(--sgds-border-width-1) solid var(--sgds-warning-border-color-default);
}

:host([variant="danger"][outlined]) .alert {
  background-color: var(--sgds-danger-surface-muted);
  border: var(--sgds-border-width-1) solid var(--sgds-danger-border-color-default);
}

:host([variant="neutral"][outlined]) .alert {
  background-color: var(--sgds-neutral-surface-muted);
  border: var(--sgds-border-width-1) solid var(--sgds-neutral-border-color-default);
}

.alert {
  --sgds-alert-color: var(--sgds-color-fixed-light);
  display: flex;
  flex-direction: row;
  gap: var(--sgds-gap-sm);
  background-color: var(--sgds-primary-surface-default);
  border: var(--sgds-border-width-1) solid var(--sgds-border-color-transparent);
  border-radius: var(--sgds-border-radius-md);
  color: var(--sgds-alert-color);
  padding: var(--sgds-padding-lg);
}

.alert.outlined {
  --sgds-alert-color: var(--sgds-color-fixed-dark);
  background-color: var(--sgds-primary-surface-muted);
  border: var(--sgds-border-width-1) solid var(--sgds-primary-border-color-default);
}

.alert-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sgds-gap-2-xs);
  flex: 1 0 0;
  padding-right: var(--sgds-padding-2-xl);
}

.alert-title {
  font-weight: var(--sgds-font-weight-semibold);
}
