:host {
  display: inline-block;
  cursor: pointer;
}

.alert-link, .alert-link:hover {
  color: var(--sgds-alert-color);
  text-decoration-line: underline;
}

.alert-link:focus,
.alert-link:focus-visible {
  outline: 0;
}

.alert-link:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus);
}