:host {
  /* NEW in 2.0 */
  --sgds-alert-bg: var(--sgds-primary-bg);
  --sgds-alert-color: var(--sgds-default-color-on-dark);
  --sgds-alert-border-radius: var(--sgds-border-radius-md);
}

:host([variant="success"]) {
  --sgds-alert-bg: var(--sgds-success-bg);
}

:host([variant="warning"]) {
  --sgds-alert-bg: var(--sgds-warning-bg);
}

:host([variant="danger"]) {
  --sgds-alert-bg: var(--sgds-danger-bg);
}

:host([variant="neutral"]) {
  --sgds-alert-bg: var(--sgds-neutral-bg);
}

:host([outlined]) {
  --sgds-alert-color: var(--sgds-default-color-on-light);
}

:host([variant="info"][outlined]) {
  --sgds-alert-bg: var(--sgds-primary-bg-subtle);
  --sgds-alert-border-color: var(--sgds-primary-border-color-subtle);
}

:host([variant="success"][outlined]) {
  --sgds-alert-bg: var(--sgds-success-bg-subtle);
  --sgds-alert-border-color: var(--sgds-success-border-color-subtle);
}

:host([variant="warning"][outlined]) {
  --sgds-alert-bg: var(--sgds-warning-bg-subtle);
  --sgds-alert-border-color: var(--sgds-warning-border-color-subtle);
}

:host([variant="danger"][outlined]) {
  --sgds-alert-bg: var(--sgds-danger-bg-subtle);
  --sgds-alert-border-color: var(--sgds-danger-border-color-subtle);
}

:host([variant="neutral"][outlined]) {
  --sgds-alert-bg: var(--sgds-neutral-bg-subtle);
  --sgds-alert-border-color: var(--sgds-neutral-border-color-subtle);
}

sgds-icon {
  color: var(--sgds-alert-color);
}

.alert {
  display: flex;
  flex-direction: row;
  gap: var(--sgds-gap-sm);
  background-color: var(--sgds-alert-bg);
  border: var(--sgds-border-width-1) solid var(--sgds-default-border-color-transparent);
  border-radius: var(--sgds-alert-border-radius);
  color: var(--sgds-alert-color);
  padding: var(--sgds-padding-lg);
}

.alert.outlined {
  border: var(--sgds-border-width-1) solid var(--sgds-alert-border-color);
}

.alert-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--sgds-gap-2-xs);
  flex: 1 0 0;
  padding-right: var(--sgds-padding-2-xl);
}

.alert-title {
  font-weight: var(--sgds-font-weight-semibold);
}
