@import "../utils/base.scss";
@import "~@govtechsg/sgds/sass/forms/form-check";
@import "~@govtechsg/sgds/sass/forms/labels";
@import "~@govtechsg/sgds/sass/forms/validation";
@import "~@govtechsg/sgds/sass/forms/form-text";
@import "~@govtechsg/sgds/sass/forms/form-control";
@import "~@govtechsg/sgds/sass/forms/form-control-group";
@import "~@govtechsg/sgds/sass/forms/input-group";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


