@import "../../styles/header-class.css";
@import "../../styles/svg.css";

:host {
  --sgds-modal-panel-padding: var(--sgds-spacer-4);
  --sgds-modal-panel-z-index: 105500;
  --sgds-modal-panel-width: 35rem;
  --sgds-modal-panel-height: auto;
  --sgds-modal-panel-bg: var(--sgds-body-bg);
  --sgds-modal-panel-border-radius: var(--sgds-border-radius);
  --sgds-modal-header-border-bottom: var(--sgds-border-width) solid var(--sgds-border-color);
  --sgds-modal-overlay-bg: rgba(0, 0, 0, 0.5);
  --sgds-modal-panel-margin-top: 1.75rem;
  display: contents;
}

.modal {
  display: flex;
  align-items: start;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--sgds-modal-panel-z-index);
  font-family: var(--sgds-body-font-family);
}

.modal.centered .modal-panel {
  margin: auto;
}

.modal-panel {
  display: flex;
  flex-direction: column;
  z-index: var(--sgds-modal-panel-z-index);
  width: var(--sgds-modal-panel-width);
  height: var(--sgds-modal-panel-height);
  max-width: calc(100% - 2.25rem);
  max-height: calc(100% - 2.25rem);
  background-color: var(--sgds-modal-panel-bg);
  border-radius: var(--sgds-modal-panel-border-radius);
  margin-top: var(--sgds-modal-panel-margin-top);
}

.modal-panel:focus {
  outline: none;
}

/* Ensure there's enough vertical padding for phones that don't update vh when chrome appears (e.g. iPhone) */
@media screen and (max-width: 420px) {
  .modal-panel {
    max-height: 80vh;
  }
}

.modal--open .modal-panel {
  display: flex;
  opacity: 1;
  transform: none;
}

.modal-header {
  flex: 0 0 auto;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-weight: 700;
  line-height: 1.33;
  font-size: calc(1.275rem + 0.3vw);
  display: flex;
  padding: var(--sgds-modal-panel-padding);
  align-items: center;
  border-bottom: var(--sgds-modal-header-border-bottom);
}
.modal-header.centered {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-title {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 1rem;
}

.modal-title.centered {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 3rem;
}
.modal-close {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.modal-close.centered {
  align-self: flex-start;
  margin-top: -0.5rem;
}

.modal-body {
  flex: 1 1 auto;
  padding: var(--sgds-modal-panel-padding);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.modal-body.centered {
  text-align: center;
}

.modal-footer {
  flex: 0 0 auto;
  text-align: right;
  padding: var(--sgds-modal-panel-padding);
  padding-top: 0;
}

.modal-footer.centered {
  text-align: center;
  justify-content: center;
}

.modal-footer ::slotted(sgds-button) {
  margin-inline-start: 0.5rem;
}

.modal:not(.modal--has-footer) .modal-footer {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sgds-modal-overlay-bg);
}

[hidden] {
  display: none ;
}