:host([size="sm"]) .modal-panel {
  max-width: 480px;
}

:host([size="lg"]) .modal-panel {
  max-width: 800px;
}

:host([size="fullscreen"]) .modal-panel {
  max-width: 1128px;
}

:host(:not([size="fullscreen"])) .modal-panel {
  background-color: var(--sgds-neutral-bg-inverse);
}

:host([size="fullscreen"]) .modal-overlay {
  background-color: var(--sgds-neutral-bg-inverse);
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 105500;
  font-family: var(--sgds-body-font-family);
}

.modal-panel {
  width: 100%;
  max-width: 640px;
  border-radius: var(--sgds-border-radius-md);
  margin: var(--sgds-spacer-9) var(--sgds-spacer-6);
  position: relative;
}

.modal-panel:focus {
  outline: none;
}

/* Ensure there's enough vertical padding for phones that don't update vh when chrome appears (e.g. iPhone) */
@media screen and (max-width: 420px) {
  .modal-panel {
    max-height: 80vh;
  }
}

.modal.show .modal-panel {
  opacity: 1;
  transform: none;
}

.modal-header {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
  padding: var(--sgds-padding-xl);
}

slot[name="title"]::slotted(*) {
  --sgds-margin-2-xs: var(--sgds-margin-none);
  --sgds-margin-xs: var(--sgds-margin-none);
  --sgds-font-size-6: var(--sgds-font-size-4);
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: 1rem;
  margin: var(--sgds-margin-none, var(--sgds-margin-xs, --sgds-margin-2-xs));
  line-height: var(--sgds-line-height-heading);
  font-size: var(--sgds-font-size-6, --sgds-font-size-4);
}

slot[name="description"]::slotted(*) {
  --sgds-paragraph-spacing-xl: var(--sgds-margin-none);
  margin: var(--sgds-margin-none, --sgds-paragraph-spacing-xl);
  color: var(--sgds-default-color-subtle);
  line-height: var(--sgds-line-height-body);
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 var(--sgds-padding-xl) var(--sgds-padding-xl);
}

.modal-body slot::slotted(*) {
  --sgds-paragraph-spacing-xl: var(--sgds-margin-none);
  margin: var(--sgds-paragraph-spacing-xl, --sgds-margin-none);
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--sgds-gap-md);
  padding: var(--sgds-padding-xl);
}

.modal:not(.has-footer) .modal-footer {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sgds-default-bg-overlay);
}

[hidden] {
  display: none;
}