:root {
  color-scheme: only light;

  --sgds-gray-100: #f7f7f9;
  --sgds-gray-200: #e4e7ec;
  --sgds-gray-300: #d0d5dd;
  --sgds-gray-400: #98a2b3;
  --sgds-gray-500: #667085;
  --sgds-gray-600: #344054;
  --sgds-gray-700: #1d2939;
  --sgds-gray-800: #000;
  --sgds-gray-900: #000;
  --sgds-primary-100: #ece6fb;
  --sgds-primary-200: #c7b6f3;
  --sgds-primary-300: #a386ec;
  --sgds-primary-400: #7e55e4;
  --sgds-primary-500: #5925dc;
  --sgds-primary-600: #491db6;
  --sgds-primary-700: #39178e;
  --sgds-primary-800: #291167;
  --sgds-primary-900: #190a3f;
  --sgds-secondary-100: #ebf1ff;
  --sgds-secondary-200: #d3e2ff;
  --sgds-secondary-300: #9bf;
  --sgds-secondary-400: #70a0ff;
  --sgds-secondary-500: #1f69ff;
  --sgds-secondary-600: #004ff0;
  --sgds-secondary-700: #0040c2;
  --sgds-secondary-800: #003194;
  --sgds-secondary-900: #026;
  --sgds-success-100: #e7f6e9;
  --sgds-success-200: #c4e8c8;
  --sgds-success-300: #9dd9a3;
  --sgds-success-400: #58be62;
  --sgds-success-500: #3bb346;
  --sgds-success-600: #0a8217;
  --sgds-success-700: #2da337;
  --sgds-success-800: #043409;
  --sgds-success-900: #021a05;
  --sgds-info-100: #e2eff8;
  --sgds-info-200: #b9d8ee;
  --sgds-info-300: #90c1e4;
  --sgds-info-400: #58a1d4;
  --sgds-info-500: #59a1d4;
  --sgds-info-600: #0f71bb;
  --sgds-info-700: #0c5b97;
  --sgds-info-800: #0a4776;
  --sgds-info-900: #08395e;
  --sgds-danger-100: #fff4f3;
  --sgds-danger-200: #ffcfc8;
  --sgds-danger-300: #fc9c90;
  --sgds-danger-400: #fb7463;
  --sgds-danger-500: #fa5741;
  --sgds-danger-600: #d7260f;
  --sgds-danger-700: #f8331c;
  --sgds-danger-800: #560f06;
  --sgds-danger-900: #2b0803;
  --sgds-warning-100: #fffaeb;
  --sgds-warning-200: #fef0c7;
  --sgds-warning-300: #fedf89;
  --sgds-warning-400: #fec84b;
  --sgds-warning-500: #fdb022;
  --sgds-warning-600: #f79009;
  --sgds-warning-700: #dc6803;
  --sgds-warning-800: #633a04;
  --sgds-warning-900: #311d02;
  --sgds-primary: var(--sgds-primary-500);
  --sgds-secondary: var(--sgds-secondary-500);
  --sgds-success: var(--sgds-success-600);
  --sgds-info: var(--sgds-info-600);
  --sgds-warning: var(--sgds-warning-600);
  --sgds-danger: var(--sgds-danger-600);
  --sgds-light: var(--sgds-gray-100);
  --sgds-dark: #000;
  --sgds-white: #fff;
  
  /* Alerts, Badge, Button */
  --sgds-primary-filled: var(--sgds-primary);
  --sgds-secondary-filled: var(--sgds-secondary);
  --sgds-success-filled: var(--sgds-success);
  --sgds-info-filled: var(--sgds-info);
  --sgds-warning-filled: var(--sgds-warning);
  --sgds-danger-filled: var(--sgds-danger);
  --sgds-light-filled: var(--sgds-gray-200);
  --sgds-dark-filled: var(--sgds-dark);
  --sgds-primary-text-emphasis: var(--sgds-primary);
  --sgds-secondary-text-emphasis: var(--sgds-secondary);
  --sgds-success-text-emphasis: var(--sgds-success);
  --sgds-info-text-emphasis: var(--sgds-info);
  --sgds-warning-text-emphasis: var(--sgds-warning);
  --sgds-danger-text-emphasis: var(--sgds-danger);
  --sgds-light-text-emphasis: var(--sgds-gray-600);
  --sgds-dark-text-emphasis: var(--sgds-white);
  --sgds-primary-bg-subtle: var(--sgds-primary-100);
  --sgds-secondary-bg-subtle: var(--sgds-secondary-100);
  --sgds-success-bg-subtle: var(--sgds-success-100);
  --sgds-info-bg-subtle: var(--sgds-info-100);
  --sgds-warning-bg-subtle: var(--sgds-warning-100);
  --sgds-danger-bg-subtle: var(--sgds-danger-100);
  --sgds-light-bg-subtle: var(--sgds-gray-100);
  --sgds-dark-bg-subtle: var(--sgds-gray-800);
  --sgds-primary-border-subtle: var(--sgds-primary-400);
  --sgds-secondary-border-subtle: var(--sgds-secondary-400);
  --sgds-success-border-subtle: var(--sgds-success-400);
  --sgds-info-border-subtle: var(--sgds-info-400);
  --sgds-warning-border-subtle: var(--sgds-warning-400);
  --sgds-danger-border-subtle: var(--sgds-danger-400);
  --sgds-light-border-subtle: var(--sgds-gray-400);
  --sgds-dark-border-subtle: var(--sgds-gray-400);

  --sgds-font-sans-serif: "Inter", system-ui, -apple-system, Roboto, Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Noto Color Emoji";
  --sgds-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sgds-body-font-family: var(--sgds-font-sans-serif);
  --sgds-body-font-size: 1rem;
  --sgds-body-font-weight: 400;
  --sgds-line-height-sm: 1.2;
  --sgds-line-height-md: 1.5;
  --sgds-line-height-lg: 2;
  --sgds-body-line-height: var(--sgds-line-height-lg);
  --sgds-body-color: var(--sgds-gray-700);
  --sgds-body-bg: var(--sgds-white);
  --sgds-border-width: 1px;
  --sgds-border-style: solid;
  --sgds-border-color: var(--sgds-gray-400);
  --sgds-border-color-translucent: rgba(0, 0, 0, 0.175);
  --sgds-border-radius: 0.25rem;
  --sgds-border-radius-sm: 0.2rem;
  --sgds-border-radius-lg: 0.3rem;
  --sgds-border-radius-xl: 1rem;
  --sgds-border-radius-pill: 50rem;
  --sgds-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --sgds-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --sgds-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --sgds-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --sgds-focus-box-shadow: 0px 0px 0px var(--sgds-focus-width) var(--sgds-info-300);
  --sgds-focus-width: 0.13rem;
  --sgds-disabled-color: var(--sgds-gray-400);
  --sgds-disabled-opacity: 0.5;
  --sgds-disabled-bg: var(--sgds-gray-200);

  /* Links */
  --sgds-link: var(--sgds-info);
  --sgds-link-decoration: underline;
  --sgds-link-hover-color: var(--sgds-info-700);

  /* Form */
  --sgds-form-valid-color: var(--sgds-success);
  --sgds-form-invalid-color: var(--sgds-danger);
  --sgds-form-valid-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23006b00'%3E%3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z'/%3E%3C/svg%3E");
  --sgds-form-invalid-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23b90000'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z'/%3E%3C/svg%3E");
  --sgds-form-feedback-font-size: 0.875rem;
  --sgds-form-border-color: var(--sgds-border-color);
  --sgds-form-label-font-weight: 700;
  --sgds-form-label-color: var(--sgds-body-color);
  --sgds-form-hint-text-color: var(--sgds-gray-500);
  --sgds-form-hint-text-font-weight: var(--sgds-body-font-weight);
  --sgds-form-hint-text-font-size: var(--sgds-body-font-size);
  --sgds-form-focus-box-shadow: 0px 0px 0px var(--sgds-focus-width) var(--sgds-info-300);
  --sgds-form-focus-invalid-box-shadow: 0px 0px 0px var(--sgds-focus-width) var(--sgds-danger-300);
  --sgds-form-focus-valid-box-shadow: 0px 0px 0px var(--sgds-focus-width) var(--sgds-success-300);
  --sgds-form-bg: var(--sgds-body-bg);
  --sgds-form-border-width: 1px;
  --sgds-form-inline-margin-right: var(--sgds-spacer-4);
  --sgds-form-input-margin-right: var(--sgds-spacer-2);
  /* Input, Button */
  --sgds-input-btn-padding-x: 1rem;
  --sgds-input-btn-padding-y: 0.4375rem;
  /* Spacers */
  --sgds-spacer-0: 0rem;
  --sgds-spacer-1: 0.25rem;
  --sgds-spacer-2: 0.5rem;
  --sgds-spacer-3: 1rem;
  --sgds-spacer-4: 1.5rem;
  --sgds-spacer-5: 2rem;
  --sgds-spacer-6: 2.5rem;
  --sgds-spacer-7: 3rem;
  --sgds-spacer-8: 3.5rem;
}