@import "./root.css";
:root {
  color-scheme: only light;

  /* Semantic - Default Colors */
  --sgds-bg-default: var(--sgds-gray-000);
  --sgds-bg-alternate: var(--sgds-gray-100);
  --sgds-bg-fixed-light: var(--sgds-gray-000);
  --sgds-bg-fixed-dark: var(--sgds-gray-1100);
  --sgds-bg-overlay: oklch(from var(--sgds-gray-1100) l c h / 0.5);
  --sgds-bg-translucent: oklch(from var(--sgds-gray-1100) l c h / 0.1);
  --sgds-bg-translucent-subtle: oklch(from var(--sgds-gray-1100) l c h / 0.05);
  --sgds-bg-transparent: transparent;
  --sgds-surface-default: var(--sgds-gray-000);
  --sgds-surface-raised: var(--sgds-gray-100);
  --sgds-surface-inverse: var(--sgds-gray-900);
  --sgds-surface-fixed-light: var(--sgds-gray-000);
  --sgds-surface-fixed-dark: var(--sgds-gray-900);
  --sgds-color-default: var(--sgds-gray-1000);
  --sgds-color-subtle: var(--sgds-gray-700);
  --sgds-color-muted: var(--sgds-gray-300);
  --sgds-color-inverse: var(--sgds-gray-100);
  --sgds-color-fixed-light: var(--sgds-gray-100);
  --sgds-color-fixed-dark: var(--sgds-gray-1000);
  --sgds-color-transparent: transparent;
  --sgds-border-color-default: var(--sgds-gray-500);
  --sgds-border-color-emphasis: var(--sgds-gray-800);
  --sgds-border-color-muted: var(--sgds-gray-200);
  --sgds-border-color-fixed-light: var(--sgds-gray-000);
  --sgds-border-color-fixed-dark: var(--sgds-gray-1000);
  --sgds-border-color-translucent: oklch(from var(--sgds-gray-1100) l c h / 0.05);
  --sgds-border-color-transparent: transparent;

  /* Semantic - Primary Colors */
  --sgds-primary-bg-default: var(--sgds-product-primary-700);
  --sgds-primary-bg-muted: var(--sgds-product-primary-100);
  --sgds-primary-bg-translucent: oklch(from var(--sgds-product-primary-700) l c h / 0.1);
  --sgds-primary-surface-default: var(--sgds-product-primary-600);
  --sgds-primary-surface-emphasis: var(--sgds-product-primary-700);
  --sgds-primary-surface-muted: var(--sgds-product-primary-100);
  --sgds-primary-surface-translucent: oklch(from var(--sgds-product-primary-700) l c h / 0.1);
  --sgds-primary-color-default: var(--sgds-product-primary-600);
  --sgds-primary-color-emphasis: var(--sgds-product-primary-700);
  --sgds-primary-color-fixed-light: var(--sgds-product-primary-400);
  --sgds-primary-color-fixed-dark: var(--sgds-product-primary-600);
  --sgds-primary-border-color-default: var(--sgds-product-primary-600);
  --sgds-primary-border-color-emphasis: var(--sgds-product-primary-700);
  --sgds-primary-border-color-muted: var(--sgds-product-primary-200);

  /* Semantic - Accent Colors */
  --sgds-accent-bg-default: var(--sgds-blue-700);
  --sgds-accent-bg-muted: var(--sgds-blue-100);
  --sgds-accent-surface-default: var(--sgds-blue-600);
  --sgds-accent-surface-emphasis: var(--sgds-blue-700);
  --sgds-accent-surface-muted: var(--sgds-blue-100);
  --sgds-accent-color-default: var(--sgds-blue-600);
  --sgds-accent-color-emphasis: var(--sgds-blue-700);
  --sgds-accent-color-fixed-light: var(--sgds-blue-400);
  --sgds-accent-color-fixed-dark: var(--sgds-blue-600);
  --sgds-accent-border-color-default: var(--sgds-blue-500);
  --sgds-accent-border-color-emphasis: var(--sgds-blue-700);
  --sgds-accent-border-color-muted: var(--sgds-blue-200);

  /* Semantic - Success Colors */
  --sgds-success-bg-default: var(--sgds-green-700);
  --sgds-success-bg-muted: var(--sgds-green-100);
  --sgds-success-surface-default: var(--sgds-green-600);
  --sgds-success-surface-emphasis: var(--sgds-green-700);
  --sgds-success-surface-muted: var(--sgds-green-100);
  --sgds-success-color-default: var(--sgds-green-600);
  --sgds-success-color-emphasis: var(--sgds-green-700);
  --sgds-success-color-fixed-light: var(--sgds-green-400);
  --sgds-success-color-fixed-dark: var(--sgds-green-600);
  --sgds-success-border-color-default: var(--sgds-green-600);
  --sgds-success-border-color-emphasis: var(--sgds-green-700);
  --sgds-success-border-color-muted: var(--sgds-green-200);

  /* Semantic - Danger Colors */
  --sgds-danger-bg-default: var(--sgds-red-700);
  --sgds-danger-bg-muted: var(--sgds-red-100);
  --sgds-danger-surface-default: var(--sgds-red-600);
  --sgds-danger-surface-emphasis: var(--sgds-red-700);
  --sgds-danger-surface-muted: var(--sgds-red-100);
  --sgds-danger-surface-translucent: oklch(from var(--sgds-red-700) l c h / 0.1);
  --sgds-danger-color-default: var(--sgds-red-600);
  --sgds-danger-color-emphasis: var(--sgds-red-700);
  --sgds-danger-color-fixed-light: var(--sgds-red-400);
  --sgds-danger-color-fixed-dark: var(--sgds-red-600);
  --sgds-danger-border-color-default: var(--sgds-red-600);
  --sgds-danger-border-color-emphasis: var(--sgds-red-700);
  --sgds-danger-border-color-muted: var(--sgds-red-200);

  /* Semantic - Warning Colors */
  --sgds-warning-bg-default: var(--sgds-yellow-200);
  --sgds-warning-bg-muted: var(--sgds-yellow-100);
  --sgds-warning-surface-default: var(--sgds-yellow-200);
  --sgds-warning-surface-emphasis: var(--sgds-yellow-600);
  --sgds-warning-surface-muted: var(--sgds-yellow-100);
  --sgds-warning-color-default: var(--sgds-yellow-600);
  --sgds-warning-color-emphasis: var(--sgds-yellow-700);
  --sgds-warning-color-fixed-light: var(--sgds-yellow-300);
  --sgds-warning-color-fixed-dark: var(--sgds-yellow-600);
  --sgds-warning-border-color-default: var(--sgds-yellow-600);
  --sgds-warning-border-color-emphasis: var(--sgds-yellow-700);
  --sgds-warning-border-color-muted: var(--sgds-yellow-200);

  /* Semantic - Purple Colors */
  --sgds-purple-bg-default: var(--sgds-purple-700);
  --sgds-purple-bg-muted: var(--sgds-purple-100);
  --sgds-purple-surface-default: var(--sgds-purple-600);
  --sgds-purple-surface-emphasis: var(--sgds-purple-700);
  --sgds-purple-surface-muted: var(--sgds-purple-100);
  --sgds-purple-color-default: var(--sgds-purple-600);
  --sgds-purple-color-emphasis: var(--sgds-purple-700);
  --sgds-purple-color-fixed-light: var(--sgds-purple-400);
  --sgds-purple-color-fixed-dark: var(--sgds-purple-600);
  --sgds-purple-border-color-default: var(--sgds-purple-500);
  --sgds-purple-border-color-emphasis: var(--sgds-purple-700);
  --sgds-purple-border-color-muted: var(--sgds-purple-200);

  /* Semantic - Cyan Colors */
  --sgds-cyan-bg-default: var(--sgds-cyan-700);
  --sgds-cyan-bg-muted: var(--sgds-cyan-100);
  --sgds-cyan-surface-default: var(--sgds-cyan-600);
  --sgds-cyan-surface-emphasis: var(--sgds-cyan-700);
  --sgds-cyan-surface-muted: var(--sgds-cyan-100);
  --sgds-cyan-color-default: var(--sgds-cyan-600);
  --sgds-cyan-color-emphasis: var(--sgds-cyan-700);
  --sgds-cyan-color-fixed-light: var(--sgds-cyan-400);
  --sgds-cyan-color-fixed-dark: var(--sgds-cyan-600);
  --sgds-cyan-border-color-default: var(--sgds-cyan-500);
  --sgds-cyan-border-color-emphasis: var(--sgds-cyan-700);
  --sgds-cyan-border-color-muted: var(--sgds-cyan-200);

  /* Semantic - Neutral Colors */
  --sgds-neutral-bg-default: var(--sgds-gray-700);
  --sgds-neutral-bg-muted: var(--sgds-gray-100);
  --sgds-neutral-surface-default: var(--sgds-gray-700);
  --sgds-neutral-surface-emphasis: var(--sgds-gray-800);
  --sgds-neutral-surface-muted: var(--sgds-gray-100);
  --sgds-neutral-surface-translucent: oklch(from var(--sgds-gray-1100) l c h / 0.15);
  --sgds-neutral-color-default: var(--sgds-gray-600);
  --sgds-neutral-color-emphasis: var(--sgds-gray-700);
  --sgds-neutral-color-fixed-light: var(--sgds-gray-400);
  --sgds-neutral-color-fixed-dark: var(--sgds-gray-600);
  --sgds-neutral-border-color-default: var(--sgds-gray-600);
  --sgds-neutral-border-color-emphasis: var(--sgds-gray-700);
  --sgds-neutral-border-color-muted: var(--sgds-gray-200);

  /* Semantic - Display Colors */
  --sgds-display-color-default: var(--sgds-gray-1000);
  --sgds-display-color-subtle: var(--sgds-gray-800);

  /* Semantic - Heading Colors */
  --sgds-heading-color-default: var(--sgds-gray-900);
  --sgds-heading-color-subtle: var(--sgds-gray-800);

  /* Semantic - Body Colors */
  --sgds-body-color-default: var(--sgds-gray-1000);
  --sgds-body-color-subtle: var(--sgds-gray-700);

  /* Semantic - Label Colors */
  --sgds-label-color-default: var(--sgds-gray-900);
  --sgds-label-color-subtle: var(--sgds-gray-700);

  /* Semantic - Link Color */
  --sgds-link-color-default: var(--sgds-blue-600);
  --sgds-link-color-emphasis: var(--sgds-blue-700);

  /* Semantic - Form Color */
  --sgds-form-surface-default: var(--sgds-gray-000);
  --sgds-form-surface-raised: var(--sgds-gray-100);
  --sgds-form-surface-emphasis: var(--sgds-gray-700);
  --sgds-form-surface-subtle: var(--sgds-gray-400);
  --sgds-form-surface-muted: var(--sgds-gray-200);
  --sgds-form-surface-inverse: var(--sgds-gray-900);
  --sgds-form-surface-fixed-light: var(--sgds-gray-000);
  --sgds-form-surface-fixed-dark: var(--sgds-gray-900);
  --sgds-form-color-default: var(--sgds-gray-900);
  --sgds-form-color-subtle: var(--sgds-gray-700);
  --sgds-form-color-muted: var(--sgds-gray-300);
  --sgds-form-color-inverse: var(--sgds-gray-100);
  --sgds-form-color-fixed-light: var(--sgds-gray-000);
  --sgds-form-color-fixed-dark: var(--sgds-gray-1100);
  --sgds-form-primary-surface-default: var(--sgds-product-primary-600);
  --sgds-form-primary-surface-emphasis: var(--sgds-product-primary-700);
  --sgds-form-primary-color-default: var(--sgds-product-primary-600);
  --sgds-form-success-surface-default: var(--sgds-green-600);
  --sgds-form-success-color-default: var(--sgds-green-600);
  --sgds-form-success-border-color-default: var(--sgds-green-500);
  --sgds-form-danger-surface-default: var(--sgds-red-600);
  --sgds-form-danger-color-default: var(--sgds-red-600);
  --sgds-form-danger-border-color-default: var(--sgds-red-500);
}
