@import "./root.css";
:root.sgds-night-theme {
  color-scheme: only dark;

  /* Semantic - Default Colors */
  --sgds-default-bg: var(--sgds-gray-900);
  --sgds-default-bg-muted: var(--sgds-gray-700);
  --sgds-default-bg-subtle: var(--sgds-gray-400);
  --sgds-default-bg-emphasis: var(--sgds-gray-800);
  --sgds-default-bg-translucent: oklch(from var(--sgds-gray-000) l c h / 0.1);
  --sgds-default-bg-translucent-subtle: oklch(from var(--sgds-gray-000) l c h / 0.1);
  --sgds-default-bg-transparent: transparent;
  --sgds-default-color: var(--sgds-gray-000);
  --sgds-default-color-inverse: var(--sgds-gray-900);
  --sgds-default-color-muted: var(--sgds-gray-700);
  --sgds-default-color-subtle: var(--sgds-gray-600);
  --sgds-default-color-emphasis: var(--sgds-gray-100);
  --sgds-default-color-on-dark: var(--sgds-gray-000);
  --sgds-default-color-on-light: var(--sgds-gray-800);
  --sgds-default-color-transparent: transparent;
  --sgds-default-border-color: var(--sgds-gray-500);
  --sgds-default-border-color-inverse: var(--sgds-gray-900);
  --sgds-default-border-color-muted: var(--sgds-gray-700);
  --sgds-default-border-color-subtle: var(--sgds-gray-600);
  --sgds-default-border-color-emphasis: var(--sgds-gray-200);
  --sgds-default-border-color-transparent: transparent;

  /* Semantic - Alternate Color */
  --sgds-alternate-bg: var(--sgds-gray-800);

  /* Semantic - Primary Colors */
  --sgds-primary-bg: var(--sgds-brand-500);
  --sgds-primary-bg-subtle: var(--sgds-brand-200);
  --sgds-primary-bg-emphasis: var(--sgds-brand-600);
  --sgds-primary-bg-translucent: oklch(from var(--sgds-brand-100) l c h / 0.1);
  --sgds-primary-color: var(--sgds-brand-400);
  --sgds-primary-color-emphasis: var(--sgds-brand-500);
  --sgds-primary-border-color: var(--sgds-brand-400);
  --sgds-primary-border-color-subtle: var(--sgds-brand-300);
  --sgds-primary-border-color-emphasis: var(--sgds-brand-700);

  /* Semantic - Success Colors */
  --sgds-success-bg: var(--sgds-green-500);
  --sgds-success-bg-subtle: var(--sgds-green-200);
  --sgds-success-bg-emphasis: var(--sgds-green-600);
  --sgds-success-color: var(--sgds-green-300);
  --sgds-success-color-emphasis: var(--sgds-green-400);
  --sgds-success-border-color: var(--sgds-green-500);
  --sgds-success-border-color-subtle: var(--sgds-green-300);
  --sgds-success-border-color-emphasis: var(--sgds-green-700);

  /* Semantic - Danger Colors */
  --sgds-danger-bg: var(--sgds-red-500);
  --sgds-danger-bg-subtle: var(--sgds-red-200);
  --sgds-danger-bg-emphasis: var(--sgds-red-600);
  --sgds-danger-color: var(--sgds-red-300);
  --sgds-danger-color-emphasis: var(--sgds-red-400);
  --sgds-danger-border-color: var(--sgds-red-500);
  --sgds-danger-border-color-subtle: var(--sgds-red-300);
  --sgds-danger-border-color-emphasis: var(--sgds-red-700);

  /* Semantic - Warning Colors */
  --sgds-warning-bg: var(--sgds-yellow-500);
  --sgds-warning-bg-subtle: var(--sgds-yellow-200);
  --sgds-warning-bg-emphasis: var(--sgds-yellow-600);
  --sgds-warning-color: var(--sgds-yellow-300);
  --sgds-warning-color-emphasis: var(--sgds-yellow-400);
  --sgds-warning-border-color: var(--sgds-yellow-500);
  --sgds-warning-border-color-subtle: var(--sgds-yellow-300);
  --sgds-warning-border-color-emphasis: var(--sgds-yellow-700);

  /* Semantic - Neutral Colors */
  --sgds-neutral-bg: var(--sgds-gray-600);
  --sgds-neutral-bg-inverse: var(--sgds-gray-800);
  --sgds-neutral-bg-subtle: var(--sgds-gray-200);
  --sgds-neutral-color: var(--sgds-gray-300);
  --sgds-neutral-color-emphasis: var(--sgds-gray-500);
  --sgds-neutral-border-color: var(--sgds-gray-500);
  --sgds-neutral-border-color-subtle: var(--sgds-gray-300);
  --sgds-neutral-border-color-emphasis: var(--sgds-gray-700);

  /* Semantic - Display Colors */
  --sgds-display-color: var(--sgds-gray-000);
  --sgds-display-color-subtle: var(--sgds-gray-200);

  /* Semantic - Header Colors */
  --sgds-header-color: var(--sgds-gray-100);
  --sgds-header-color-subtle: var(--sgds-gray-200);

  /* Semantic - Subtitle Colors */
  --sgds-subtitle-color: var(--sgds-gray-100);
  --sgds-subtitle-color-subtle: var(--sgds-gray-200);

  /* Semantic - Body Colors */
  --sgds-body-color: var(--sgds-gray-000);
  --sgds-body-color-subtle: var(--sgds-gray-200);

  /* Semantic - Label Colors */
  --sgds-label-color: var(--sgds-gray-100);
  --sgds-label-color-subtle: var(--sgds-gray-300);

  /* Semantic - Caption Color */
  --sgds-caption-color: var(--sgds-gray-300);

  /* Semantic - Overline Color */
  --sgds-overline-color: var(--sgds-gray-300);

  /* Semantic - Link Color */
  --sgds-link-color: var(--sgds-blue-300);
  --sgds-link-color-emphasis: var(--sgds-blue-400);

  /* Semantic - Form Color */

  --sgds-form-bg: var(--sgds-gray-900);
  --sgds-form-bg-inverse: var(--sgds-gray-000);
  --sgds-form-bg-muted: var(--sgds-gray-800);
  --sgds-form-bg-subtle: var(--sgds-gray-500);
  --sgds-form-bg-emphasis: var(--sgds-gray-200);
  --sgds-form-bg-translucent: #FFFFFF19;
  --sgds-form-bg-transparent: #FFFFFF00;
  --sgds-form-bg-on-dark: var(--sgds-gray-000);
  --sgds-form-bg-on-light: var(--sgds-gray-800);
  --sgds-form-color: var(--sgds-gray-000);
  --sgds-form-color-inverse: var(--sgds-gray-800);
  --sgds-form-color-muted: var(--sgds-gray-600);
  --sgds-form-color-subtle: var(--sgds-gray-300);
  --sgds-form-color-on-dark: var(--sgds-gray-000);
  --sgds-form-color-on-light: var(--sgds-gray-800);
  --sgds-form-primary-bg: var(--sgds-purple-500);
  --sgds-form-primary-bg-emphasis: var(--sgds-purple-600);
  --sgds-form-border-color: var(--sgds-gray-400);
  --sgds-form-border-color-muted: var(--sgds-gray-700);
  --sgds-form-border-color-emphasis: var(--sgds-gray-100);
  --sgds-form-success-bg: var(--sgds-green-500);
  --sgds-form-success-color: var(--sgds-green-400);
  --sgds-form-success-border-color: var(--sgds-green-500);
  --sgds-form-danger-bg: var(--sgds-red-500);
  --sgds-form-danger-color: var(--sgds-red-400);
  --sgds-form-danger-border-color: var(--sgds-red-500);

}
