@import "../utils/base.scss";
@import "~@govtechsg/sgds/sass/navbar";
@import "~@govtechsg/sgds/sass/transitions";

.navbar-nav {
  display: flex;
  align-self: center;
  gap: 1rem;
  height: 100%;
  // width: 100%;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

slot[name="non-collapsible"] {
  display: flex;
  gap: 1rem;
  align-items: center;
}