@import "../utils/base.scss";
@import "~@govtechsg/sgds/sass/navbar";

.nav-item {
  height: 100%;
}

a.nav-link {
  display: flex;
  color: #344054;
  border-bottom: $navbar-border-bottom-height solid transparent;
  min-height: 100%;
  align-items: center;

  &.active,
  &:hover {
    color: $primary;
    border-color: $primary;
  }
}
