@import "../utils/base.scss";
@import "~@govtechsg/sgds/sass/navbar";
@import "~@govtechsg/sgds/sass/transitions";
@import "~@govtechsg/sgds/sass/offcanvas";
.navbar-nav {
  display: flex;
  align-self: center;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  width: 100%;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

slot[name="non-collapsible"] {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.slot-end {
    display: flex;
    margin-left: auto;
    align-items: stretch;
    gap: 1rem;

}

// there is no wildcard selector for element tag names in css :/
.slot-end::slotted(:not([name$="-mainnav-item"])){
  align-self: center;
}