
        @import "./root.css";

        :root.sgds-night-theme {
            color-scheme: only dark;
            --sgds-bg-default: var(--sgds-gray-1100);
--sgds-bg-alternate: var(--sgds-gray-1000);
--sgds-bg-fixed-light: var(--sgds-gray-0);
--sgds-bg-fixed-dark: var(--sgds-gray-1100);
--sgds-bg-overlay: #0e0e0e66;
--sgds-bg-translucent: #ffffff1a;
--sgds-bg-translucent-subtle: #ffffff1a;
--sgds-bg-transparent: #ffffff00;
--sgds-surface-default: var(--sgds-gray-900);
--sgds-surface-raised: var(--sgds-gray-800);
--sgds-surface-inverse: var(--sgds-gray-0);
--sgds-surface-fixed-light: var(--sgds-gray-0);
--sgds-surface-fixed-dark: var(--sgds-gray-900);
--sgds-color-default: var(--sgds-gray-100);
--sgds-color-subtle: var(--sgds-gray-400);
--sgds-color-muted: var(--sgds-gray-800);
--sgds-color-inverse: var(--sgds-gray-1000);
--sgds-color-fixed-light: var(--sgds-gray-100);
--sgds-color-fixed-dark: var(--sgds-gray-1000);
--sgds-color-transparent: #ffffff00;
--sgds-border-color-default: var(--sgds-gray-500);
--sgds-border-color-emphasis: var(--sgds-gray-200);
--sgds-border-color-muted: var(--sgds-gray-800);
--sgds-border-color-fixed-light: var(--sgds-gray-0);
--sgds-border-color-fixed-dark: var(--sgds-gray-1000);
--sgds-border-color-translucent: #ffffff1a;
--sgds-primary-bg-default: var(--sgds-product-primary-600);
--sgds-primary-bg-muted: var(--sgds-product-primary-200);
--sgds-primary-bg-translucent: #f4f2fe0d;
--sgds-primary-surface-default: var(--sgds-product-primary-600);
--sgds-primary-surface-emphasis: var(--sgds-product-primary-700);
--sgds-primary-surface-muted: var(--sgds-product-primary-100);
--sgds-primary-surface-translucent: #f4f2fe1a;
--sgds-primary-color-default: var(--sgds-product-primary-400);
--sgds-primary-color-emphasis: var(--sgds-product-primary-300);
--sgds-primary-color-fixed-light: var(--sgds-product-primary-400);
--sgds-primary-color-fixed-dark: var(--sgds-product-primary-600);
--sgds-primary-border-color-default: var(--sgds-product-primary-400);
--sgds-primary-border-color-emphasis: var(--sgds-product-primary-200);
--sgds-primary-border-color-muted: var(--sgds-product-primary-700);
--sgds-accent-bg-default: var(--sgds-blue-600);
--sgds-accent-bg-muted: var(--sgds-blue-200);
--sgds-accent-surface-default: var(--sgds-blue-600);
--sgds-accent-surface-emphasis: var(--sgds-blue-700);
--sgds-accent-surface-muted: var(--sgds-blue-100);
--sgds-accent-color-default: var(--sgds-blue-400);
--sgds-accent-color-emphasis: var(--sgds-blue-300);
--sgds-accent-color-fixed-light: var(--sgds-blue-400);
--sgds-accent-color-fixed-dark: var(--sgds-blue-600);
--sgds-accent-border-color-default: var(--sgds-blue-500);
--sgds-accent-border-color-emphasis: var(--sgds-blue-200);
--sgds-accent-border-color-muted: var(--sgds-blue-700);
--sgds-success-bg-default: var(--sgds-green-600);
--sgds-success-bg-muted: var(--sgds-green-200);
--sgds-success-surface-default: var(--sgds-green-600);
--sgds-success-surface-emphasis: var(--sgds-green-700);
--sgds-success-surface-muted: var(--sgds-green-100);
--sgds-success-color-default: var(--sgds-green-400);
--sgds-success-color-emphasis: var(--sgds-green-300);
--sgds-success-color-fixed-light: var(--sgds-green-400);
--sgds-success-color-fixed-dark: var(--sgds-green-600);
--sgds-success-border-color-default: var(--sgds-green-400);
--sgds-success-border-color-emphasis: var(--sgds-green-200);
--sgds-success-border-color-muted: var(--sgds-green-700);
--sgds-danger-300: var(--sgds-red-300);
--sgds-danger-bg-default: var(--sgds-red-600);
--sgds-danger-bg-muted: var(--sgds-red-200);
--sgds-danger-surface-default: var(--sgds-red-600);
--sgds-danger-surface-emphasis: var(--sgds-red-700);
--sgds-danger-surface-muted: var(--sgds-red-100);
--sgds-danger-surface-translucent: #fcf1f11a;
--sgds-danger-color-default: var(--sgds-red-400);
--sgds-danger-color-emphasis: var(--sgds-red-300);
--sgds-danger-color-fixed-light: var(--sgds-red-400);
--sgds-danger-color-fixed-dark: var(--sgds-red-600);
--sgds-danger-border-color-default: var(--sgds-red-400);
--sgds-danger-border-color-emphasis: var(--sgds-red-200);
--sgds-danger-border-color-muted: var(--sgds-red-700);
--sgds-warning-bg-default: var(--sgds-yellow-300);
--sgds-warning-bg-muted: var(--sgds-yellow-200);
--sgds-warning-surface-default: var(--sgds-yellow-200);
--sgds-warning-surface-emphasis: var(--sgds-yellow-600);
--sgds-warning-surface-muted: var(--sgds-yellow-100);
--sgds-warning-color-default: var(--sgds-yellow-300);
--sgds-warning-color-emphasis: var(--sgds-yellow-200);
--sgds-warning-color-fixed-light: var(--sgds-yellow-300);
--sgds-warning-color-fixed-dark: var(--sgds-yellow-600);
--sgds-warning-border-color-default: var(--sgds-yellow-400);
--sgds-warning-border-color-emphasis: var(--sgds-yellow-200);
--sgds-warning-border-color-muted: var(--sgds-yellow-700);
--sgds-purple-bg-default: var(--sgds-purple-600);
--sgds-purple-bg-muted: var(--sgds-purple-200);
--sgds-purple-surface-default: var(--sgds-purple-600);
--sgds-purple-surface-emphasis: var(--sgds-purple-700);
--sgds-purple-surface-muted: var(--sgds-purple-100);
--sgds-purple-color-default: var(--sgds-purple-400);
--sgds-purple-color-emphasis: var(--sgds-purple-300);
--sgds-purple-color-fixed-light: var(--sgds-purple-400);
--sgds-purple-color-fixed-dark: var(--sgds-purple-600);
--sgds-purple-border-color-default: var(--sgds-purple-500);
--sgds-purple-border-color-emphasis: var(--sgds-purple-200);
--sgds-purple-border-color-muted: var(--sgds-purple-700);
--sgds-cyan-bg-default: var(--sgds-cyan-600);
--sgds-cyan-bg-muted: var(--sgds-cyan-200);
--sgds-cyan-surface-default: var(--sgds-cyan-600);
--sgds-cyan-surface-emphasis: var(--sgds-cyan-700);
--sgds-cyan-surface-muted: var(--sgds-cyan-100);
--sgds-cyan-color-default: var(--sgds-cyan-400);
--sgds-cyan-color-emphasis: var(--sgds-cyan-300);
--sgds-cyan-color-fixed-light: var(--sgds-cyan-400);
--sgds-cyan-color-fixed-dark: var(--sgds-cyan-600);
--sgds-cyan-border-color-default: var(--sgds-cyan-500);
--sgds-cyan-border-color-emphasis: var(--sgds-cyan-200);
--sgds-cyan-border-color-muted: var(--sgds-cyan-700);
--sgds-info-bg: var(--sgds-blue-500);
--sgds-neutral-bg-default: var(--sgds-gray-600);
--sgds-neutral-bg-muted: var(--sgds-gray-200);
--sgds-neutral-surface-default: var(--sgds-gray-600);
--sgds-neutral-surface-emphasis: var(--sgds-gray-700);
--sgds-neutral-surface-muted: var(--sgds-gray-200);
--sgds-neutral-surface-translucent: #ffffff26;
--sgds-neutral-color-default: var(--sgds-gray-400);
--sgds-neutral-color-emphasis: var(--sgds-gray-300);
--sgds-neutral-color-fixed-light: var(--sgds-gray-400);
--sgds-neutral-color-fixed-dark: var(--sgds-gray-600);
--sgds-neutral-border-color-default: var(--sgds-gray-400);
--sgds-neutral-border-color-emphasis: var(--sgds-gray-200);
--sgds-neutral-border-color-muted: var(--sgds-gray-700);
--sgds-border-color-transparent: #ffffff00;
--sgds-display-color-default: var(--sgds-gray-0);
--sgds-display-color-subtle: var(--sgds-gray-200);
--sgds-heading-color-default: var(--sgds-gray-100);
--sgds-heading-color-subtle: var(--sgds-gray-200);
--sgds-subtitle-color: var(--sgds-gray-100);
--sgds-subtitle-color-subtle: var(--sgds-gray-200);
--sgds-body-color-default: var(--sgds-gray-0);
--sgds-body-color-subtle: var(--sgds-gray-300);
--sgds-label-color-default: var(--sgds-gray-100);
--sgds-label-color-subtle: var(--sgds-gray-300);
--sgds-link-color-default: var(--sgds-blue-400);
--sgds-link-color-emphasis: var(--sgds-blue-300);
--sgds-form-surface-default: var(--sgds-gray-900);
--sgds-form-surface-raised: var(--sgds-gray-800);
--sgds-form-surface-emphasis: var(--sgds-gray-200);
--sgds-form-surface-subtle: var(--sgds-gray-500);
--sgds-form-surface-muted: var(--sgds-gray-700);
--sgds-form-surface-inverse: var(--sgds-gray-0);
--sgds-form-surface-fixed-light: var(--sgds-gray-0);
--sgds-form-surface-fixed-dark: var(--sgds-gray-900);
--sgds-form-color-default: var(--sgds-gray-100);
--sgds-form-color-subtle: var(--sgds-gray-300);
--sgds-form-color-muted: var(--sgds-gray-700);
--sgds-form-color-inverse: var(--sgds-gray-900);
--sgds-form-color-fixed-light: var(--sgds-gray-0);
--sgds-form-color-fixed-dark: var(--sgds-gray-1100);
--sgds-form-primary-surface-default: var(--sgds-product-primary-600);
--sgds-form-primary-surface-emphasis: var(--sgds-product-primary-700);
--sgds-form-primary-color-default: var(--sgds-product-primary-400);
--sgds-form-border-color-default: var(--sgds-gray-500);
--sgds-form-border-color-emphasis: var(--sgds-gray-300);
--sgds-form-success-surface-default: var(--sgds-green-600);
--sgds-form-success-color-default: var(--sgds-green-500);
--sgds-form-success-border-color-default: var(--sgds-green-500);
--sgds-form-danger-surface-default: var(--sgds-red-600);
--sgds-form-danger-color-default: var(--sgds-red-500);
--sgds-form-danger-border-color-default: var(--sgds-red-500);
--sgds-form-border-width-default: var(--sgds-border-width-1);
--sgds-form-border-width-thick: var(--sgds-border-width-2);
--sgds-form-border-radius-none: var(--sgds-border-radius-none);
--sgds-form-border-radius-xs: var(--sgds-border-radius-xs);
--sgds-form-border-radius-sm: var(--sgds-border-radius-sm);
--sgds-form-border-radius-md: var(--sgds-border-radius-md);
--sgds-form-border-radius-full: var(--sgds-border-radius-full);
--sgds-form-padding-x: var(--sgds-padding-md);
--sgds-form-padding-y: var(--sgds-padding-sm);
--sgds-form-padding-inline-xs: var(--sgds-padding-3-xs);
--sgds-form-padding-inline-sm: var(--sgds-padding-2-xs);
--sgds-form-padding-inline-md: var(--sgds-padding-xs);
--sgds-form-padding-inline-lg: var(--sgds-padding-sm);
--sgds-form-padding-inline-xl: var(--sgds-padding-md);
--sgds-form-gap-sm: var(--sgds-gap-2-xs);
--sgds-form-gap-md: var(--sgds-gap-xs);
--sgds-form-gap-lg: var(--sgds-gap-sm);
--sgds-form-gap-xl: var(--sgds-gap-md);
--sgds-form-gap-2-xl: var(--sgds-gap-xl);
--sgds-form-height-3-xs: var(--sgds-dimension-12);
--sgds-form-height-2-xs: var(--sgds-dimension-16);
--sgds-form-height-xs: var(--sgds-dimension-20);
--sgds-form-height-sm: var(--sgds-dimension-24);
--sgds-form-height-md: var(--sgds-dimension-32);
--sgds-form-height-lg: var(--sgds-dimension-40);
--sgds-form-height-xl: var(--sgds-dimension-48);
--sgds-form-height-2-xl: var(--sgds-dimension-56);
--sgds-form-width-3-xs: var(--sgds-dimension-12);
--sgds-form-width-2-xs: var(--sgds-dimension-16);
--sgds-form-width-xs: var(--sgds-dimension-24);
--sgds-form-width-sm: var(--sgds-dimension-32);
--sgds-form-width-md: var(--sgds-dimension-40);
--sgds-form-width-lg: var(--sgds-dimension-48);
--sgds-form-width-xl: var(--sgds-dimension-56);
--sgds-form-width-2-xl: var(--sgds-dimension-64);
--sgds-form-width-3-xl: var(--sgds-dimension-72);
--sgds-form-width-4-xl: var(--sgds-dimension-80);
--sgds-form-icon-size-sm: var(--sgds-icon-size-sm);
--sgds-form-icon-size-md: var(--sgds-icon-size-md);
--sgds-form-icon-size-lg: var(--sgds-icon-size-lg);    
        