:root {
  --sgds-font-size-0: 12;
  --sgds-font-size-1: 14;
  --sgds-font-size-2: 16;
  --sgds-font-size-3: 20;
  --sgds-font-size-4: 24;
  --sgds-font-size-5: 28;
  --sgds-font-size-6: 32;
  --sgds-font-size-7: 40;
  --sgds-font-size-8: 48;
  --sgds-font-size-9: 56;
  --sgds-gray-0: #ffffff;
  --sgds-gray-100: #f3f3f3;
  --sgds-gray-200: #dfdfdf;
  --sgds-gray-300: #c6c6c6;
  --sgds-gray-400: #a5a5a5;
  --sgds-gray-500: #868686;
  --sgds-gray-600: #6b6b6b;
  --sgds-gray-700: #525252;
  --sgds-gray-800: #3b3b3b;
  --sgds-gray-900: #2a2a2a;
  --sgds-gray-1000: #1a1a1a;
  --sgds-gray-1100: #0e0e0e;
  --sgds-red-100: #fcf1f1;
  --sgds-red-200: #f8d7d7;
  --sgds-red-300: #f1b2b2;
  --sgds-red-400: #e98b8b;
  --sgds-red-500: #e05959;
  --sgds-red-600: #cf2323;
  --sgds-red-700: #a11b1b;
  --sgds-red-800: #791414;
  --sgds-red-900: #550e0e;
  --sgds-yellow-100: #fef4cb;
  --sgds-yellow-200: #fcde63;
  --sgds-yellow-300: #e5bf29;
  --sgds-yellow-400: #c2a223;
  --sgds-yellow-500: #9d841c;
  --sgds-yellow-600: #7e6917;
  --sgds-yellow-700: #605111;
  --sgds-yellow-800: #483c0d;
  --sgds-yellow-900: #322909;
  --sgds-green-100: #e3f9ed;
  --sgds-green-200: #b1edcb;
  --sgds-green-300: #62db96;
  --sgds-green-400: #16bd5e;
  --sgds-green-500: #129a4d;
  --sgds-green-600: #0e7c3d;
  --sgds-green-700: #0b5e2f;
  --sgds-green-800: #084523;
  --sgds-green-900: #063119;
  --sgds-cyan-100: #e0f7fc;
  --sgds-cyan-200: #a8e9f7;
  --sgds-cyan-300: #49d2ef;
  --sgds-cyan-400: #00b4da;
  --sgds-cyan-500: #0092b1;
  --sgds-cyan-600: #00758d;
  --sgds-cyan-700: #005a6d;
  --sgds-cyan-800: #004352;
  --sgds-cyan-900: #002f38;
  --sgds-blue-100: #ecf5fe;
  --sgds-blue-200: #c8e2fb;
  --sgds-blue-300: #96c7f7;
  --sgds-blue-400: #60aaf4;
  --sgds-blue-500: #1e87ef;
  --sgds-blue-600: #0269d0;
  --sgds-blue-700: #0151a0;
  --sgds-blue-800: #013c77;
  --sgds-blue-900: #012a54;
  --sgds-purple-100: #fbf0fe;
  --sgds-purple-200: #f2d6fc;
  --sgds-purple-300: #e6adf9;
  --sgds-purple-400: #d983f6;
  --sgds-purple-500: #c94cf2;
  --sgds-purple-600: #ac1cdb;
  --sgds-purple-700: #8516a9;
  --sgds-purple-800: #641180;
  --sgds-purple-900: #460c5a;
  --sgds-focus-width: 2;
  --sgds-border-width-0: 0;
  --sgds-border-width-1: 1;
  --sgds-border-width-2: 2;
  --sgds-border-width-3: 3;
  --sgds-border-width-4: 4;
  --sgds-border-radius-none: 0;
  --sgds-border-radius-xs: 2;
  --sgds-border-radius-sm: 4;
  --sgds-border-radius-md: 8;
  --sgds-border-radius-lg: 12;
  --sgds-border-radius-xl: 16;
  --sgds-border-radius-2-xl: 24;
  --sgds-border-radius-full: 999;
  --sgds-breakpoint-xs: var(--sgds-dimension-320);
  --sgds-breakpoint-sm: var(--sgds-dimension-512);
  --sgds-breakpoint-md: var(--sgds-dimension-768);
  --sgds-breakpoint-lg: var(--sgds-dimension-1024);
  --sgds-breakpoint-xl: var(--sgds-dimension-1280);
  --sgds-breakpoint-2-xl: var(--sgds-dimension-1440);
  --sgds-font-family-brand: Inter;
  --sgds-font-weight-light: 300;
  --sgds-font-weight-regular: 400;
  --sgds-font-weight-semibold: 600;
  --sgds-font-weight-bold: 700;
  --sgds-icon-size-sm: 16;
  --sgds-icon-size-md: 20;
  --sgds-icon-size-lg: 24;
  --sgds-icon-size-xl: 32;
  --sgds-icon-size-2-xl: 48;
  --sgds-icon-size-3-xl: 64;
  --sgds-letter-spacing-tighter: -1;
  --sgds-letter-spacing-tight: -0.4000000059604645;
  --sgds-letter-spacing-normal: 0;
  --sgds-letter-spacing-wide: 1;
  --sgds-letter-spacing-wider: 2;
  --sgds-line-height-16: 16;
  --sgds-line-height-body: 150;
  --sgds-line-height-heading: 120;
  --sgds-line-height-min: 20;
  --sgds-opacity-0: 0;
  --sgds-opacity-3: 3;
  --sgds-opacity-5: 5;
  --sgds-opacity-10: 10;
  --sgds-opacity-20: 20;
  --sgds-opacity-30: 30;
  --sgds-opacity-40: 40;
  --sgds-opacity-50: 50;
  --sgds-opacity-60: 60;
  --sgds-opacity-70: 70;
  --sgds-opacity-80: 80;
  --sgds-opacity-90: 90;
  --sgds-opacity-100: 100;
  --sgds-paragraph-spacing-none: 0;
  --sgds-paragraph-spacing-sm: 8;
  --sgds-paragraph-spacing-md: 16;
  --sgds-paragraph-spacing-lg: 24;
  --sgds-paragraph-spacing-xl: 32;
  --sgds-spacer-0: 0;
  --sgds-spacer-1: 2;
  --sgds-spacer-2: 4;
  --sgds-spacer-3: 8;
  --sgds-spacer-4: 12;
  --sgds-spacer-5: 16;
  --sgds-spacer-6: 20;
  --sgds-spacer-7: 24;
  --sgds-spacer-8: 32;
  --sgds-spacer-9: 48;
  --sgds-spacer-10: 64;
  --sgds-spacer-11: 96;
  --sgds-spacer-12: 128;
  --sgds-dimension-0: 0;
  --sgds-dimension-1: 1;
  --sgds-dimension-2: 2;
  --sgds-dimension-4: 4;
  --sgds-dimension-8: 8;
  --sgds-dimension-12: 12;
  --sgds-dimension-16: 16;
  --sgds-dimension-20: 20;
  --sgds-dimension-24: 24;
  --sgds-dimension-32: 32;
  --sgds-dimension-40: 40;
  --sgds-dimension-48: 48;
  --sgds-dimension-52: 52;
  --sgds-dimension-56: 56;
  --sgds-dimension-60: 60;
  --sgds-dimension-64: 64;
  --sgds-dimension-72: 72;
  --sgds-dimension-76: 76;
  --sgds-dimension-80: 80;
  --sgds-dimension-88: 88;
  --sgds-dimension-96: 96;
  --sgds-dimension-112: 112;
  --sgds-dimension-120: 120;
  --sgds-dimension-128: 128;
  --sgds-dimension-132: 132;
  --sgds-dimension-136: 136;
  --sgds-dimension-144: 144;
  --sgds-dimension-160: 160;
  --sgds-dimension-168: 168;
  --sgds-dimension-192: 192;
  --sgds-dimension-224: 224;
  --sgds-dimension-256: 256;
  --sgds-dimension-280: 280;
  --sgds-dimension-288: 288;
  --sgds-dimension-320: 320;
  --sgds-dimension-328: 328;
  --sgds-dimension-340: 340;
  --sgds-dimension-384: 384;
  --sgds-dimension-480: 480;
  --sgds-dimension-512: 512;
  --sgds-dimension-640: 640;
  --sgds-dimension-688: 688;
  --sgds-dimension-768: 768;
  --sgds-dimension-800: 800;
  --sgds-dimension-872: 872;
  --sgds-dimension-896: 896;
  --sgds-dimension-1024: 1024;
  --sgds-dimension-1176: 1176;
  --sgds-dimension-1280: 1280;
  --sgds-dimension-1320: 1320;
  --sgds-dimension-1440: 1440;
  --sgds-padding-none: var(--sgds-spacer-0);
  --sgds-padding-3-xs: var(--sgds-spacer-1);
  --sgds-padding-2-xs: var(--sgds-spacer-2);
  --sgds-padding-xs: var(--sgds-spacer-3);
  --sgds-padding-sm: var(--sgds-spacer-4);
  --sgds-padding-md: var(--sgds-spacer-5);
  --sgds-padding-lg: var(--sgds-spacer-6);
  --sgds-padding-xl: var(--sgds-spacer-7);
  --sgds-padding-2-xl: var(--sgds-spacer-8);
  --sgds-padding-3-xl: var(--sgds-spacer-9);
  --sgds-padding-4-xl: var(--sgds-spacer-10);
  --sgds-padding-5-xl: var(--sgds-spacer-11);
  --sgds-margin-none: var(--sgds-spacer-0);
  --sgds-margin-3-xs: var(--sgds-spacer-3);
  --sgds-margin-2-xs: var(--sgds-spacer-5);
  --sgds-margin-xs: var(--sgds-spacer-6);
  --sgds-margin-sm: var(--sgds-spacer-7);
  --sgds-margin-md: var(--sgds-spacer-8);
  --sgds-margin-lg: var(--sgds-spacer-9);
  --sgds-margin-xl: var(--sgds-spacer-10);
  --sgds-margin-2-xl: var(--sgds-spacer-11);
  --sgds-margin-3-xl: var(--sgds-spacer-12);
  --sgds-gap-none: var(--sgds-spacer-0);
  --sgds-gap-2-xs: var(--sgds-spacer-2);
  --sgds-gap-xs: var(--sgds-spacer-3);
  --sgds-gap-sm: var(--sgds-spacer-4);
  --sgds-gap-md: var(--sgds-spacer-5);
  --sgds-gap-lg: var(--sgds-spacer-6);
  --sgds-gap-xl: var(--sgds-spacer-7);
  --sgds-gap-2-xl: var(--sgds-spacer-8);
  --sgds-gap-3-xl: var(--sgds-spacer-9);
}
