:root{
--gt-color-100: #EFF5FC;
--gt-color-200: #CEE1F6;
--gt-color-300: #A0C5EE;
--gt-color-400: #73A9E5;
--gt-color-500: #4288D6;
--gt-color-600: #356DAC;
--gt-color-700: #285483;
--gt-color-800: #1E3E62;
--gt-color-900: #152B44;
}