:root {
--gt-color-100: #E0F7FE;
--gt-color-200: #A7E9FB;
--gt-color-300: #47D1F6;
--gt-color-400: #00B3E2;
--gt-color-500: #0091B8;
--gt-color-600: #007493;
--gt-color-700: #005971;
--gt-color-800: #004355;
--gt-color-900: #002E3B;
}