:root{
--gt-color-100: #FBF2F9;
--gt-color-200: #F2D8ED;
--gt-color-300: #E5B2DC;
--gt-color-400: #D98BCB;
--gt-color-500: #C95EB7;
--gt-color-600: #B82EA0;
--gt-color-700: #8E247B;
--gt-color-800: #6A1B5D;
--gt-color-900: #4A1341;
}