:root{
--gt-color-100: #FDF0F6;
--gt-color-200: #F9D6E4;
--gt-color-300: #F3AECB;
--gt-color-400: #ED84AF;
--gt-color-500: #E54D8C;
--gt-color-600: #C7286A;
--gt-color-700: #991F52;
--gt-color-800: #74173D;
--gt-color-900: #51102B;
}