:root{
    --gt-color-100: #F6F3FB;
--gt-color-200: #E5DBF2;
--gt-color-300: #CEBAE7;
--gt-color-400: #B598DC;
--gt-color-500: #9A74CF;
--gt-color-600: #8055BB;
--gt-color-700: #634190;
--gt-color-800: #49306B;
--gt-color-900: #33214A;
}