:root {
  --gt-color-100: var(--sgds-gt-red-100);
  --gt-color-200: var(--sgds-gt-red-200);
  --gt-color-300: var(--sgds-gt-red-300);
  --gt-color-400: var(--sgds-gt-red-400);
  --gt-color-500: var(--sgds-gt-red-500);
  --gt-color-600: var(--sgds-gt-red-600);
  --gt-color-700: var(--sgds-gt-red-700);
  --gt-color-800: var(--sgds-gt-red-800);
  --gt-color-900: var(--sgds-gt-red-900);
}
