:root{
--gt-color-100: #FEF0F1;
--gt-color-200: #FDD6D8;
--gt-color-300: #FBADB1;
--gt-color-400: #F88289;
--gt-color-500: #F5424B;
--gt-color-600: #CB2B33;
--gt-color-700: #9E2127;
--gt-color-800: #76191E;
--gt-color-900: #531115;
}