<sgds-table
  rowHeader='[
            {
              "key": "first-name",
              "value": "First Name"
            },
            {
              "key": "last-name",
              "value": "Last Name"
            },
            {
              "key": "email",
              "value": "Email"
            },
            {
              "key": "button",
              "value": "Button"
            },
            {
              "key": "action",
              "value": "Actions"
            }
          ]'
  tableData='[
            {
              "email": "@alicedoe",
              "first-name": "John", 
              "last-name": "Doe",
              "button":  {
                "id": "email_button",
                "type": "button",
                "fullWidth": true,
                "value": "@alicedoe",
                "variant": "outline"
              },
              "action": [{
                "id": "edit_btn",
                "type": "icon-button",
                "value": "edit",
                "variant": "outline"
              },
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "plus",
                "variant": "outline"
              }]
            },{
              "email": "@alicedoe",
              "first-name": "John", 
              "last-name": "Doe",
              "button":  {
                "id": "email_button",
                "type": "link",
                "value": "@alicedoe",
                "variant": "outline"
              },
              "action": [
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "three-dots-vertical",
                "variant": "ghost"
              },
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "trash"
              }]
            }
          ]'
></sgds-table>

<sgds-table
  headerPosition="vertical"
  columnheader='["#", "First Names", "Last Name", "Username"]'
  rowHeader='[
            {
              "key": "first-name",
              "value": "First Name"
            },
            {
              "key": "last-name",
              "value": "Last Name"
            },
            {
              "key": "email",
              "value": "Email"
            },
            {
              "key": "button",
              "value": "Button"
            },
            {
              "key": "action",
              "value": "Actions"
            }
          ]'
  tableData='[
            {
              "email": "@alicedoe",
              "first-name": "John", 
              "last-name": "Doe",
              "button":  {
                "id": "email_button",
                "type": "button",
                "fullWidth": true,
                "value": "@alicedoe",
                "variant": "outline"
              },
              "action": [{
                "id": "edit_btn",
                "type": "icon-button",
                "value": "edit",
                "variant": "outline"
              },
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "plus",
                "variant": "outline"
              }]
            },{
              "email": "@alicedoe",
              "first-name": "John", 
              "last-name": "Doe",
              "button":  {
                "id": "email_button",
                "type": "link",
                "value": "@alicedoe",
                "variant": "outline"
              },
              "action": [
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "three-dots-vertical",
                "variant": "ghost"
              },
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "trash"
              }]
            }
          ]'
>
</sgds-table>
<sgds-table
  headerPosition="both"
  rowHeader='["8-12", "12-16", "16-20", "20-24"]'
  columnheader='["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]'
  rowHeader='[
            {
              "key": "first-name",
              "value": "First Name"
            },
            {
              "key": "last-name",
              "value": "Last Name"
            },
            {
              "key": "email",
              "value": "Email"
            },
            {
              "key": "button",
              "value": "Button"
            },
            {
              "key": "action",
              "value": "Actions"
            }
          ]'
  tableData='[
            {
              "email": "@alicedoe",
              "first-name": "John", 
              "last-name": "Doe",
              "button":  {
                "id": "email_button",
                "type": "button",
                "fullWidth": true,
                "value": "@alicedoe",
                "variant": "outline"
              },
              "action": [{
                "id": "edit_btn",
                "type": "icon-button",
                "value": "edit",
                "variant": "outline"
              },
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "plus",
                "variant": "outline"
              }]
            },{
              "email": "@alicedoe",
              "first-name": "John", 
              "last-name": "Doe",
              "button":  {
                "id": "email_button",
                "type": "link",
                "value": "@alicedoe",
                "variant": "outline"
              },
              "action": [
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "three-dots-vertical",
                "variant": "ghost"
              },
              {
                "id": "add_btn",
                "type": "icon-button",
                "value": "trash"
              }]
            }
          ]'
>
</sgds-table>
