:host {
  display: contents;
}

:host([size="md"]) .drawer-end .drawer-panel,
:host([size="md"]) .drawer-start .drawer-panel {
  max-width: var(--sgds-dimension-768);
}

:host([size="md"]) .drawer-top .drawer-panel,
:host([size="md"]) .drawer-bottom .drawer-panel {
  max-height: var(--sgds-dimension-768);
}

:host([size="lg"]) .drawer-end .drawer-panel,
:host([size="lg"]) .drawer-start .drawer-panel {
  max-width: var(--sgds-dimension-1024);
}

:host([size="lg"]) .drawer-top .drawer-panel,
:host([size="lg"]) .drawer-bottom .drawer-panel {
  max-height: var(--sgds-dimension-1024);
}

.drawer {
  top: 0;
  inset-inline-start: 0;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;
  overflow: hidden;
}

.drawer-fixed {
  position: fixed;
  z-index: 1100;
}

.drawer-panel {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-2-xl);
  position: absolute;
  z-index: 2;
  padding: var(--sgds-padding-lg);
  background-color: var(--sgds-surface-default);
  overflow: auto;
  pointer-events: all;
}

.drawer-panel:focus {
  outline: none;
}

.drawer-top .drawer-panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: 100%;
  height: 80dvh;
  max-height: var(--sgds-dimension-512);
}

.drawer-end .drawer-panel {
  top: 0;
  inset-inline-end: 0;
  bottom: auto;
  inset-inline-start: auto;
  width: 80%;
  height: 100dvh;
  max-width: var(--sgds-dimension-512);
}

.drawer-bottom .drawer-panel {
  top: auto;
  inset-inline-end: auto;
  bottom: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 80dvh;
  max-height: var(--sgds-dimension-512);
}

.drawer-start .drawer-panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: 80%;
  height: 100dvh;
  max-width: var(--sgds-dimension-512);
}

.drawer-header {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-sm);
}

slot[name="title"]::slotted(*) {
  margin-bottom: var(--sgds-margin-none) !important;
  font-size: var(--sgds-font-size-4) !important;
  color: var(--sgds-color-default) !important;
}

slot[name="description"]::slotted(*) {
  margin-bottom: var(--sgds-margin-none) !important;
  color: var(--sgds-color-subtle);
}

slot[name="footer"]::slotted(*) {
  padding: var(--sgds-padding-lg) var(--sgds-padding-lg) var(--sgds-padding-none);
  box-shadow: 0 -2px 2px 0 rgba(14, 14, 14, 0.08);
  margin: var(--sgds-margin-none) calc(var(--sgds-margin-xs) * -1);
}

sgds-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.drawer-body {
  flex: 1 1 auto;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.drawer-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--sgds-bg-overlay);
  pointer-events: all;
}

.drawer-contained .drawer-overlay {
  display: none;
}
.drawer-contained {
  height: unset;
  width: unset;
}
@media screen and (min-width: 512px) {
  .drawer-panel {
    padding: var(--sgds-padding-2-xl);
  }

  slot[name="footer"]::slotted(*) {
    padding: var(--sgds-padding-2-xl) var(--sgds-padding-2-xl) var(--sgds-padding-none);
    margin: var(--sgds-margin-none) calc(var(--sgds-margin-md) * -1);
  }
}