:host {
  --drawer-padding: var(--sgds-spacer-4);
  --drawer-size: 35rem;
  --drawer-bg: var(--sgds-body-bg);
  --drawer-button-gap: var(--sgds-spacer-2);
  display: contents;
}

.drawer {
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.drawer-fixed {
  position: fixed;
  z-index: 1055;
}

.drawer-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--drawer-bg);
  box-shadow: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  overflow: auto;
  pointer-events: all;
}

.drawer-panel:focus {
  outline: none;
}

.drawer-top .drawer-panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: 100%;
  height: var(--drawer-size);
}

.drawer-end .drawer-panel {
  top: 0;
  inset-inline-end: 0;
  bottom: auto;
  inset-inline-start: auto;
  width: var(--drawer-size);
  height: 100%;
}

.drawer-bottom .drawer-panel {
  top: auto;
  inset-inline-end: auto;
  bottom: 0;
  inset-inline-start: 0;
  width: 100%;
  height: var(--drawer-size);
}

.drawer-start .drawer-panel {
  top: 0;
  inset-inline-end: auto;
  bottom: auto;
  inset-inline-start: 0;
  width: var(--drawer-size);
  height: 100%;
}

.drawer-header {
  display: flex;
  padding: var(--drawer-padding);
}

.drawer-title {
  flex: 1 1 auto;
  font: inherit;
  font-size: calc(1.275rem + 0.3vw);
  line-height: 1.33;

  margin: 0;
}

.drawer-header-actions {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  cursor: pointer;
  gap: var(--drawer-button-gap);
  padding: 0 var(--drawer-padding);
}

.drawer-header-actions .drawer-close {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
}

.drawer-body {
  flex: 1 1 auto;
  display: block;
  padding: var(--drawer-padding);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.drawer-footer {
  text-align: right;
  padding: var(--drawer-padding);
}

.drawer-footer ::slotted(sgds-button:not(:last-of-type)) {
  margin-inline-end: var(--drawer-button-gap);
}

.drawer:not(.drawer-has-footer) .drawer-footer {
  display: none;
}

.drawer-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;
}

.drawer-contained .drawer-overlay {
  display: none;
}
