:host {
  --datepicker-theme-color: var(--sgds-primary);
  --datepicker-hover-bg: var(--sgds-primary-100);
  --datepicker-bg: white;
  --datepicker-close-btn-bg: var(--datepicker-theme-color);
  --datepicker-close-btn-hover-bg: var(--sgds-primary-700);
  --datepicker-close-btn-color: white;
  --datepicker-selected-date-bg: var(--sgds-primary);
  --datepicker-selected-date-color: white;

  font-size: var(--sgds-font-size-1);
}
.datepicker.dropdown-menu.show {
  background-color: var(--sgds-default-bg-surface);
  padding: var(--sgds-form-padding-y) var(--sgds-form-padding-x);
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-sm);
  overflow: unset;

}
sgds-datepicker-input {
  flex: 1;
  margin-right: 0; /* Remove the margin on the right */
  --input-border-radius: var(--sgds-form-border-radius-md) 0 0 var(--sgds-form-border-radius-md);
}
sgds-icon-button{
  --btn-border-radius: 0 var(--sgds-form-border-radius-md) var(--sgds-form-border-radius-md) 0;
}

.datepicker-container {
  display: flex;
}

.calendar-btn:not(.with-hint-text) {
  align-self: center;
}

.calendar-btn:not(.with-hint-text).with-label {
 align-self: end;
 margin-top: calc(var(--sgds-font-size-2) * var(--sgds-line-height-body) - var(--sgds-line-height-min))
}

.calendar-btn.with-hint-text.with-label {
  align-self: center;
  /* line height of label minus line height of hinttext/feedback */
  margin-top: calc(var(--sgds-font-size-2) * var(--sgds-line-height-body) - var(--sgds-line-height-min))
}