
:host{
    --sgds-input-border-radius: var(--sgds-border-radius) 0 0 var(--sgds-border-radius);
}
.input-container {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    width: -moz-available;
}
