.datepicker-input-container {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  width: -moz-available;
}

.datepicker-input-container .form-control-group {
  border-right: 0;
}

.calendar-btn {
  all: unset;
}
