.datepicker-body{
  color: var(--sgds-form-color-default);
}

table {
  border-collapse: collapse;
  text-align: center;
}
.sgds.monthpicker,
.sgds.yearpicker {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(4, 2.5rem);
}

button.month,
button.year {
  padding: 0;
  border: 0;
  background-color: transparent;
  border-radius: var(--sgds-form-border-radius-sm);
}
td[data-day].active:not(.selected-ends),
button.month.active:not(.selected-ends),
button.year.active:not(.selected-ends)
 {
  cursor: pointer;
  background-color: var(--sgds-form-primary-bg-translucent);
  border-radius: 0;
}
td[data-day]:hover:not(.disabled):not(.selected-ends):not(.active),
button.month:hover:not(.active),
button.year:hover:not(.active)  {
  cursor: pointer;
  background-color: var(--sgds-form-bg-translucent);
}
td[data-day]:focus,
button.month:focus,
button.year:focus  {
  box-shadow: var(--sgds-box-shadow-focus);
  outline: unset;
}
button.year.active {
  cursor: pointer;
  background-color: var(--sgds-form-primary-bg-translucent);
}

td, th {
  width: var(--sgds-form-width-md);
  height: var(--sgds-form-height-lg);
  padding: 0;
  border-radius: var(--sgds-form-border-radius-sm);
}
td[data-day] {
  cursor: pointer;
}

td[data-day].active.selected-ends,
button.month.active.selected-ends ,
button.year.active.selected-ends  {
  background-color: var(--sgds-form-primary-bg);
  color: var(--sgds-form-color-on-dark);
}
td[data-day].disabled {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
}
.today{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.today::after{
  background-color: var(--sgds-form-primary-bg);
  content: ".";
  line-height: 4px;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none"><circle cx="2" cy="2" r="2" fill="%235A42C0"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4" fill="none"><circle cx="2" cy="2" r="2" fill="%235A42C0"/></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  
}