.datepicker-body {
  padding: 0 1.5rem 1.5rem;

  .text-primary {
    color: var(--datepicker-theme-color) !important;
  }
}

.sgds.monthpicker,
.sgds.yearpicker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 3rem);
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem 0 0;
}

button.month,
button.year {
  padding: 0;
  border: 0;
  background-color: transparent;
  &.active,
  &:hover {
    cursor: pointer;
    color: var(--datepicker-theme-color);
    background-color: var(--datepicker-hover-bg-color);
  }
  &:focus {
    outline: var(--datepicker-theme-color) solid 2px;
    z-index: 100;
  }
}

td {
  width: 3rem;
  height: 3rem;
  padding: 0;
  &.disabled {
    color: var(--sgds-gray-400);
  }
  &[data-day] {
    &:hover:not(.disabled),
    &.active {
      background-color: var(--datepicker-hover-bg-color);
    }
    &:focus {
      outline: var(--datepicker-theme-color) auto 2px;
    }
  }
}
