:host {
  --datepicker-theme-color: var(--sgds-primary);
  --datepicker-hover-background-color: var(--sgds-primary-100);
}

.datepicker-body {
  padding: 0 1.5rem 1.5rem;

  .text-primary {
    color: var(--datepicker-theme-color) !important;
  }
}

.sgds.monthpicker,
.sgds.yearpicker {
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  grid-template-rows: repeat(4, 3rem);
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem 1rem 0;
}


.month,
.year {
  padding: 0;
  border: 0;
  &.active,
  &:hover {
    cursor: pointer;
    color: var(--datepicker-theme-color);
    background-color: var(--datepicker-hover-background-color);
  }
}

td {
  width: 3rem;
  height: 3rem;
  padding: 0;
  &.disabled{
    color: var(--sgds-gray-400);
  }
  &[data-day]{
    &:hover:not(.disabled){
      color: var(--datepicker-theme-color);
      background-color: var(--datepicker-hover-background-color);
    }
  } 
}


