:host {
  --datepicker-border-color: #98a2b3;
  --datepicker-font-size: 1rem;
  --datepicker-theme-color: var(--sgds-primary);
  --datepicker-background-color: white;
}

div {
  display: flex;
}

.datepicker{
  background-color: var(--datepicker-background-color);
}

sgds-input {
  flex: 1;
  margin-right: 0; /* Remove the margin on the right */
}

