:host {
  --sgds-close-btn-border-radius: var(--sgds-border-radius-sm);
  display: inline-flex;
}

:host([size="sm"]) .btn-close {
  width: var(--sgds-dimension-24);
  height: var(--sgds-dimension-24);
}

:host([tone="fixed-light"]) .btn-close {
  color: var(--sgds-color-fixed-light);
}

:host([tone="fixed-dark"]) .btn-close {
  color: var(--sgds-color-fixed-dark);
}

.btn-close {
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  width: var(--sgds-dimension-32);
  height: var(--sgds-dimension-32);
  border: var(--sgds-border-width-1) solid var(--sgds-border-color-transparent);
  border-radius: var(--sgds-close-btn-border-radius);
  background-color: var(--sgds-bg-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close:hover,
.btn-close:focus,
.btn-close:focus-visible {
  background-color: var(--sgds-bg-translucent);
}
:host([tone="fixed-light"]) .btn-close:hover,
:host([tone="fixed-light"]) .btn-close:focus,
:host([tone="fixed-light"]) .btn-close:focus-visible {
  background-color: var(--sgds-bg-translucent-fixed-light);
}
:host([tone="fixed-dark"]) .btn-close:hover,
:host([tone="fixed-dark"]) .btn-close:focus,
:host([tone="fixed-dark"]) .btn-close:focus-visible {
  background-color: var(--sgds-bg-translucent-fixed-dark);
}

.btn-close:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

.btn-close-sm {
  width: var(--sgds-dimension-24);
  height: var(--sgds-dimension-24);
}

.btn-close.btn-close-sm {
  width: var(--sgds-icon-size-sm);
  height: var(--sgds-icon-size-sm);
}
