:host {
  /* NEW in 2.0 */
  --sgds-action-card-transition-duration: 0.3s;
  --sgds-action-card-body-gap: 1rem;
  /* override the default value from card */
  --sgds-card-title-margin-bottom: 0;
}
:host([active]){
  --sgds-card-box-shadow: var(--sgds-box-shadow), inset 0 0 0 2.1px var(--sgds-link);
}

.sgds.card[variant*="card-action"] {
  transition-duration: var(--sgds-action-card-transition-duration);
  transition-property: box-shadow, border-color;
  transition-timing-function: ease-in-out;
}
 .card-body {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-action-card-body-gap);
}

slot[name="icon"]::slotted(*){
  margin-right: 1rem;
}
.sgds.card[variant*="card-action"].is-active,
.sgds.card[variant*="card-action"]:hover {
  border-color: transparent;
  box-shadow: var(--sgds-card-box-shadow);
}
.sgds.card[variant*="card-action"] .card-subtitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
