:host {
    --sgds-checkbox-group-gap: var(--sgds-spacer-2);
  }
  
  fieldset {
    border: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: var(--sgds-checkbox-group-gap); /* Space between elements */
  }
  
  .checkbox-group-validation-input {
    display: none;
  }
  
  .label-hint-container {
    display: flex;
    flex-direction: column; /* Stack label and hint text vertically */
    margin-bottom: var(--sgds-form-gap-md); /* Space below the hint text */
  }
  
  .label-hint-container .form-label {
    color: var(--sgds-form-color);
    font-size: var(--sgds-font-size-2);
    font-weight: var(--sgds-font-weight-regular);
    margin-bottom: var(--sgds-form-gap-sm);
    display: block; 
  }

  .label-hint-container .hint-text {
    color: var(--sgds-form-color-subtle);
    font-size: var(--sgds-font-size-1);
    font-weight: var(--sgds-font-weight-regular);
    display: block;
  }
  
  .checkbox-container {
    display: flex;
    flex-direction: column; 
    gap: var(--sgds-form-gap-md); 
  }
  
 
  .error-message {
    color: var(--sgds-form-danger-color);
    font-size: var(--sgds-font-size-1);
    font-weight: var(--sgds-font-weight-regular);
    margin-top: var(--sgds-form-gap-md); 
  }

  .error-message-container {
    display: flex;
    align-items: center;
    gap: var(--sgds-form-gap-sm);
  }