@import "../../styles/feedback.css";
:host {
  --sgds-checkbox-margin-bottom: var(--sgds-spacer-2);
  --sgds-checkbox-inline-margin-right: var(--sgds-spacer-4);
  --sgds-checkbox-input-border-radius: 0.25em;
}

:host([checked]) {
  --sgds-form-border-color: var(--sgds-form-bg);
  --sgds-form-bg: var(--sgds-info-filled);
}

:host(:focus-visible) {
  outline: none;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form-check {
  display: block;
  margin-bottom: var(--sgds-checkbox-margin-bottom);
  min-height: 2rem;
  padding-left: 1.625em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.625em;
}

.form-check-input {
  appearance: none;
  background-color: var(--sgds-form-bg);
  background-image: var(--sgds-radio-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: var(--sgds-form-border-width) solid var(--sgds-border-color);
  flex-shrink: 0;
  height: 1.125em;
  margin-top: 0.4375em;
  vertical-align: top;
  width: 1.125em;
}
.form-check-input[type="checkbox"] {
  border-radius: var(--sgds-checkbox-input-border-radius);
}
.form-check-input:focus {
  border-color: var(--sgds-form-border-color);
  box-shadow: var(--sgds-form-focus-box-shadow);
  outline: 0;
}
.form-check-input:checked,
.form-check-input[checked] {
  background-color: var(--sgds-form-bg);
  border-color: var(--sgds-form-border-color);
}

.form-check-input:disabled {
  filter: none;
  opacity: var(--sgds-disabled-opacity);
  border-color: var(--sgds-border-color);
  pointer-events: none;
}
.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  cursor: default;
  opacity: var(--sgds-disabled-opacity);
}
.form-check-input.is-invalid {
  border-color: var(--sgds-form-invalid-color);
}
.form-check-input.is-invalid:checked {
  background-color: var(--sgds-form-invalid-color);
}
.form-check-input.is-invalid:focus {
  box-shadow: var(--sgds-form-focus-invalid-box-shadow);
}
.form-check-input.is-invalid ~ .form-check-label {
  color: var(--sgds-form-invalid-color);
}
.form-check-inline {
  display: inline-block;
  vertical-align: text-top;
  margin-right: var(--sgds-checkbox-inline-margin-right);
  margin-bottom: 0;
}

:host([last-of-type]) .form-check {
  margin-bottom: 0;
}

.form-check-input:checked[type="checkbox"] {
  --sgds-radio-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

/* .form-check-input[type="checkbox"]:indeterminate {
  --sgds-radio-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3E%3C/svg%3E");
  background-color: #216bff;
  border-color: #216bff;
} */
