:host {
  --sgds-checkbox-group-gap: var(--sgds-spacer-2);
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-md);
}
.label-hint-container {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-sm);
}

.label-hint-container .form-label {
  color: var(--sgds-form-color-default);
  font-size: var(--sgds-font-size-16);
  font-weight: var(--sgds-font-weight-regular);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-form-gap-md);
}

.checkbox-group-validation-input {
  display: none;
}

:host([disabled]) .label-hint-container{
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
}
