:host {
  --sgds-checkbox-margin-bottom: var(--sgds-spacer-2);
  --sgds-checkbox-input-border-radius: 0.25em;
}

:host([checked]) {
  --sgds-form-border-color: var(--sgds-form-bg);
  --sgds-form-bg: var(--sgds-info-filled);
}

:host(:focus-visible) {
  outline: none;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.form-check {
  display: block;
  margin-bottom: var(--sgds-checkbox-margin-bottom);
  min-height: 2rem;
  /* padding-left: 1.625em; */
}

.form-check .form-check-input {
  /* float: left;
  margin-left: -1.625em; */
  margin-right: var(--sgds-form-input-margin-right);

}

.form-check-input {
  background-color: var(--sgds-form-bg);
  background-image: var(--sgds-radio-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: var(--sgds-form-border-width) solid var(--sgds-border-color);
  flex-shrink: 0;
  height: 1.125em;
  margin-top: 0.4375em;
  vertical-align: top;
  width: 1.125em;
}
.form-check-input[type="checkbox"] {
  border-radius: var(--sgds-checkbox-input-border-radius);
}
.form-check-input:focus {
  border-color: var(--sgds-form-border-color);
  box-shadow: var(--sgds-form-focus-box-shadow);
  outline: 0;
}
.form-check-input:checked,
.form-check-input[checked] {
  background-color: var(--sgds-form-bg);
  border-color: var(--sgds-form-border-color);
}

.form-check-input:indeterminate,
.form-check-input[indeterminate] {
  background-color: var(--sgds-form-bg);
  border-color: var(--sgds-form-border-color);
  --sgds-radio-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' viewBox='0%200%2032%2032' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' fill='%23E5E5E5'/%3E%3Cg clip-path='url(%23clip0_4702_10495)'%3E%3Crect width='2125' height='1029' transform='translate(-798%20-569)' fill='white'/%3E%3Cg%3E%3Cg%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4%2016C4%2015.7348%204.10536%2015.4804%204.29289%2015.2929C4.48043%2015.1054%204.73478%2015%205%2015H27C27.2652%2015%2027.5196%2015.1054%2027.7071%2015.2929C27.8946%2015.4804%2028%2015.7348%2028%2016C28%2016.2652%2027.8946%2016.5196%2027.7071%2016.7071C27.5196%2016.8946%2027.2652%2017%2027%2017H5C4.73478%2017%204.48043%2016.8946%204.29289%2016.7071C4.10536%2016.5196%204%2016.2652%204%2016Z' fill='%230E0E0E'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4702_10495'%3E%3Crect width='2125' height='1029' fill='white' transform='translate(-798%20-569)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

}

.form-check-input:disabled {
  filter: none;
  opacity: var(--sgds-disabled-opacity);
  border-color: var(--sgds-border-color);
  cursor: not-allowed;
}

.form-check-input.is-invalid {
  border-color: var(--sgds-form-invalid-color);
}
.form-check-input.is-invalid:checked {
  background-color: var(--sgds-form-invalid-color);
}
.form-check-input.is-invalid:focus {
  box-shadow: var(--sgds-form-focus-invalid-box-shadow);
}
.form-check-input.is-invalid ~ .form-check-label {
  color: var(--sgds-form-invalid-color);
}
.form-check-inline {
  display: inline-block;
  vertical-align: text-top;
  margin-right: var(--sgds-form-inline-margin-right);
  margin-bottom: 0;
}


:host([last-of-type]) .form-check {
  margin-bottom: 0;
}

.form-check-input:checked[type="checkbox"] {
  --sgds-radio-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

/* .form-check-input[type="checkbox"]:indeterminate {
  --sgds-radio-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3E%3C/svg%3E");
  background-color: #216bff;
  border-color: #216bff;
} */
