body.lg-semibold {
    font-size: var(--sgds-font-size-3);
    font-weight: var(--sgds-font-weight-semibold);
}

body.lg-regular {
    font-size: var(--sgds-font-size-3);
    font-weight: var(--sgds-font-weight-regular);
}

body.md-semibold {
    font-size: var(--sgds-font-size-2);
    font-weight: var(--sgds-font-weight-semibold);
}

body.md-regular {
    font-size: var(--sgds-font-size-2);
    font-weight: var(--sgds-font-weight-regular);
}

body.sm-semibold{
    font-size: var(--sgds-font-size-1);
    font-weight: var(--sgds-font-weight-semibold);
}
body.sm-regular{
    font-size: var(--sgds-font-size-1);
    font-weight: var(--sgds-font-weight-regular);
 }