html {
  line-height: var(--sgds-line-height-24);
  -webkit-text-size-adjust: 100%;
  font-family: var(--sgds-font-family-brand);
}

/* BODY */
body {
  color: var(--sgds-body-color-default);
  font-family: var(--sgds-font-family-brand);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--sgds-font-weight-regular);
  line-height: var(--sgds-line-height-24);
  letter-spacing: var(--sgds-letter-spacing-normal);
  margin: var(--sgds-margin-none);
}
/* LABEL */
label {
  color: var(--sgds-label-color-default);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--sgds-font-weight-regular);
  line-height: var(--sgds-line-height-24);
  letter-spacing: var(--sgds-letter-spacing-normal);
}
/* LIST */
ol,
ul {
  font-family: var(--sgds-font-family-brand);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--sgds-font-weight-regular);
  line-height: var(--sgds-line-height-24);
  list-style-position: outside;
  padding-left: var(--sgds-padding-2-xl);
  margin-top: var(--sgds-margin-xs);
}

li {
  font-family: var(--sgds-font-family-brand);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--sgds-font-weight-regular);
  line-height: var(--sgds-line-height-24);
  list-style-position: outside;
  margin-top: var(--sgds-margin-xs);
}
li > ol {
  list-style-type: lower-alpha;
}
li > ul {
  list-style-type: disc;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--sgds-heading-color-default);
  font-family: var(--sgds-font-family-brand);
  font-style: normal;
  margin-top: var(--sgds-margin-none);
}
h1,
h2 {
  letter-spacing: var(--sgds-letter-spacing-tight);
  font-weight: var(--sgds-font-weight-bold);
}

h3,
h4 {
  letter-spacing: var(--sgds-letter-spacing-tight);
  font-weight: var(--sgds-font-weight-semibold);
}

h5,
h6 {
  letter-spacing: var(--sgds-letter-spacing-normal);
  font-weight: var(--sgds-font-weight-semibold);
}
h1 {
  font-size: var(--sgds-font-size-7);
  line-height: var(--sgds-line-height-48);
  margin-bottom: var(--sgds-margin-xs);
}
h2 {
  font-size: var(--sgds-font-size-6);
  line-height: var(--sgds-line-height-40);
  margin-bottom: var(--sgds-margin-2-xs);
}
h3 {
  font-size: var(--sgds-font-size-5);
  line-height: var(--sgds-line-height-36);
  margin-bottom: var(--sgds-margin-2-xs);
}
h4 {
  font-size: var(--sgds-font-size-4);
  line-height: var(--sgds-line-height-32);
  margin-bottom: var(--sgds-margin-2-xs);
}
h5 {
  font-size: var(--sgds-font-size-3);
  line-height: var(--sgds-line-height-24);
  margin-bottom: var(--sgds-margin-xs);
}
h6 {
  font-size: var(--sgds-font-size-2);
  line-height: var(--sgds-line-height-20);
  margin-bottom: var(--sgds-margin-xs);
}
/* CAPTION */
caption {
  color: var(--sgds-label-color-subtle);
  font-size: var(--sgds-font-size-1);
  font-weight: var(--sgds-font-weight-regular);
  line-height: var(--sgds-line-height-20);
  letter-spacing: var(--sgds-letter-spacing-normal);
  margin-bottom: var(--sgds-paragraph-spacing-md);
}

/* PARAGRAPH */

p {
  font-size: var(--sgds-font-size-2);
  font-weight: var(--sgds-font-weight-regular);
  margin-bottom: var(--sgds-paragraph-spacing-xl);
  font-family: var(--sgds-font-family-brand);
  line-height: var(--sgds-line-height-24);
  letter-spacing: var(--sgds-letter-spacing-normal);
  margin-top: var(--sgds-margin-none);
}

/* ANCHOR */
a {
  text-decoration: underline;
  color: var(--sgds-link-color-default);
}

a:hover,
a:focus-visible,
a:focus {
  color: var(--sgds-link-color-emphasis);
}
a[target="_blank"]::after,
::slotted(a[target="_blank"])::after {
  background-color: currentColor;
  display: inline-block;
  content: "/";
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77365 4.4L9.7999 4.4C10.1313 4.4 10.3999 4.66863 10.3999 5C10.3999 5.33137 10.1313 5.6 9.7999 5.6C8.94992 5.6 8.34852 5.60047 7.87837 5.63888C7.41522 5.67672 7.13251 5.74838 6.91033 5.86159C6.45874 6.09168 6.09158 6.45884 5.86149 6.91042C5.74828 7.13261 5.67662 7.41531 5.63878 7.87847C5.60037 8.34862 5.5999 8.95002 5.5999 9.8V14.2C5.5999 15.05 5.60037 15.6514 5.63878 16.1215C5.67662 16.5847 5.74828 16.8674 5.86149 17.0896C6.09158 17.5412 6.45874 17.9083 6.91033 18.1384C7.13251 18.2516 7.41522 18.3233 7.87837 18.3611C8.34852 18.3995 8.94992 18.4 9.7999 18.4H14.1999C15.0499 18.4 15.6513 18.3995 16.1214 18.3611C16.5846 18.3233 16.8673 18.2516 17.0895 18.1384C17.5411 17.9083 17.9082 17.5412 18.1383 17.0896C18.2515 16.8674 18.3232 16.5847 18.361 16.1215C18.3994 15.6514 18.3999 15.05 18.3999 14.2C18.3999 13.8686 18.6685 13.6 18.9999 13.6C19.3313 13.6 19.5999 13.8686 19.5999 14.2V14.2262C19.5999 15.0441 19.5999 15.6945 19.557 16.2193C19.5131 16.7566 19.4213 17.2148 19.2075 17.6344C18.8624 18.3118 18.3117 18.8625 17.6343 19.2076C17.2147 19.4214 16.7565 19.5132 16.2192 19.5571C15.6944 19.6 15.044 19.6 14.2261 19.6H9.77366C8.95583 19.6 8.30541 19.6 7.78065 19.5571C7.24329 19.5132 6.78509 19.4214 6.36554 19.2076C5.68815 18.8625 5.13742 18.3118 4.79228 17.6344C4.57851 17.2148 4.48667 16.7566 4.44277 16.2193C4.39989 15.6945 4.3999 15.0441 4.3999 14.2263V9.77375C4.3999 8.95592 4.39989 8.3055 4.44277 7.78075C4.48667 7.24339 4.57851 6.78518 4.79228 6.36564C5.13742 5.68825 5.68815 5.13752 6.36554 4.79238C6.78509 4.57861 7.24329 4.48677 7.78065 4.44287C8.3054 4.39999 8.95582 4.4 9.77365 4.4ZM12.3999 5.00001C12.3999 4.66864 12.6685 4.40001 12.9999 4.40001H18.9999C19.3312 4.40001 19.5999 4.66864 19.5999 5.00001L19.5999 11C19.5999 11.3314 19.3313 11.6 18.9999 11.6C18.6685 11.6 18.3999 11.3314 18.3999 11L18.3999 6.44854L12.4242 12.4243C12.1899 12.6586 11.81 12.6586 11.5756 12.4243C11.3413 12.19 11.3413 11.8101 11.5756 11.5757L17.5514 5.60001H12.9999C12.6685 5.60001 12.3999 5.33138 12.3999 5.00001Z" fill="%230E0E0E"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.77365 4.4L9.7999 4.4C10.1313 4.4 10.3999 4.66863 10.3999 5C10.3999 5.33137 10.1313 5.6 9.7999 5.6C8.94992 5.6 8.34852 5.60047 7.87837 5.63888C7.41522 5.67672 7.13251 5.74838 6.91033 5.86159C6.45874 6.09168 6.09158 6.45884 5.86149 6.91042C5.74828 7.13261 5.67662 7.41531 5.63878 7.87847C5.60037 8.34862 5.5999 8.95002 5.5999 9.8V14.2C5.5999 15.05 5.60037 15.6514 5.63878 16.1215C5.67662 16.5847 5.74828 16.8674 5.86149 17.0896C6.09158 17.5412 6.45874 17.9083 6.91033 18.1384C7.13251 18.2516 7.41522 18.3233 7.87837 18.3611C8.34852 18.3995 8.94992 18.4 9.7999 18.4H14.1999C15.0499 18.4 15.6513 18.3995 16.1214 18.3611C16.5846 18.3233 16.8673 18.2516 17.0895 18.1384C17.5411 17.9083 17.9082 17.5412 18.1383 17.0896C18.2515 16.8674 18.3232 16.5847 18.361 16.1215C18.3994 15.6514 18.3999 15.05 18.3999 14.2C18.3999 13.8686 18.6685 13.6 18.9999 13.6C19.3313 13.6 19.5999 13.8686 19.5999 14.2V14.2262C19.5999 15.0441 19.5999 15.6945 19.557 16.2193C19.5131 16.7566 19.4213 17.2148 19.2075 17.6344C18.8624 18.3118 18.3117 18.8625 17.6343 19.2076C17.2147 19.4214 16.7565 19.5132 16.2192 19.5571C15.6944 19.6 15.044 19.6 14.2261 19.6H9.77366C8.95583 19.6 8.30541 19.6 7.78065 19.5571C7.24329 19.5132 6.78509 19.4214 6.36554 19.2076C5.68815 18.8625 5.13742 18.3118 4.79228 17.6344C4.57851 17.2148 4.48667 16.7566 4.44277 16.2193C4.39989 15.6945 4.3999 15.0441 4.3999 14.2263V9.77375C4.3999 8.95592 4.39989 8.3055 4.44277 7.78075C4.48667 7.24339 4.57851 6.78518 4.79228 6.36564C5.13742 5.68825 5.68815 5.13752 6.36554 4.79238C6.78509 4.57861 7.24329 4.48677 7.78065 4.44287C8.3054 4.39999 8.95582 4.4 9.77365 4.4ZM12.3999 5.00001C12.3999 4.66864 12.6685 4.40001 12.9999 4.40001H18.9999C19.3312 4.40001 19.5999 4.66864 19.5999 5.00001L19.5999 11C19.5999 11.3314 19.3313 11.6 18.9999 11.6C18.6685 11.6 18.3999 11.3314 18.3999 11L18.3999 6.44854L12.4242 12.4243C12.1899 12.6586 11.81 12.6586 11.5756 12.4243C11.3413 12.19 11.3413 11.8101 11.5756 11.5757L17.5514 5.60001H12.9999C12.6685 5.60001 12.3999 5.33138 12.3999 5.00001Z" fill="%230E0E0E"/></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  /* To determine the size of this icon, use em to get relative font size. 
    1.46 is the average line-height:font-size ratio calculated from xs to lg sizes */
  width: 1em;
  height: 1em;
  vertical-align: top;
}
