@layer theme, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(sgds);
@import "tailwindcss/utilities.css" layer(utilities) prefix(sgds);

@theme {
  --*: initial;
  /* Margin and Padding */
  --spacing-none: var(--sgds-spacer-0);
  --spacing-3-xs: var(--sgds-spacer-1);
  --spacing-2-xs: var(--sgds-spacer-2);
  --spacing-xs: var(--sgds-spacer-3);
  --spacing-sm: var(--sgds-spacer-4);
  --spacing-md: var(--sgds-spacer-5);
  --spacing-lg: var(--sgds-spacer-6);
  --spacing-xl: var(--sgds-spacer-7);
  --spacing-2-xl: var(--sgds-spacer-8);
  --spacing-3-xl: var(--sgds-spacer-9);
  --spacing-4-xl: var(--sgds-spacer-10);
  --spacing-5-xl: var(--sgds-spacer-11);


  --radius-none: var(--sgds-border-radius-none);
  --radius-xs: var(--sgds-border-radius-xs);
  
  --text-3: var(--sgds-font-size-3);
  --text-3-line-height: var(--sgds-line-height-body);
  --leading-16: var(--sgds-line-height-16);
  --font-weight-regular: var(--sgds-font-weight-regular);
  --tracking-normal:var(--sgds-letter-spacing-normal);


  --text-sgds-7: var(--sgds-font-size-7);
  --leading-48: var(--sgds-line-height-48);
  --font-weight-bold: var(--sgds-font-weight-bold);
  --tracking-tight: var(--sgds-letter-spacing-tight);

  --font-weight-light: var(--sgds-font-weight-light);


}
