<script type="module" src="../../src/index.ts"></script>
<link href="../../src/themes/day.css" rel="stylesheet" type="text/css" />
<link href="../../src/themes/night.css" rel="stylesheet" type="text/css" />
<link href="../../src/css/sgds.css" rel="stylesheet" type="text/css" />
<link href="../css/utility.css" rel="stylesheet" type="text/css" />

<body>
  <sgds-masthead></sgds-masthead>
  <sgds-mainnav>
    <strong slot="brand">SGDS</strong>
    <strong slot="end">End</strong>
  </sgds-mainnav>
  <sgds-system-banner show>This is a system banner message.</sgds-system-banner>
  <div class="sgds-container sgds:py-2-xl">
    <div id="content" class="sgds:bg-translucent-subtle sgds:h-100 sgds:w-full">
      Place content here
    </div>
  </div>
  <sgds-footer></sgds-footer>
</body>
