<script type="module" src="../../src/index.ts"></script>
<link href="../../src/themes/day.css" rel="stylesheet" type="text/css" />
<link href="../../src/themes/night.css" rel="stylesheet" type="text/css" />
<link href="../../src/css/sgds.css" rel="stylesheet" type="text/css" />
<link href="../css/utility.css" rel="stylesheet" type="text/css" />

<body>
  <sgds-masthead></sgds-masthead>
  <sgds-mainnav>
    <strong slot="brand">SGDS</strong>
    <strong slot="end">End</strong>
  </sgds-mainnav>
  <sgds-system-banner show>This is a system banner message.</sgds-system-banner>
  <div class="sgds-container sgds:py-2-xl">
    <div class="sgds-grid">
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">1</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">2</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">3</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">4</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">5</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">6</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">7</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">8</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">9</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">10</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">11</div>
      <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">12</div>
    </div>
  </div>
  <sgds-footer></sgds-footer>
</body>
