<script type="module" src="../../src/index.ts"></script>
<link href="../../src/themes/day.css" rel="stylesheet" type="text/css" />
<link href="../../src/themes/night.css" rel="stylesheet" type="text/css" />
<link href="../../src/css/sgds.css" rel="stylesheet" type="text/css" />
<link href="../css/utility.css" rel="stylesheet" type="text/css" />

<style>
  .sidebar-toggler-bar {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .sidebar-toggler-bar {
      display: block;
    }
  }
</style>

<body>
  <div class="sgds:sticky sgds:top-0 sgds:z-sticky">
    <sgds-masthead fluid></sgds-masthead>
    <sgds-mainnav fluid>
      <strong slot="brand">SGDS</strong>
      <strong slot="end">End</strong>
    </sgds-mainnav>
    <sgds-system-banner show fluid>This is a system banner message.</sgds-system-banner>
    <div class="sidebar-toggler-bar sgds:border-b sgds:border-muted sgds:bg-default">
      <div class="sgds:py-md sgds:px-sm sgds:flex sgds:items-center">
        <sgds-icon-button
          data-sidebar-toggler="true"
          size="sm"
          tone="neutral"
          variant="ghost"
          name="sidebar-expand"
          onclick="document.querySelector('sgds-sidebar').toggleCollapsed()"
        ></sgds-icon-button>
      </div>
    </div>
  </div>
  <div class="sgds:flex sgds:flex-row sgds:relative">
    <sgds-sidebar></sgds-sidebar>
    <div class="sgds:flex sgds:flex-col sgds:w-full">
      <div class="sgds-container-sidebar sgds:py-2-xl">
        <div class="sgds-grid">
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">1</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">2</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">3</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">4</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">5</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">6</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">7</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">8</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">9</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">10</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">11</div>
          <div class="sgds-col-lg-3 sgds-col-md-2 sgds-col-sm-2 sgds-col-1 sgds:bg-surface-raised sgds:p-md sgds:rounded-sm" style="min-height: 80px;">12</div>
        </div>
      </div>
      <sgds-footer layout="sidebar"></sgds-footer>
    </div>
  </div>
</body>
