.sidebar-option {
  padding: var(--sgds-padding-xs);
  cursor: pointer;
}

.sidebar-option-label-wrapper {
  display: flex;
  font-size: var(--sgds-font-size-1);
  line-height: var(--sgds-line-height-20);
  gap: var(--sgds-gap-sm);
  align-items: center;
}

.sidebar-option--collapsed .sidebar-option-label,
.sidebar-option--collapsed .sidebar-option-trailing-icon {
  display: none;
}

.sidebar-option--collapsed .sidebar-option-label-wrapper {
  justify-content: center;
}

.sidebar-nested-overlay {
  pointer-events: none;
  position: fixed;
  width: var(--sgds-dimension-280);
  padding: var(--sgds-padding-md) var(--sgds-padding-xs);
  background-color: var(--sgds-bg-default);
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: var(--sgds-dimension-280);
  transition: all var(--sgds-motion-duration-standard) var(--sgds-motion-easing-standard);
  border-right: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
  transition-property: opacity left;
}

.sidebar-option--collapsed .sidebar-nested-overlay {
  width: 0;
  opacity: 0;
  pointer-events: none;
  left: var(--sgds-dimension-72);
}

.sidebar-nested-overlay.show {
  pointer-events: auto;
  opacity: 1;
  left: var(--sgds-dimension-280);
  z-index: 1100;
}
