.sidebar-section {
  display: flex;
  flex-direction: column;
  padding: var(--sgds-padding-md) var(--sgds-padding-xs);
}

.sidebar-section-label {
  display: flex;
  align-items: center;
  gap: var(--sgds-gap-2-xs);
  cursor: pointer;
  font-size: var(--sgds-font-12);
  line-height: var(--sgds-line-height-3-xs);
  color: var(--sgds-neutral-color-emphasis);
  padding: var(--sgds-padding-xs);
  padding-right: var(--sgds-padding-none);
}
