.sidebar-item {
  padding: var(--sgds-padding-xs);
  cursor: pointer;
  border-radius: var(--sgds-border-radius-md);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.sidebar-item:hover:not(.active) {
  background-color: var(--sgds-surface-translucent-subtle);
}

.sidebar-item:focus,
.sidebar-item:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

.sidebar-item.active {
  background-color: var(--sgds-surface-raised);
  color: var(--sgds-primary-color-default);
}
.sidebar-item-label.offset {
  padding-left: var(--sgds-padding-lg);
}

.sidebar-item-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sgds-gap-sm);
}

.sidebar-item-label-wrapper > div {
  display: flex;
  align-items: center;
  font-size: var(--sgds-font-size-1);
  line-height: var(--sgds-line-height-20);
  gap: var(--sgds-gap-sm);
}

.sidebar-item-label-wrapper .sidebar-item-trailingIcon {
  display: flex;
}

.sidebar-item--collapsed .sidebar-item-label,
.sidebar-item--collapsed .sidebar-item-trailingIcon {
  display: none;
}

.sidebar-item--collapsed .sidebar-item-label-wrapper {
  justify-content: center;
}

.sidebar-submenu {
  overflow: hidden;
}

.sidebar-submenu > div {
  padding: var(--sgds-padding-xs);
  pointer-events: none;
  margin-top: -100%;
  opacity: 0;
  transition: all var(--sgds-motion-duration-standard) var(--sgds-motion-easing-standard);
}

.sidebar-submenu.show > div {
  pointer-events: auto;
  margin-top: 0;
  opacity: 1;
}
