.sidebar-item {
  padding: var(--sgds-padding-xs);
  cursor: pointer;
  border-radius: var(--sgds-border-radius-md);
  outline-offset: -1px;
}

.sidebar-item.active {
  background-color: var(--sgds-surface-raised);
  color: var(--sgds-primary-color-default);
}
.sidebar-item-label.offset {
  padding-left: var(--sgds-padding-lg);
}

.sidebar-item-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sgds-gap-sm);
}

.sidebar-item-label-wrapper > div {
  display: flex;
  align-items: center;
  font-size: var(--sgds-font-size-1);
  line-height: var(--sgds-line-height-20);
  gap: var(--sgds-gap-sm);
}

.sidebar-item-label-wrapper .sidebar-item-trailingIcon {
  display: flex;
}

.sidebar-item--collapsed .sidebar-item-label,
.sidebar-item--collapsed .sidebar-item-trailingIcon {
  display: none;
}

.sidebar-item--collapsed .sidebar-item-label-wrapper {
  justify-content: center;
}

.sidebar-submenu {
  overflow: hidden;
}

.sidebar-submenu > div {
  padding: var(--sgds-padding-xs);
  pointer-events: none;
  margin-top: -100%;
  transition: all var(--sgds-motion-duration-standard) var(--sgds-motion-easing-standard);
}

.sidebar-submenu.show > div {
  pointer-events: auto;
  margin-top: 0;
}
