
:host {
  --indicator-color: #0f71bb;
  --track-color: transparent;
  --track-width: 2px;
  display: block;
}
slot[name="nav"] {
  &[variant="tabs-basic-toggle"]::slotted(sgds-tab) {
    margin-left: -2px;
  }
}
// .tab-group {
//   display: flex;
//   border-radius: 0;
// }
// .tab-group__tabs {
//   display: flex;
//   position: relative;
// }
// .tab-group__indicator {
//   position: absolute;
//   // transition: var(--sl-transition-fast) translate ease, var(--sl-transition-fast) width ease;
// }
// .tab-group--has-scroll-controls .tab-group__nav-container {
//   position: relative;
//   padding: 0 var(--sl-spacing-x-large);
// }
// .tab-group__body {
//   display: block;
//   overflow: auto;
// }
// .tab-group__scroll-button {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: var(--sl-spacing-x-large);
// }
// .tab-group__scroll-button--start {
//   left: 0;
// }
// .tab-group__scroll-button--end {
//   right: 0;
// }
// .tab-group--rtl .tab-group__scroll-button--start {
//   left: auto;
//   right: 0;
// }
// .tab-group--rtl .tab-group__scroll-button--end {
//   left: 0;
//   right: auto;
// }
// /*
//  * Top
//  */
// .tab-group--top {
//   flex-direction: column;

// }
// .tab-group--top .tab-group__nav-container {
//   order: 1;
// }
// .tab-group--top .tab-group__nav {
//   display: flex;
//   overflow-x: auto;
//   /* Hide scrollbar in Firefox */
//   scrollbar-width: none;
// }
// /* Hide scrollbar in Chrome/Safari */
// .tab-group--top .tab-group__nav::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }
// .tab-group--top .tab-group__tabs {
//   flex: 1 1 auto;
//   position: relative;
//   flex-direction: row;
//   border-bottom: solid $nav-tabs-border-width transparent;
//   gap: 1rem;

// }
// .tab-group--top .tab-group__indicator {
//   bottom: calc(-1 * #{$nav-tabs-border-width});
//   // border-bottom: solid $nav-tabs-border-width $blue-500;
// }
// .tab-group--top .tab-group__body {
//   order: 2;
// }
// .tab-group--top ::slotted(sl-tab-panel) {
//   --padding: var(--sl-spacing-medium) 0;
// }

// .tab-group--top{
//   &.tab-group--basic-toggle .tab-group__tabs {
//     gap:0;
//     ::slotted(sgds-tab){
//       margin-right: -2px;

//     }
//   }
// }
