.tab-group {
  display: flex;
  flex-direction: column;

}

.tab-group__content {
  flex: 1;
}

:host([orientation="vertical"]) .tab-group {
  flex-direction: row;
}

:host([orientation="vertical"]) .tab-group__content {
  flex: 1;
}