:host([density="compact"]) .tab {
  padding: var(--sgds-spacer-3) var(--sgds-spacer-5);
  font-size: var(--sgds-font-size-1);
}

:host(:not([active])) .tab {
  cursor: pointer;
}

:host([variant="solid"]) .tab {
  background-color: var(--sgds-default-bg-translucent-subtle);
  border-radius: var(--sgds-border-radius-md);
}

:host([variant="solid"][active]) .tab {
  background-color: var(--sgds-primary-color);
  color: var(--sgds-default-color-on-dark);
}

:host([variant="solid"]:not([active]):not([disabled])) .tab:hover {
  background-color: var(--sgds-gray-300);
}

:host([disabled]) .tab {
  opacity: var(--sgds-opacity-5);
  cursor: not-allowed;
}

:host([variant="underlined"][orientation="vertical"]) .tab {
  border-right: var(--sgds-border-width-1) solid var(--sgds-default-border-color-muted);
}

:host([variant="underlined"][orientation="vertical"][active]) .tab::after,
:host([variant="underlined"][orientation="vertical"]:not([disabled])) .tab:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -1px;
  width: var(--sgds-border-width-4);
  height: 100%;
  background-color: var(--sgds-primary-color);
}

:host([variant="underlined"][orientation="horizontal"]) .tab {
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-default-border-color-muted);
}

:host([variant="underlined"][orientation="horizontal"][active]) .tab::after,
:host([variant="underlined"][orientation="horizontal"]:not([disabled])) .tab:hover::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: var(--sgds-border-width-4);
  width: 100%;
  background-color: var(--sgds-primary-color);
}

:host([variant="underlined"][orientation="vertical"]:not([active]):not([disabled])) .tab:hover::after,
:host([variant="underlined"][orientation="horizontal"]:not([active]):not([disabled])) .tab:hover::after {
  background-color: var(--sgds-default-bg-subtle);
}

.tab {
  display: flex;
  align-items: center;
  gap: var(--sgds-spacer-3);
  padding: var(--sgds-spacer-4) var(--sgds-spacer-5);
  color: var(--sgds-default-color-emphasis);
  position: relative;
}

.tab:focus,
.tab:focus-visible {
  background-color: var(--sgds-btn-hover-bg);
  box-shadow: var(--sgds-box-shadow-focus);
  outline: 0;
}
