:host([density="compact"]) .tab {
  padding: var(--sgds-spacer-3) var(--sgds-spacer-5);
  font-size: var(--sgds-font-size-14);
}

:host(:not([active])) .tab {
  cursor: pointer;
}

:host([variant="solid"]) .tab {
  background-color: var(--sgds-bg-translucent-subtle);
  border-radius: var(--sgds-border-radius-md);
}

:host([variant="solid"][active]) .tab {
  background-color: var(--sgds-primary-surface-default);
  color: var(--sgds-color-fixed-light);
}

:host([variant="solid"]:not([active]):not([disabled])) .tab:focus,
:host([variant="solid"]:not([active]):not([disabled])) .tab:focus-visible {
  background-color: var(--sgds-bg-translucent);
}

:host([variant="solid"]:not([active]):not([disabled])) .tab:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

:host([variant="solid"]:not([active]):not([disabled])) .tab:hover {
  background-color: var(--sgds-bg-translucent);
}

:host([disabled]) .tab {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
}

:host([variant="underlined"][active]) .tab {
  color: var(--sgds-primary-color-default);
}

:host([variant="underlined"][orientation="vertical"]) .tab {
  border-right: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}

:host([variant="underlined"][orientation="vertical"][active]) .tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -1px;
  width: var(--sgds-border-width-4);
  height: 100%;
  background-color: var(--sgds-primary-surface-default);
}

:host([variant="underlined"][orientation="horizontal"]) .tab {
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}

:host([variant="underlined"][orientation="horizontal"][active]) .tab::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: var(--sgds-border-width-4);
  width: 100%;
  background-color: var(--sgds-primary-surface-default);
}

:host([variant="underlined"]:not([active]):not([disabled])) .tab:focus,
:host([variant="underlined"]:not([active]):not([disabled])) .tab:focus-visible {
  outline: 0;
  background-color: var(--sgds-bg-translucent-subtle);
}

:host([variant="underlined"]:not([active]):not([disabled])) .tab:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

:host([variant="underlined"]:not([active]):not([disabled])) .tab:hover {
  background-color: var(--sgds-bg-translucent-subtle);
}

.tab {
  display: flex;
  align-items: center;
  gap: var(--sgds-spacer-3);
  padding: var(--sgds-spacer-4) var(--sgds-spacer-5);
  color: var(--sgds-color-default);
  position: relative;
}

.tab:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}
