.footer-item {
  margin-bottom: var(--sgds-margin-xs);
}

.footer-item,
.links {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
}

slot[name="title"]::slotted(*) {
  --sgds-paragraph-spacing-xl: var(--sgds-margin-none);
  --sgds-font-weight-regular: var(--sgds-font-weight-semibold);
  color: var(--sgds-color-fixed-light);
  font-weight: var(--sgds-font-weight-regular, --sgds-font-weight-semibold);
  margin: var(--sgds-paragraph-spacing-xl, --sgds-margin-none);
}


.links {
  margin: 0;
  padding: 0;
}

.links slot::slotted(a) {
  --sgds-link-color-default: var(--sgds-color-fixed-light);
  color: var(--sgds-link-color-default, --sgds-fixed-light);
  width: fit-content;
}

slot::slotted(a:hover),
.links slot::slotted(a:focus),
.links slot::slotted(a:focus-visible) {
  --sgds-link-color-emphasis: var(--sgds-color-fixed-light);
  color: var(--sgds-link-color-emphasis, --sgds-color-fixed-light);
}

.links slot::slotted(a:focus-visible) {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}
