.footer {
  container: footer / inline-size;
  height: auto;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-md);
  background-color: var(--sgds-default-bg-emphasis);
  padding: var(--sgds-padding-xl) var(--sgds-padding-2-xl);
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-default-border-color);
}

.footer-header {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
  margin: var(--sgds-margin-3-xs) 0;
}

slot[name="title"]::slotted(*) {
  --sgds-header-color: var(--sgds-default-color-inverse);
  --sgds-font-size-6: var(--sgds-font-size-5);
  --sgds-margin-2-xs: var(--sgds-margin-none);
  color: var(--sgds-header-color, --sgds-default-color-inverse);
  font-size: var(--sgds-font-size-6, --sgds-font-size-5);
  font-weight: var(--sgds-font-weight-bold);
  line-height: var(--sgds-line-height-heading);
  letter-spacing: var(--sgds-letter-spacing-tight);
  margin-top: var(--sgds-margin-none);
  margin-bottom: var(--sgds-margin-2-xs, --sgds-margin-none);
}

slot[name="description"]::slotted(*) {
  --sgds-font-size-2: var(--sgds-font-size-3);
  --sgds-paragraph-spacing-xl: var(--sgds-margin-none);
  color: var(--sgds-default-color-muted);
  font-size: var(--sgds-font-size-2, --sgds-font-size-3);
  margin-bottom: var(--sgds-paragraph-spacing-xl, --sgds-margin-none);
  margin-top: var(--sgds-margin-none);
}

.footer-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--sgds-gap-md) var(--sgds-gap-lg);
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style-type: none;
}

.footer-mandatory-links ul li a {
  color: var(--sgds-default-color-muted);
  text-decoration: none;
}

.footer-mandatory-links ul li a:hover,
.footer-mandatory-links ul li a:focus {
  color: var(--sgds-default-color-inverse);
}

.footer-mandatory-links ul li a:focus,
.footer-mandatory-links ul li a:focus-visible {
  outline: 0;
  box-shadow: var(--sgds-box-shadow-focus);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-md);
  background-color: var(--sgds-default-bg-emphasis);
  padding: var(--sgds-padding-xl) var(--sgds-padding-2-xl);
}

.social-media {
  display: flex;
  gap: var(--sgds-gap-sm);
}

slot[name="social-media"]::slotted(a) {
  --sgds-link-color: light-dark(var(--sgds-gray-000), var(--sgds-gray-900));
  --sgds-body-color: light-dark(var(--sgds-gray-000), var(--sgds-gray-900));
  color: var(--sgds-body-color, --sgds-link-color);
  display: inline-flex;
}

slot[name="social-media"]::slotted(a:hover) {
  --sgds-link-color-emphasis: light-dark(var(--sgds-gray-000), var(--sgds-gray-900));
  color: var(--sgds-link-color-emphasis);
}

slot[name="social-media"]::slotted(a:focus),
slot[name="social-media"]::slotted(a:focus-visible) {
  --sgds-link-color-emphasis: light-dark(var(--sgds-gray-000), var(--sgds-gray-900));
  outline: 0;
  box-shadow: var(--sgds-box-shadow-focus);
  color: var(--sgds-link-color-emphasis);
}

.footer-mandatory-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--sgds-gap-xl) var(--sgds-gap-lg);
}

.footer-mandatory-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sgds-gap-xs) var(--sgds-gap-xl);
}

.footer-copyrights {
  color: var(--sgds-default-color-muted);
}

@container footer (max-width: 711px) {
  .footer-top,
  .footer-bottom {
    padding: var(--sgds-padding-lg);
  }

  .footer-top {
    gap: var(--sgds-gap-lg);
  }

  .footer-mandatory-links,
  .footer-mandatory-links ul {
    flex-direction: column;
  }
}