.footer {
  container: footer / inline-size;
  height: auto;
  background-color: var(--sgds-bg-fixed-dark);
  padding: var(--sgds-padding-none) var(--sgds-padding-lg);
}

.footer-top {
  display: flex;
  flex-direction: column;
  padding: var(--sgds-padding-2-xl) var(--sgds-padding-none);
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-default);
}

.footer-top.has-content {
  gap: var(--sgds-gap-2-xl);
}

.footer-header {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-sm);
}

slot[name="title"]::slotted(*) {
  color: var(--sgds-color-fixed-light) !important;
  font-size: var(--sgds-font-size-24) !important;
  font-weight: var(--sgds-font-weight-semibold);
  line-height: var(--sgds-line-height-32) !important;
  letter-spacing: var(--sgds-letter-spacing-tight);
  margin-top: var(--sgds-margin-none);
  margin-bottom: var(--sgds-margin-none) !important;
}

slot[name="description"]::slotted(*),
slot:not([name])::slotted(*) {
  color: var(--sgds-color-fixed-light);
  margin-top: var(--sgds-margin-none);
  margin-bottom: var(--sgds-margin-none) !important;
}

.footer-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--sgds-gap-md) var(--sgds-gap-lg);
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style-type: none;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-md);
  padding: var(--sgds-padding-2-xl) var(--sgds-padding-none);
}

.footer-mandatory-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--sgds-gap-xl);
}

.footer-mandatory-links ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--sgds-gap-sm);
}

.footer-mandatory-links ul li a {
  color: var(--sgds-color-fixed-light);
}

.footer-mandatory-links ul li a:hover,
.footer-mandatory-links ul li a:focus {
  color: var(--sgds-color-fixed-light);
}

.footer-mandatory-links ul li a:focus-visible {
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

.footer-copyrights {
  color: var(--sgds-color-fixed-light);
  font-size: var(--sgds-font-size-14);
}

@container footer (min-width: 512px) {
  .footer {
    padding: var(--sgds-padding-none) var(--sgds-padding-xl);
  }

  .footer-top,
  .footer-bottom {
    padding: var(--sgds-padding-2-xl) var(--sgds-padding-none);
  }
}

@container footer (min-width: 768px) {
  .footer {
    padding: var(--sgds-padding-none) var(--sgds-padding-2-xl);
  }

  .footer-mandatory-links ul {
    flex-direction: row;
    gap: var(--sgds-gap-sm) var(--sgds-gap-xl);
  }
}

@container footer (min-width: 1024px) {
  .footer {
    padding: var(--sgds-padding-none);
  }

  .footer-top {
    width: 100%;
    max-width: var(--sgds-dimension-888);
    margin: auto;
    padding: var(--sgds-padding-3-xl) var(--sgds-padding-none);
  }
  
  .footer-top.has-content {
    gap: var(--sgds-gap-3-xl);
  }

  slot[name="title"]::slotted(*) {
    font-size: var(--sgds-font-size-28) !important;
    line-height: var(--sgds-line-height-36) !important;
  }

  .footer-bottom {
    width: 100%;
    max-width: var(--sgds-dimension-888);
    margin: auto;
    padding: var(--sgds-padding-2-xl) var(--sgds-padding-none);
  }

  .footer-mandatory-links ul {
    gap: var(--sgds-gap-xl);
  }
}

@container footer (min-width: 1280px) {
  .footer-top {
    max-width: var(--sgds-dimension-1168);
  }

  .footer-bottom {
    max-width: var(--sgds-dimension-1168);
  }

  .footer-mandatory-links {
    flex-direction: row;
  }
}

@container footer (min-width: 1440px) {
  .footer-top {
    max-width: var(--sgds-dimension-1312);
  }

  .footer-bottom {
    max-width: var(--sgds-dimension-1312);
  }
}