  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  .sgds.footer .footer-header .title {
    color: var(--sgds-heading-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  .sgds.footer .footer-header .title {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    .sgds.footer .footer-header .title {
      font-size: 1.5rem;
    }
  }
  .sgds.footer .footer-header .title {
    line-height: 1.33;
  }
  .container-fluid {
    /* --sgds-gutter-x: 0.75rem;
    --sgds-gutter-y: 0; */
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--sgds-gutter-x, 1.5rem); 
    padding-right: var(--sgds-gutter-x, 1.5rem);
    width: 100%;
  }
  .row {
    --sgds-gutter-x: 1.5rem;
    --sgds-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--sgds-gutter-x) * -0.5);
    margin-right: calc(var(--sgds-gutter-x) * -0.5);
    margin-top: calc(var(--sgds-gutter-y) * -1);
  }
  .row > * {
    flex-shrink: 0;
    margin-top: var(--sgds-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--sgds-gutter-x) * 0.5);
    padding-right: calc(var(--sgds-gutter-x) * 0.5);
    width: 100%;
  }
  .col {
    flex: 1 0 0%;
  }
  @media (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }
  @media (min-width: 1400px) {
    .col-xxl-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  }
  .sgds.footer .footer-contact-links ul,
  .sgds.footer .footer-items ul,
  .sgds.footer .footer-mandatory-links ul {
    margin: 0;
    padding: 0;
  }
  .sgds.footer .footer-contact-links ul li,
  .sgds.footer .footer-items ul li,
  .sgds.footer .footer-mandatory-links ul li {
    font-size: 1rem;
    line-height: 1.5;
    list-style-type: none;
  }
  .sgds.footer .footer-contact-links ul li + li,
  .sgds.footer .footer-items ul li + li,
  .sgds.footer .footer-mandatory-links ul li + li {
    margin-top: 1rem;
  }
  .sgds.footer .footer-contact-links ul li a,
  .sgds.footer .footer-items ul li a,
  .sgds.footer .footer-mandatory-links ul li a {
    color: #b1b1b1;
    text-decoration: none;
  }
  .sgds.footer,
  .sgds.footer .footer-contact-links ul li a:hover,
  .sgds.footer .footer-items ul li a:hover,
  .sgds.footer .footer-mandatory-links ul li a:hover {
    color: #f7f7f7;
  }
  .sgds.footer {
    height: auto;
  }
  .sgds.footer .footer-top {
    background-color: #111;
    padding: 3rem 0 1.5rem;
  }
  .sgds.footer .footer-header {
    margin-bottom: 1.5rem;
  }
  .sgds.footer .footer-header .title {
    margin-bottom: 1rem;
  }
  .sgds.footer .footer-header .description {
    color: #909090;
  }
  @media (max-width: 575.98px) {
    .sgds.footer .footer-items > div[class*="col"] + div[class*="col"] {
      margin-top: 2rem;
    }
  }
  .sgds.footer .footer-items .title {
    font-weight: 700;
  }
  .sgds.footer .footer-items .links {
    margin-top: 1rem;
  }
  .sgds.footer .footer-contact-links {
    margin-top: 2rem;
  }
  @media (min-width: 992px) {
    .sgds.footer .footer-contact-links ul li {
      display: inline-block;
    }
    .sgds.footer .footer-contact-links ul li + li {
      margin-left: 1rem;
    }
  }
  .sgds.footer .footer-bottom {
    background-color: #111;
    border-top: 1px solid #252525;
    padding: 1.5rem 0;
  }
  @media (min-width: 992px) {
    .sgds.footer .footer-mandatory-links ul li {
      display: inline-block;
    }
    .sgds.footer .footer-mandatory-links ul li + li {
      margin-left: 1rem;
    }
  }
  @media (max-width: 991.98px) {
    .sgds.footer .footer-copyrights {
      margin-top: 1rem;
    }
  }
  .d-flex {
    display: flex !important;
  }
  .text-end {
    text-align: right !important;
  }
  @media (min-width: 992px) {
    .justify-content-lg-end {
      justify-content: flex-end !important;
    }
  }

