.footer-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--sgds-gap-md) var(--sgds-gap-lg);
}

.footer-item {
  margin-bottom: var(--sgds-margin-3-xs);
}

.footer-item,
.links {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
}

.title {
  color: var(--sgds-default-color-inverse);
  font-weight: var(--sgds-font-weight-semibold);
}

.links {
  margin: 0;
  padding: 0;
}

.links li {
  list-style-type: none;
}

.links li a {
  color: var(--sgds-default-color-muted);
  text-decoration: none;
}

.links li a:hover,
.links li a:focus,
.links li a:focus-visible {
  color: var(--sgds-default-color-inverse);
}

.links li a:focus,
.links li a:focus-visible {
  outline: 0;
  box-shadow: var(--sgds-box-shadow-focus);
}