
@import '../utils/base.scss';
@import "~@govtechsg/sgds/sass/buttons"; 

:host {
    display: inline-block;
}

.btn-icon{
  background: transparent;
  border: 0;
  &:hover{
    background: transparent;
  }
}