/* For content related stylings */
.home-card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}
sgds-card.intro::part(base) {
  border: none;
  background-color: #f6f7fb;
  border-radius: 24px;
  height: 100%;
}

/* FAQ stylings */
sgds-card.faq::part(base) {
  border: none;
  background-color: #f6f7fb;
  border-radius: 24px;
}
sgds-faq-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  width: 100%;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-2-xs);
}
