/* For content related stylings */
.home-card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}
.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}
sgds-card.intro::part(base) {
  border: none;
  background-color: #f6f7fb;
  border-radius: 24px;
  height: 100%;
}
/* FAQ stylings */
sgds-card.faq::part(base) {
  border: none;
  background-color: #f6f7fb;
  border-radius: 24px;
}
sgds-faq-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  width: 100%;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-sm);
}
.d-flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--sgds-gap-sm);
}
.flex-wrap {
  flex-wrap: wrap;
}
.docs-story{
  background: var(--sgds-bg-default);
}
.sb-story{
  padding: var(--sgds-padding-xs);
  margin: calc(var(--sgds-margin-xs) * -1);
}
ul.toc-list > * {
  font-size: var(--sgds-font-size-1);
}
.grid-item {
  background-color: var(--sgds-product-primary-600);
  color: white;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
}
/* https://github.com/storybookjs/storybook/issues/23586 */
.docs-story :not(.sb-story *):not(:has(sgds-toast-container)) {
  transform: none;
}
