tbody,
td,
th,
thead,
tr {
  border: var(--sgds-border-width-0) solid;
  border-color: inherit;
}

th {
  text-align: -webkit-match-parent;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
}

.table {
  border-color: var(--sgds-border-color-default);
  vertical-align: top;
  width: 100%;
}

.table > :not(caption) th,
.table > :not(caption) td {
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
  padding: var(--sgds-padding-lg);
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}

.table > thead th {
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-emphasis);
}

.table-group-divider {
  border-top: calc(var(--sgds-border-width) * 2) solid;
}

.table > :not(:first-child) {
  border-top: var(--sgds-border-width-1) solid var(--sgds-border-color-emphasis);
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}