:host {
  display: table-cell;
  vertical-align: middle;
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}

.table-cell {
  display: flex;
  align-items: center;
  min-height: var(--sgds-dimension-56);
  padding: var(--sgds-padding-sm) var(--sgds-padding-md);
}