tbody,
td,
th,
thead,
tr {
  border: var(--sgds-border-width-0) solid;
  border-color: inherit;
}

th {
  text-align: -webkit-match-parent;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
}

.table {
  display: table;
  width: 100%;
}

.hidden {
  display: none;
}

.table > :not(caption) th,
.table > :not(caption) td {
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}

.table > :not(caption) th > div,
.table > :not(caption) td > div {
  display: flex;
  align-items: center;
  padding: var(--sgds-padding-sm) var(--sgds-padding-md);
  min-height: var(--sgds-dimension-56);
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}

.table > :not(:first-child) {
  border-top: var(--sgds-border-width-1) solid var(--sgds-border-color-emphasis);
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

:host([tableBorder]) .table {
  border: var(--sgds-border-width-1) solid;
  border-color: var(--sgds-border-color-muted);
  border-bottom: 0;
}

:host([headerBackground]) th {
  background-color: var(--sgds-surface-raised);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
}
