:host {
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}
.table-head {
  padding: var(--sgds-padding-lg) var(--sgds-padding-md);
}

:host([background]) {
  background-color: var(--sgds-surface-raised);
}
