:host {
  --sgds-tooltip-max-width: 20rem;
  display: inline-block;
}

.tooltip {
  word-wrap: break-word;
  display: block;
  font-size: 0.875rem;
  line-break: auto;
  opacity: 0;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  z-index: 1080;
}
.tooltip.show {
  opacity: 0.9;
}
.tooltip-inner {
  background-color: var(--sgds-dark);
  border-radius: var(--sgds-border-radius);
  color: var(--sgds-body-bg);
  max-width: var(--sgds-tooltip-max-width);
  padding: 0.25rem 0.5rem;
  text-align: center;
}
div {
  max-width: fit-content;
}
