:host([expand="always"]) .nav-link {
  min-height: 100%;
  padding: 0px var(--sgds-padding-md);
  border-bottom: var(--sgds-border-width-4) solid transparent;
}

@media (min-width: 512px) {
  :host([expand="sm"]) .nav-link {
    min-height: 100%;
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }
  
  :host([expand="sm"]) .nav-link:not(.disabled):focus-visible {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media (min-width: 768px) {
  :host([expand="md"]) .nav-link {
    min-height: 100%;
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host([expand="md"]) .nav-link:not(.disabled):focus-visible {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media (min-width: 1024px) {
  :host(:not([expand])) .nav-link,
  :host([expand="lg"]) .nav-link {
    min-height: 100%;
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host([expand="lg"]) .nav-link:not(.disabled):focus-visible {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media (min-width: 1280px) {
  :host([expand="xl"]) .nav-link {
    min-height: 100%;
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host([expand="xl"]) .nav-link:not(.disabled):focus-visible {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media (min-width: 1440px) {
  :host([expand="xxl"]) .nav-link {
    min-height: 100%;
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host([expand="xxl"]) .nav-link:not(.disabled):focus-visible {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

.nav-link {
  display: flex;
  gap: var(--sgds-gap-xs);
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  padding: var(--sgds-padding-sm) var(--sgds-mainnav-padding-x);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .nav-link {
    padding: var(--sgds-padding-sm) var(--sgds-mainnav-mobile-padding-x);
  }
}

.nav-link:not(.disabled).active,
.nav-link.show {
  color: var(--sgds-primary-color-default);
  border-color: var(--sgds-primary-border-color-default);
}

.nav-link:not(.disabled):hover {
  color: var(--sgds-primary-color-default);
}

.nav-link:not(.disabled):focus,
.nav-link:not(.disabled):focus-visible {
  outline: 0;
}

.nav-link:not(.disabled):focus-visible {
  box-shadow: var(--sgds-box-shadow-focus) inset;
  color: var(--sgds-primary-color-default);
}

.nav-link.disabled {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
}

.dropdown-items {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: var(--sgds-padding-md) 0px;
  background-color: var(--sgds-surface-default);
}

.dropdown-items a {
  display: flex;
  gap: var(--sgds-gap-xs);
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--sgds-color-default);
  padding: var(--sgds-padding-sm) var(--sgds-mainnav-padding-x);
}

.dropdown-items a:hover {
  color: var(--sgds-primary-color-default);
}

.dropdown-items a:focus,
.dropdown-items a:focus-visible {
  outline: 0;
}

.dropdown-items a:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus) inset;
  color: var(--sgds-primary-color-default);
}

slot[name="toggler"]::slotted(*) {
  flex: 1;
}

sgds-dropdown {
  height: 100%;   
}