:host([expand="always"]) ::slotted(*) {
  padding: 0px var(--sgds-padding-md);
  border-bottom: var(--sgds-border-width-4) solid transparent;
}

@media screen and (min-width: 512px) {
  :host([expand="sm"]) ::slotted(*) {
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host(:not([disabled])[active][expand="sm"]) ::slotted(*) {
    border-color: var(--sgds-primary-border-color-default);
  }

  :host([expand="sm"]) ::slotted(a:focus-visible) {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media screen and (min-width: 768px) {
  :host([expand="md"]) ::slotted(*) {
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host(:not([disabled])[active][expand="md"]) ::slotted(*) {
    border-color: var(--sgds-primary-border-color-default);
  }

  :host([expand="md"]) ::slotted(a:focus-visible) {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media screen and (min-width: 1024px) {
  :host([expand="lg"]) ::slotted(*) {
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host(:not([disabled])[active][expand="lg"]) ::slotted(*) {
    border-color: var(--sgds-primary-border-color-default);
  }
  
  :host([expand="lg"]) ::slotted(a:focus-visible) {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media screen and (min-width: 1280px) {
  :host([expand="xl"]) ::slotted(*) {
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host(:not([disabled])[active][expand="xl"]) ::slotted(*) {
    border-color: var(--sgds-primary-border-color-default);
  }

  :host([expand="xl"]) ::slotted(a:focus-visible) {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media screen and (min-width: 1440px) {
  :host([expand="xxl"]) ::slotted(*) {
    padding: 0px var(--sgds-padding-md);
    border-bottom: var(--sgds-border-width-4) solid transparent;
  }

  :host(:not([disabled])[active][expand="xxl"]) ::slotted(*) {
    border-color: var(--sgds-primary-border-color-default);
  }

  :host([expand="xxl"]) ::slotted(a:focus-visible) {
    box-shadow: var(--sgds-box-shadow-focus);
  }
}

@media screen and (max-width: 511px) {
  :host(:not([disabled])[active][expand="sm"]) ::slotted(*) {
    background-color: var(--sgds-bg-translucent-subtle);
  }
}

@media screen and (max-width: 767px) {
  :host(:not([disabled])[active][expand="md"]) ::slotted(*) {
    background-color: var(--sgds-bg-translucent-subtle);
  }
}

@media screen and (max-width: 1023px) {
  :host(:not([disabled])[active][expand="lg"]) ::slotted(*) {
    background-color: var(--sgds-bg-translucent-subtle);
  }
}

@media screen and (max-width: 1279px) {
  :host(:not([disabled])[active][expand="xl"]) ::slotted(*) {
    background-color: var(--sgds-bg-translucent-subtle);
  }
}

@media screen and (max-width: 1439px) {
  :host(:not([disabled])[active][expand="xxl"]) ::slotted(*) {
    background-color: var(--sgds-bg-translucent-subtle);
  }
}

::slotted(*) {
  --sgds-link-color-default: var(--sgds-color-default);
  display: flex;
  cursor: pointer;
  height: auto !important;
  min-height: 100%;
  text-decoration: none !important;
  align-items: center;
  text-decoration: none;
  color: var(--sgds-link-color-default, var(--sgds-color-default));
  padding: var(--sgds-padding-sm) var(--sgds-mainnav-padding-x);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  ::slotted(*) {
    padding: var(--sgds-padding-sm) var(--sgds-mainnav-mobile-padding-x);
  }
}

:host(:not([disabled])[active]) ::slotted(*) {
  --sgds-link-color-default: var(--sgds-primary-color-default);
  color: var(--sgds-link-color-default, var(--sgds-primary-color-default));
}

:host([disabled]) ::slotted(a:hover) {
  --sgds-link-color-emphasis: var(--sgds-color-default);
  color: var(--sgds-link-color-emphasis, var(--sgds-color-default));
}

:host(:not([disabled])) ::slotted(a:hover) {
  --sgds-link-color-emphasis: var(--sgds-primary-color-default);
  color: var(--sgds-link-color-emphasis, var(--sgds-primary-color-default));
}

::slotted(a:focus),
::slotted(a:focus-visible) {
  outline: 0;
}

::slotted(a:focus-visible) {
  --sgds-link-color-emphasis: var(--sgds-primary-color-default);
  color: var(--sgds-link-color-emphasis, var(--sgds-primary-color-default));
  box-shadow: var(--sgds-box-shadow-focus) inset;
}

:host([disabled]) ::slotted(*) {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
}
