:host {
  z-index: 1200;
}

:host([expand="always"]) {
  position: relative;
}

nav {
  background-color: var(--sgds-surface-default);
  box-shadow: 0px 2px 2px 0px rgba(14, 14, 14, 0.08);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--sgds-gap-xs);
  position: relative;
  padding: 0px var(--sgds-mainnav-padding-x);
  width: 100%;
  max-width: var(--sgds-mainnav-max-width);
  min-height: 80px;
  margin: auto;
}


@media screen and (max-width: 768px) {
  .navbar {
    padding: 0px var(--sgds-mainnav-mobile-padding-x);
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:focus-visible {
  outline: 0;
}

.navbar-brand:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus);
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

nav > .navbar-body {
  position: absolute;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  background-color: var(--sgds-surface-default);
  padding: var(--sgds-padding-md) 0px;
  border-top: var(--sgds-border-width-1) solid var(--sgds-border-color-translucent);
  box-shadow: 0px 2px 2px 0px rgba(14, 14, 14, 0.08);
  transition: transform 0.2s ease-in-out;
}

nav > .navbar-body slot::slotted(:not(sgds-mainnav-item):not(sgds-mainnav-dropdown)) {
  padding: var(--sgds-padding-sm) var(--sgds-mainnav-padding-x);
}

@media screen and (max-width: 768px) {
  nav > .navbar-body slot::slotted(:not(sgds-mainnav-item):not(sgds-mainnav-dropdown)) {
    padding: var(--sgds-padding-sm) var(--sgds-mainnav-mobile-padding-x);
  }
}

.navbar-collapse {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}

.navbar-toggler {
  align-self: center;
}

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}

.navbar-nav-scroll {
  overflow-y: auto;
}

@media (min-width: 576px) {
  :host([expand="sm"]) {
    position: relative;
  }

  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: var(--sgds-gap-xl);
  }

  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-sm .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}
@media (min-width: 768px) {
  :host([expand="md"]) {
    position: relative;
  }

  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: var(--sgds-gap-xl);
  }

  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-md .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
@media (min-width: 1024px) {
  :host([expand="lg"]) {
    position: relative;
  }

  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: var(--sgds-gap-xl);
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
@media (min-width: 1280px) {
  :host([expand="xl"]) {
    position: relative;
  }

  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: var(--sgds-gap-xl);
  }

  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-left: var(--mainnav-nav-link-padding-x);
    padding-right: var(--mainnav-nav-link-padding-x);
  }
  
  .navbar-expand-xl .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}
@media (min-width: 1440px) {
  :host([expand="xxl"]) {
    position: relative;
  }

  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: var(--sgds-gap-xl);
  }

  .navbar-expand-xxl .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-xxl .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-expand-xxl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-xxl .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: var(--sgds-gap-xl);
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav-scroll {
  overflow: visible;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

/* slot */

slot[name="non-collapsible"] {
  display: flex;
  gap: var(--sgds-spacer-4);
  align-items: center;
  margin-left: auto;
}

.slot-end {
  display: flex;
  margin-left: auto;
  align-items: stretch;
  gap: var(--sgds-gap-xs);
}

/* there is no wildcard selector for element tag names in css */
.slot-end::slotted(:not([name$="-mainnav-item"]):not([name$="-mainnav-dropdown"])) {
  align-self: center;
}