:host {
    /* NEW in 2.0 */
    --sgds-mainnav-dropdown-theme-color: var(--sgds-mainnav-theme-color, var(--sgds-primary));
    --sgds-mainnav-dropdown-color: var(--sgds-body-color);
    --sgds-mainnav-dropdown-border-bottom-width: 0.125rem;
    --sgds-mainnav-dropdown-disabled-opacity: var(--sgds-mainnav-disabled-opacity, 0.5)
  }

  .dropdown-menu {
    margin-top: 0;
    border: 1px solid rgba(#000, 0.1);
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
  }
  .nav-link.show {
    border-color: var(--sgds-mainnav-dropdown-theme-color);
    color: var(--sgds-mainnav-dropdown-theme-color);
  }

  li {
    height: 100%;
  }
  a.nav-link {
    display: flex;
    cursor: pointer;
    color: var(--sgds-mainnav-dropdown-color);
    border-bottom: var(--sgds-mainnav-dropdown-border-bottom-width) solid transparent;
    min-height: 100%;
    align-items: center;
    padding: 0;
    text-decoration: none;
    &.active,
    &:hover {
      color: var(--sgds-mainnav-dropdown-theme-color);
      border-color: var(--sgds-mainnav-dropdown-theme-color);
    }
    &:focus-visible {
      box-shadow: 0 0 0 0.25rem rgba(89, 66, 219, 0.25);
      outline: 0;
    }
  }

  .nav-link.disabled {
    cursor: default;
    pointer-events: none;
    opacity: var(--sgds-mainnav-dropdown-disabled-opacity);
  }

