
:host   {
  --mainnav-item-theme-color: #5925DC;
  --mainnav-item-color: #344054;
  --mainnav-item-borderBottom-width: 0.125rem;
}

li {
  height: 100%;
}

a.nav-link {
  display: flex;
  color: var(--mainnav-item-color);
  border-bottom: var(--mainnav-item-borderBottom-width) solid transparent;
  min-height: 100%;
  align-items: center;

  &.active,
  &:hover {
    color: var(--mainnav-item-theme-color);
    border-color: var(--mainnav-item-theme-color);
  }
}
