:host{
  --mainnav-background-color: white;
  --maninav-padding-x: 1rem;
  --mainnav-padding-y: 0;
  --mainnav-mobile-padding-x: 0.5rem;
  --mainnav-mobile-padding-y: 0;
}

.sgds{
  &.navbar{
    background-color: var(--mainnav-background-color);
    padding: var(--maninav-padding-y) var(--maninav-padding-x);

    @media (max-width: 768px) { 
      padding: var(--maninav-mobile-padding-y) var(--mainnav-mobile-padding-x);
    }
  }
}

.navbar-nav {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  width: 100%;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

slot[name="non-collapsible"] {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.slot-end {
    display: flex;
    margin-left: auto;
    align-items: stretch;
    gap: 1rem;

}

// there is no wildcard selector for element tag names in css :/
.slot-end::slotted(:not([name$="-mainnav-item"])){
  align-self: center;
}