@import '@govtechsg/sgds/css/sgds';

* {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
/* 
  .container{
    width: 80%;
    margin: 8em auto;
  }

  .button-container{
    margin-top: 100px;
    margin-bottom: 100px;
  } */