:host([bordered]) .container {
  border: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
  border-radius: var(--sgds-border-radius-md);
}

.container {
  display: flex;
  flex-direction: column;
}

slot[name="title"]::slotted(*) {
  color: var(--sgds-heading-color-default);
  font-weight: var(--sgds-font-weight-semibold);
  letter-spacing: var(--sgds-letter-spacing-tight);
  font-size: var(--sgds-font-size-24);
  line-height: var(--sgds-line-height-32);
}

slot[name="description"]::slotted(*) {
  font-weight: var(--sgds-font-weight-regular);
  color: var(--sgds-color-subtle);
  font-size: var(--sgds-font-size-16);
  line-height: var(--sgds-line-height-24);
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
}

.has-header {
  padding: var(--sgds-padding-lg) var(--sgds-padding-xl);
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}