:host([bordered][islastchild]) .container:last-child {
  border-bottom: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--sgds-gap-2-xs);
  padding: var(--sgds-padding-lg) var(--sgds-padding-xl);
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}

.label-container,
.data-container {
  flex: 1;
}

.label-container {
  max-width: var(--sgds-dimension-280);
}

.label {
  color: var(--sgds-color-default);
  font-weight: var(--sgds-font-weight-semibold);
  font-size: var(--sgds-font-size-16);
}

.data {
  color: var(--sgds-color-subtle);
  font-size: var(--sgds-font-size-16);
  font-weight: var(--sgds-font-weight-regular);
  margin: 0;
}

@media (min-width: 512px) {
  :host(:not([stacked])) .container {
    flex-direction: row;
    gap: var(--sgds-gap-2-xl);
  }
}