:host([bordered]) .container:last-child {
  border-bottom: none;
}

:host([stacked]) .container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--sgds-gap-xs);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--sgds-gap-xs);
  padding: var(--sgds-padding-lg) var(--sgds-padding-xl);
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-border-color-muted);
}

.label-container,
.data-container {
  flex: 1;
}

.label {
  color: var(--sgds-color-default);
  font-weight: var(--sgds-font-weight-semibold);
  font-size: var(--sgds-font-size-2);
}

.data {
  color: var(--sgds-color-subtle);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--sgds-font-weight-regular);
  margin: 0;
}