:host([variant="border"][last-of-type]) .accordion-item {
  border-bottom: none;
}

:host([density="compact"]) .accordion-btn {
  padding: var(--sgds-padding-sm) var(--sgds-padding-sm);
  font-size: var(--sgds-font-size-2);
  line-height: var(--sgds-line-height-min);
}

:host([density="compact"]) .content {
  padding: var(--sgds-padding-xs) var(--sgds-padding-sm) var(--sgds-padding-sm);
}

.accordion-item {
  border-bottom: var(--sgds-border-width-1) solid var(--sgds-default-border-color-muted);
}

.accordion-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--sgds-gap-sm);
  padding: var(--sgds-padding-lg) var(--sgds-padding-lg);
  background-color: var(--sgds-default-bg-transparent);
  text-align: left;
  border: 0;
  color: var(--sgds-default-color);
  line-height: var(--sgds-line-height-heading);
  font-size: var(--sgds-font-size-3);
  overflow-anchor: none;
}

@media (prefers-reduced-motion: reduce) {
  .accordion-btn,
  .accordion-btn:after {
    transition: none;
  }
}

.accordion-btn:not(.collapsed) {
  font-weight: var(--sgds-font-weight-semibold);
}

.accordion-btn:hover {
  z-index: 2;
  background-color: var(--sgds-default-bg-translucent);
}

.accordion-btn:focus,
.accordion-btn:focus-visible {
  z-index: 3;
  outline: 0;
  box-shadow: var(--sgds-box-shadow-focus);
  background-color: var(--sgds-default-bg-translucent);
}

.accordion-btn.disabled,
.accordion-btn:disabled {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
}

slot[name="caret"]::slotted(*),
slot[name="caret"] sgds-icon {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
  color: var(--sgds-default-color-subtle);
}

.accordion-btn:not(.collapsed) slot[name="caret"]::slotted(*),
.accordion-btn:not(.collapsed) slot[name="caret"] sgds-icon {
  transform: rotate(-180deg);
}

.accordion-body {
  padding: 0;
  overflow: hidden;
}

.content {
  display: block;
  padding: var(--sgds-padding-xs) var(--sgds-padding-lg) var(--sgds-padding-lg);
}

.hidden {
  display: none;
}
