:host {
  /* RENAME in 2.0.0 */
  --sgds-accordion-item-padding-y: var(--sgds-spacer-3);
  --sgds-accordion-item-padding-x: var(--sgds-spacer-4);
  --sgds-accordion-item-border-radius: var(--sgds-border-radius, 0.3125rem);
  --sgds-accordion-item-font-weight: 700;
  --sgds-accordion-item-line-height: var(--sgds-body-line-height);
  /** NEW in 2.0.0 */
}
.accordion-btn {
  align-items: center;
  background-color: var(--sgds-body-bg);
  border: 0;
  border-radius: 0;
  color: var(--sgds-body-color);
  display: flex;
  font-size: 1rem;
  overflow-anchor: none;
  padding: var(--sgds-accordion-item-padding-y) var(--sgds-accordion-item-padding-x);
  position: relative;
  text-align: left;
  transition: var(--sgds-accordion-transition);
  width: 100%;

  svg.bi-chevron-down, slot[name="accordion-caret"]::slotted(*) {
    margin-left: auto;
    transition: var(transform 0.2s ease-in-out);
    width: 1.3rem;
    height: 1.3rem;
  }
}
.accordion-btn.collapsed {
  border-radius: var(--sgds-border-radius);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-btn {
    transition: none;
  }
}
.accordion-btn:not(.collapsed) {
  background-color: none;
  color: var(--sgds-accordion-active-color);

  svg.bi-chevron-down, slot[name="accordion-caret"]::slotted(*) {
    transform: var( rotate(-180deg));
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-btn:after {
    transition: none;
  }
}
.accordion-btn:hover {
  z-index: 2;
}
.accordion-btn:focus {
  box-shadow: var(0 0 0 var(--sgds-focus-width)
    var(var(--sgds-info-300)));
  outline: 0;
  z-index: 3;
}
.accordion-item {
  background-color: var(--sgds-body-bg);
  border: var(--sgds-border-width) solid var(--sgds-border-color);
  color: var(var(--sgds-body-color));
  border-radius: var(--sgds-accordion-item-border-radius) var(--sgds-accordion-item-border-radius);
}

.accordion-body {
  padding: 0;
  line-height: var(--sgds-accordion-item-line-height);
  overflow: hidden;
}
.accordion-content {
  display: block;
  padding: 0 var(--sgds-accordion-item-padding-x) var(--sgds-accordion-item-padding-y);
}
.accordion-btn {
  line-height: var(--sgds-accordion-item-line-height);
}
.accordion-btn:not(.collapsed) {
  font-weight: var(--sgds-accordion-item-font-weight);
  box-shadow: none;
}
 :host([first-of-type]) .accordion-item {
  border-radius: var(--sgds-accordion-item-border-radius) var(--sgds-accordion-item-border-radius) 0 0;
  .accordion-btn {
    border-top-left-radius: var(--sgds-border-radius);
    border-top-right-radius: var(--sgds-border-radius);
  }
}

:host([nth-of-type]) .accordion-item {
  border-radius: 0;
  border-top: 0;
  .accordion-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

:host([last-of-type]) .accordion-item {
  border-radius: 0 0 var(--sgds-accordion-item-border-radius) var(--sgds-accordion-item-border-radius);
  border-top: 0;
  .accordion-btn.collapsed {
    border-bottom-left-radius: var(--sgds-border-radius);
    border-bottom-right-radius: var(--sgds-border-radius);
  }
}

.hidden{
  display: none;
}