
:host{
  --accordion-padding-y: 1rem;
  --accordion-padding-x: 1.25rem;
  --accordion-border-radius: 0.25rem;
}

.accordion-body {
    padding: 0;
    overflow: hidden;
}

.accordion-content {
    display: block;
    padding: var(--accordion-padding-y) var(--accordion-padding-x);
  }

.accordion-button:not(.collapsed){
  box-shadow: none;
}

:host([first-of-type]){
  .accordion-item{
    border-radius: var(--accordion-border-radius) var(--accordion-border-radius) 0 0;
  }
}

:host([nth-of-type]){
  .accordion-item{
    border-radius: 0;
    border-top:0;
  }
}

:host([last-of-type]){
  .accordion-item{
    border-radius: 0 0 var(--accordion-border-radius) var(--accordion-border-radius);
    border-top:0;
  }
}

