:host {
  --sgds-close-btn-border-radius: var(--sgds-border-radius-sm);
  display: inline-flex;
}

sgds-icon {
  align-items: center;
  justify-content: center;
}

.btn-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: var(--sgds-dimension-32);
  height: var(--sgds-dimension-32);
  border-radius: var(--sgds-close-btn-border-radius);
  background-color: var(--sgds-default-bg-transparent);
}

.btn-close-light sgds-icon {
  color: var(--sgds-default-color-on-dark);
}

.btn-close-dark sgds-icon {
  color: var(--sgds-default-color-on-light);
}

.btn-close:hover {
  background-color: var(--sgds-default-bg-translucent);
}

.btn-close:focus,
.btn-close:focus-visible {
  outline: 0;
  box-shadow: var(--sgds-box-shadow-focus);
  background-color: var(--sgds-default-bg-translucent);
}

.btn-close-sm {
  width: var(--sgds-dimension-16);
  height: var(--sgds-dimension-16);
}

.btn-close.btn-close-sm sgds-icon {
  width: var(--sgds-icon-size-sm);
  height: var(--sgds-icon-size-sm);
}
