:host {
  --btn-font-weight: var(--sgds-font-weight-regular);
  --btn-color: var(--sgds-color-fixed-light);
  --btn-bg: var(--sgds-primary-surface-default);
  --btn-hover-bg: var(--sgds-primary-surface-emphasis);
  --btn-border-radius: var(--sgds-border-radius-md);
  --btn-opacity: var(--sgds-opacity-100, 1);
}
/* deprecated in v3.5.6 */
:host([variant="danger"]) {
  --btn-bg: var(--sgds-danger-surface-default);
  --btn-hover-bg: var(--sgds-danger-surface-emphasis);
  --btn-color: var(--sgds-color-fixed-light);
}

:host([variant="primary"][tone="brand"]) {
  --btn-bg: var(--sgds-primary-surface-default);
  --btn-color: var(--sgds-color-fixed-light);
}

:host([variant="outline"]) {
  --btn-border-width: var(--sgds-border-width-1);
}

:host([variant="outline"][tone="brand"]) {
  --btn-border-color: var(--sgds-primary-border-color-default);
  --btn-bg: var(--sgds-bg-transparent);
  --btn-color: var(--sgds-primary-color-default);
  --btn-hover-bg: var(--sgds-primary-bg-translucent);
}

:host([variant="ghost"][tone="brand"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--sgds-primary-surface-translucent);
  --btn-color: var(--sgds-primary-color-default);
}

:host([variant="primary"][tone="danger"]) {
  --btn-bg: var(--sgds-danger-surface-default);
  --btn-hover-bg: var(--sgds-danger-surface-emphasis);
  --btn-color: var(--sgds-color-fixed-light);
}
:host([variant="outline"][tone="danger"]) {
  --btn-border-color: var(--sgds-danger-border-color-default);
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--sgds-danger-surface-translucent);
  --btn-color: var(--sgds-danger-color-default);
}
:host([variant="ghost"][tone="danger"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--sgds-danger-surface-translucent);
  --btn-color: var(--sgds-danger-color-default);
}

:host([variant="primary"][tone="fixed-light"]) {
  --btn-bg: var(--sgds-surface-fixed-light);
  --btn-hover-bg: linear-gradient(
      0deg,
      var(--sgds-bg-translucent-fixed-dark, rgba(14, 14, 14, 0.2)) 0%,
      var(--sgds-bg-translucent-fixed-dark, rgba(14, 14, 14, 0.2)) 100%
    ),
    var(--sgds-surface-fixed-light, #fff);
  --btn-color: var(--sgds-color-fixed-dark);
}
:host([variant="outline"][tone="fixed-light"]) {
  --btn-border-color: var(--sgds-border-color-fixed-light);
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: linear-gradient(
      0deg,
      var(--sgds-bg-translucent-fixed-dark) 0%,
      var(--sgds-bg-translucent-fixed-dark) 100%
    ),
    var(--sgds-bg-transparent);
  --btn-color: var(--sgds-color-fixed-light);
}
:host([variant="ghost"][tone="fixed-light"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: linear-gradient(
      0deg,
      var(--sgds-bg-translucent-fixed-dark) 0%,
      var(--sgds-bg-translucent-fixed-dark) 100%
    ),
    var(--sgds-bg-transparent);
  --btn-color: var(--sgds-color-fixed-light);
}

:host([variant="primary"][tone="neutral"]) {
  --btn-bg: var(--sgds-surface-inverse);
  --btn-hover-bg: linear-gradient(0deg, var(--sgds-bg-translucent-inverse) 0%, var(--sgds-bg-translucent-inverse) 100%),
    var(--sgds-surface-inverse);
  --btn-color: var(--sgds-color-inverse);
}
:host([variant="outline"][tone="neutral"]) {
  --btn-border-color: var(--sgds-border-color-emphasis);
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: linear-gradient(0deg, var(--sgds-bg-translucent-inverse) 0%, var(--sgds-bg-translucent-inverse) 100%),
    var(--sgds-bg-translucent-subtle);
  --btn-color: var(--sgds-color-default);
}
:host([variant="ghost"][tone="neutral"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--sgds-bg-translucent-subtle);
  --btn-color: var(--sgds-color-default);
}

:host([variant="primary"]) .btn,
:host([variant="outline"]) .btn,
:host([variant="ghost"]) .btn {
  color: var(--btn-color);
}

:host([variant="outline"]) .btn {
  border: var(--btn-border-width) solid var(--btn-border-color);
}

:host([size="lg"]) .btn {
  font-size: var(--sgds-font-size-3);
  line-height: var(--sgds-line-height-32);
  padding: var(--sgds-padding-none) var(--sgds-padding-xl);
  min-width: var(--sgds-dimension-112);
  height: var(--sgds-dimension-56);
}

:host([size="sm"]) .btn {
  font-size: var(--sgds-font-size-1);
  line-height: var(--sgds-line-height-20);
  padding: var(--sgds-padding-none) var(--sgds-padding-md);
  min-width: var(--sgds-dimension-80);
  height: var(--sgds-dimension-40);
}
:host([size="xs"]) .btn {
  font-size: var(--sgds-font-size-1);
  line-height: var(--sgds-line-height-16);
  padding: var(--sgds-padding-none) var(--sgds-padding-sm);
  min-width: var(--sgds-dimension-64);
  height: var(--sgds-dimension-32);
}

.btn {
  background-color: var(--btn-bg);
  border: 1px solid var(--sgds-border-color-transparent);
  border-radius: var(--btn-border-radius);
  color: var(--sgds-color-fixed-light);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--sgds-gap-2-xs);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--btn-font-weight);
  line-height: var(--sgds-line-height-24);
  padding: var(--sgds-padding-none) var(--sgds-padding-lg);
  min-width: var(--sgds-dimension-96);
  width: inherit;
  height: var(--sgds-dimension-48);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  opacity: var(--btn-opacity);
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover,
.btn.active {
  background: var(--btn-hover-bg);
}

.btn:focus,
.btn:focus-visible {
  background: var(--btn-hover-bg);
  border-color: transparent;
  outline: var(--sgds-outline-focus);
  outline-offset: var(--sgds-outline-offset-focus);
}

.btn.disabled,
.btn:disabled {
  opacity: var(--sgds-opacity-40);
  cursor: not-allowed;
  color: var(--btn-color);
}
.btn.loading {
  cursor: default;
}

.btn slot::slotted(*) {
  color: var(--btn-color);
}
