:host {
  --btn-font-weight: var(--sgds-font-weight-regular);
  --btn-border-radius: var(--sgds-border-radius-md);
  --btn-border-color: var(--sgds-border-color-transparent);
  --btn-hover-border-color: var(--sgds-border-color-transparent);
}

:host,
:host([tone="primary"]) {
  --btn-main-color: var(--sgds-primary-surface-default);
  --btn-main-hover-bg-color: var(--sgds-primary-surface-emphasis);
  --btn-secondary-hover-color: var(--sgds-primary-surface-translucent);
  --btn-main-text-color: var(--sgds-color-fixed-light);
}

:host([tone="danger"]) {
  --btn-main-color: var(--sgds-danger-surface-default);
  --btn-main-hover-bg-color: var(--sgds-danger-surface-emphasis);
  --btn-secondary-hover-color: var(--sgds-danger-surface-translucent);
  --btn-main-text-color: var(--sgds-color-fixed-light);
}

:host([tone="fixed-light"]) {
  --btn-main-color: var(--sgds-fixed-light-surface-default);
  --btn-main-hover-bg-color: var(--sgds-fixed-light-translucent);
  --btn-secondary-hover-color: var(--sgds-fixed-light-translucent);
  --btn-main-text-color: var(--sgds-color-fixed-dark);
}

:host([tone="neutral"]) {
  --btn-main-color: var(--sgds-neutral-surface-default);
  --btn-main-hover-bg-color: var(--sgds-neutral-surface-emphasis);
  --btn-secondary-hover-color: var(--sgds-neutral-surface-translucent);
  --btn-main-text-color: var(--sgds-color-fixed-light);
}

:host([variant="primary"]) {
  --btn-bg: var(--btn-main-color);
  --btn-hover-bg: var(--btn-main-hover-bg-color);
  --btn-color: var(--btn-main-text-color);
  --btn-hover-color: var(--btn-main-text-color);
}

:host([variant="ghost"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--btn-secondary-hover-color);
  --btn-color: var(--btn-main-color);
  --btn-hover-color: var(--btn-main-color);
}

:host([variant="outline"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--btn-secondary-hover-color);
  --btn-color: var(--btn-main-color);
  --btn-border-width: var(--sgds-border-width-1);
  --btn-border-color: var(--btn-main-color);
  --btn-hover-border-color: var(--btn-main-color);
  --btn-hover-color: var(--btn-main-color);
}

:host([size="lg"]) .btn {
  font-size: var(--sgds-font-size-3);
  padding: 0px var(--sgds-padding-xl);
  min-width: var(--sgds-dimension-112);
  height: var(--sgds-dimension-56);
}

:host([size="sm"]) .btn {
  font-size: var(--sgds-font-size-1);
  padding: 0px var(--sgds-padding-md);
  min-width: var(--sgds-dimension-80);
  height: var(--sgds-dimension-40);
  line-height: var(--sgds-line-height-min);
}

.btn {
  background: var(--btn-bg);
  border: 1px solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  color: var(--btn-color);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--sgds-gap-2-xs);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--btn-font-weight);
  line-height: var(--sgds-line-height-body);
  padding: 0px var(--sgds-padding-lg);
  min-width: var(--sgds-dimension-96);
  width: inherit;
  height: var(--sgds-dimension-48);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  position: relative;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn.hovered,
.btn:hover,
.btn.active {
  background: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  color: var(--btn-hover-color);
}

.btn.focused,
.btn:focus,
.btn:focus-visible {
  background: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  outline: 0;
  box-shadow: 0px 0px 0px 2px var(--sgds-blue-500);
}

.btn:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus);
}

.btn.disabled,
.btn:disabled {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
  color: var(--btn-color);
}

.btn > * {
  z-index: 2;
}

.btn slot::slotted(*) {
  color: var(--btn-color);
}

.btn.has-linear-bg.hovered,
.btn.has-linear-bg:hover,
.btn.has-linear-bg.active,
.btn.has-linear-bg.focused,
.btn.has-linear-bg:focus,
.btn.has-linear-bg:focus-visible {
  background-color: var(--btn-bg);
}

/* 
  For fixed-light and neutral, there is a overlay of gray-1100 (5%) on a background color. 
  So we will use a before to handle the smooth transiation. if we use background image, it is not smooth transition
*/
.btn.has-linear-bg::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--sgds-border-radius-md);
  background-color: var(--btn-hover-bg);
  transition: opacity 0.15s ease-in-out;
}

.btn.has-linear-bg.hovered::before,
.btn.has-linear-bg:hover::before,
.btn.has-linear-bg.active::before,
.btn.has-linear-bg.focused::before,
.btn.has-linear-bg:focus::before,
.btn.has-linear-bg:focus-visible::before {
  opacity: 1;
}
