:host {
  --btn-font-weight: var(--sgds-font-weight-regular);
  --btn-bg: var(--sgds-primary-surface-default);
  --btn-hover-bg: var(--sgds-primary-surface-emphasis);
  --btn-border-radius: var(--sgds-border-radius-md);
}

:host([variant="primary"]) {
  --btn-bg: var(--sgds-primary-surface-default);
  --btn-color: var(--sgds-color-fixed-light);
}

:host([variant="outline"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--sgds-primary-surface-translucent);
  --btn-color: var(--sgds-primary-color-default);
  --btn-border-width: var(--sgds-border-width-1);
  --btn-border-color: var(--sgds-primary-border-color-default);
}

:host([variant="ghost"]) {
  --btn-bg: var(--sgds-bg-transparent);
  --btn-hover-bg: var(--sgds-primary-surface-translucent);
  --btn-color: var(--sgds-primary-color-default);
}

:host([variant="danger"]) {
  --btn-bg: var(--sgds-danger-surface-default);
  --btn-hover-bg: var(--sgds-danger-surface-emphasis);
  --btn-color: var(--sgds-color-fixed-light);
}

:host([variant="primary"]) .btn, 
:host([variant="outline"]) .btn, 
:host([variant="ghost"]) .btn {
  color: var(--btn-color);
}

:host([variant="outline"]) .btn {
  border: var(--btn-border-width) solid var(--btn-border-color);
}

:host([size="lg"]) .btn {
  font-size: var(--sgds-font-size-3);
  padding: 0px var(--sgds-padding-xl);
  min-width: var(--sgds-dimension-112);
  height: var(--sgds-dimension-56);
}

:host([size="sm"]) .btn {
  font-size: var(--sgds-font-size-1);
  padding: 0px var(--sgds-padding-md);
  min-width: var(--sgds-dimension-80);
  height: var(--sgds-dimension-40);
  line-height: var(--sgds-line-height-min);
}

.btn {
  background-color: var(--btn-bg);
  border: 1px solid var(--sgds-border-color-transparent);
  border-radius: var(--btn-border-radius);
  color: var(--sgds-color-fixed-light);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--sgds-gap-2-xs);
  font-size: var(--sgds-font-size-2);
  font-weight: var(--btn-font-weight);
  line-height: var(--sgds-line-height-body);
  padding: 0px var(--sgds-padding-lg);
  min-width: var(--sgds-dimension-96);
  width: inherit;
  height: var(--sgds-dimension-48);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover,
.btn.active {
  background-color: var(--btn-hover-bg);
}

.btn:focus,
.btn:focus-visible {
  background-color: var(--btn-hover-bg);
  border-color: transparent;
  outline: 0;
}

.btn:focus-visible {
  box-shadow: var(--sgds-box-shadow-focus);
}

.btn.disabled,
.btn:disabled {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
  color: var(--btn-color);
}

.btn slot::slotted(*) {
  color: var(--btn-color);
}