@import "../styles/text-variants.css";
@import "../styles/bg-variants.css";
@import "../styles/border-variants.css";

:host {
  /* NEW in 2.0 */
  --card-background: var(--sgds-body-bg);
  --card-height: ;
  --card-border-width: var(--sgds-border-width);
  --card-border-color: var(--sgds-border-color-translucent);
  --card-border-radius: var(--sgds-border-radius);
  --card-box-shadow: ;
  --card-inner-border-radius: calc(var(--sgds-border-radius) - var(--sgds-border-width));

  --card-body-color: ;
  --card-body-spacer-y: 1.5rem;
  --card-body-spacer-x: 1.5rem;

  --card-title-spacer-y: 0.5rem;
  --card-title-color: ;

  /* Currently applies to action card only */
  --card-subtitle-color: ;
}

h5,
h6 {
  color: var(--sgds-heading-color);
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.2;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: var(--card-background);
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  color: var(--sgds-body-color);
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  min-width: 0;
  position: relative;
  box-shadow: var(--card-box-shadow);
}

.card-body {
  color: var(--card-body-color);
  flex: 1 1 auto;
  padding: var(--card-body-spacer-y) var(--card-body-spacer-x);
}
.card-title {
  color: var(--card-title-color);
  margin-bottom: var(--card-title-spacer-y);
}
/* .card-subtitle {
  color: var(--card-subtitle-color);
  margin-top: calc(var(--card-title-spacer-y) * -0.5);
} */
.card-subtitle,
.card-text:last-child {
  margin-bottom: 0;
}
slot[name="card-link"]::slotted(*) {
  display: flex;
  gap: var(--card-body-spacer-x);
}

slot[name="card-image"]::slotted(img) {
  border-top-left-radius: var(--card-inner-border-radius);
  border-top-right-radius: var(--card-inner-border-radius);
}

slot[name="card-link"]::slotted(*) {
  font-weight: 700;
  /* color: var(--sgds-link) */
}
