.empty-menu {
  padding: var(--sgds-padding-sm) var(--sgds-padding-lg, 20px);
  pointer-events: none;
}

.loading-menu {
  padding: var(--sgds-padding-sm) var(--sgds-padding-lg, 20px);
  display: flex;
  gap: var(--sgds-gap-xs);
  align-items: center;
  pointer-events: none;
}
