:host {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--sgds-body-bg);
  color: var(--sgds-body-color);
  font-family: var(--sgds-body-font-family);
  font-size: var(--sgds-body-font-size);
  font-weight: var(--sgds-body-font-weight);
  line-height: var(--sgds-body-line-height);
  margin: 0;
  text-align: var(--sgds-body-text-align);
 /* Globally style slotted anchor tags */
}
:host *, :host :after, :host :before {
  box-sizing: border-box;
}
:host *:disabled {
  cursor: not-allowed;
}
@media (prefers-reduced-motion: no-preference) {
  :host :root {
    scroll-behavior: smooth;
 }
}
:host ::slotted(a[target="_blank"])::after {
  background-color: currentColor;
  display: inline-block;
  content: "/";
  mask-size: 73%;
  -webkit-mask-size: 73%;
  padding: 0 0.45em;
  margin: 0 0.125rem;
  -webkit-mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16" ><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" /><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" /></svg >');
  mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16" ><path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" /><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" /></svg >');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
:host ::slotted(a) {
  color: var(--sgds-link);
  text-decoration: var(--sgds-link-decoration);
}
:host ::slotted(a:hover) {
  color: var(--sgds-link-hover-color);
}
:host ::slotted(svg) {
  vertical-align: middle;
}
