.nav-link::slotted(a) {
  --sgds-link-color-default: var(--sgds-primary-color-default);
  display: inline-flex;
  height: var(--sgds-dimension-24);
  justify-content: center;
  align-items: center;
  gap: var(--sgds-gap-2-xs);
  flex-shrink: 0;
  /* If clash of styles happens from other light dom css on anchor tag, will need to add !important here */
  color: var(--sgds-link-color-default, --sgds-primary-color-default); 
  cursor: pointer;
  text-decoration: none !important;
}

.nav-link::slotted(a:hover),
.nav-link::slotted(a[active]),
.nav-link::slotted(a:focus),
.nav-link::slotted(a:focus-visible) {
  --sgds-link-color-emphasis: var(--sgds-primary-color-emphasis);
  color: var( --sgds-link-color-emphasis, --sgds-primary-color-emphasis);
}

.nav-link::slotted(a:focus),
.nav-link::slotted(a:focus-visible) {
  outline: 0;
  box-shadow: var(--sgds-box-shadow-focus);
}

.nav-link::slotted(a[disabled]) {
  opacity: var(--sgds-opacity-50);
  cursor: not-allowed;
}

:host([variant="danger"]) .nav-link::slotted(a) {
  --sgds-link-color-default: var(--sgds-danger-color-default);
  color: var(--sgds-link-color-default, --sgds-danger-color-default);
}

:host([variant="danger"]) .nav-link::slotted(a:hover),
:host([variant="danger"]) .nav-link::slotted(a:focus),
:host([variant="danger"]) .nav-link::slotted(a:focus-visible) {
  --sgds-link-color-emphasis: var(--sgds-danger-color-emphasis);
  color: var(--sgds-link-color-emphasis, --sgds-danger-color-emphasis);
}

:host([variant="light"]) .nav-link::slotted(a) {
  --sgds-link-color-default: var(--sgds-color-fixed-light);
  color: var(--sgds-link-color-default, --sgds-color-fixed-light);
}

:host([variant="light"]) .nav-link::slotted(a:hover),
:host([variant="light"]) .nav-link::slotted(a:focus),
:host([variant="light"]) .nav-link::slotted(a:focus-visible) {
  --sgds-link-color-emphasis: var(--sgds-color-fixed-light);
  color: var(--sgds-link-color-emphasis, --sgds-color-fixed-light);
}

:host([variant="dark"]) .nav-link::slotted(a) {
  --sgds-link-color-default: var(--sgds-color-fixed-dark);
  color: var(--sgds-link-color-default, --sgds-color-fixed-dark);
}

:host([variant="dark"]) .nav-link::slotted(a:hover),
:host([variant="dark"]) .nav-link::slotted(a:focus),
:host([variant="dark"]) .nav-link::slotted(a:focus-visible) {
  --sgds-link-color-emphasis: var(--sgds-color-fixed-dark);
  color: var(--sgds-link-color-emphasis, --sgds-color-fixed-dark);
}

:host([size="lg"]) .nav-link::slotted(a) {
  height: var(--sgds-dimension-32);
  font-size: var(--sgds-font-size-3) !important;
}

:host([size="sm"]) .nav-link::slotted(a) {
  height: var(--sgds-dimension-20);
  font-size: var(--sgds-font-size-1) !important;
}

/* Check with Andy if target blank need to auto add an icon */