name: Publish Pre-releases
permissions:
  contents: read
  
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+-alpha.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'

jobs:
  publish:    
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [22.18.0]
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Set Tag env
        run: echo "NPM_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm install
      - run: pnpm exec playwright install 
      - run: pnpm run test
      - run: pnpm run build
      - run: pnpm publish --no-git-checks --tag alpha ./lib --access public 
        if: contains(env.NPM_TAG, 'alpha')
      - run: pnpm publish --no-git-checks --tag beta ./lib --access public
        if: contains(env.NPM_TAG, 'beta')
      - run: pnpm publish --no-git-checks --tag rc ./lib --access public
        if: contains(env.NPM_TAG, 'rc')
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}