:host {
  display: block;
  width: inherit;
}

:host([variant="warning"]) .banner-item {
  color: var(--sgds-color-fixed-dark);
}

.banner-item {
  display: flex;
  gap: var(--sgds-gap-sm);
  color: var(--sgds-color-fixed-light);
  padding: var(--sgds-padding-2-xs) 0;
}

.message {
  font-size: var(--sgds-font-size-1, 14px);
  font-style: normal;
  font-weight: var(--sgds-font-weight-regular, 400);
  line-height: var(--sgds-line-height-20, 20px); /* 142.857% */
  letter-spacing: var(--sgds-letter-spacing-normal, 0);
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* max-height: 40px;

  padding-right: 50px;
  position: relative; */
}
.message.truncated {
  padding-right: 70.57px;
  }
/* .show-more {
  position: absolute;
  right: 0;
bottom: 0;
display: inline; 
white-space: nowrap;
}
.show-more__link {
  text-decoration: underline;
    cursor: pointer;


} */

.clamped-container {
  position: relative;
  display: inline-block;
  max-width: var(--sgds-dimension-872);

}

.inline-link {
  position: absolute;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  /* background: linear-gradient(to right, transparent, white 60%); */
  font-size: var(--sgds-font-size-1, 14px);
  font-style: normal;
  font-weight: var(--sgds-font-weight-regular, 400);
  line-height: var(--sgds-line-height-20, 20px); /* 142.857% */
  letter-spacing: var(--sgds-letter-spacing-normal, 0);
  text-decoration: underline;  
}
.action {
  font-size: var(--sgds-font-size-1, 14px);
  font-style: normal;
  font-weight: var(--sgds-font-weight-regular, 400);
  line-height: var(--sgds-line-height-20, 20px); /* 142.857% */
  letter-spacing: var(--sgds-letter-spacing-normal, 0);
  display: flex;
  gap: var(--sgds-gap-2-xs, 4px);
  align-items: center;
  margin-top: 6px;
}

slot[name="action"]::slotted(a) {
  --action-color: var(--sgds-color-fixed-light);
  text-decoration: none !important;
  color: var(--action-color) !important;
  font-size: var(--sgds-font-size-1, 14px) !important;
  font-style: normal;
  font-weight: var(--sgds-font-weight-regular, 400);
  line-height: var(--sgds-line-height-20, 20px); /* 142.857% */
  letter-spacing: var(--sgds-letter-spacing-normal, 0);
}

:host([variant="warning"]) slot[name="action"]::slotted(a) {
  --action-color: var(--sgds-color-fixed-dark);
}

.banner-item__message_and__action {
  display: flex;
  flex-direction: column;
  gap: var(--sgds-gap-xs);
}
@media (min-width: 512px) {
  .banner-item__message_and__action {
    flex-direction: row;
    gap: calc(var(--sgds-gap-sm) + var(--sgds-padding-2-xl));
  }
  .action {
    margin-top: 0;
  }
}
