:host {
  --sgds-masthead-max-width: 1440px;
  --sgds-masthead-padding-x: 2rem;
}

b {
  font-weight: bolder;
}

[role="button"] {
  cursor: pointer;
}

a {
  color: #0049dc;
  
}

a:hover {
  color: #0022b9;
}

.sgds-masthead {
  color: light-dark(#252525, #eaeaea);
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-family: "Inter", system-ui, sans-serif;
}

.banner {
  background-color: light-dark(#eaeaea, #252525);
}

.container {
  width: 100%;
  max-width: var(--sgds-masthead-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem var(--sgds-masthead-padding-x);
}

.sg-crest {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.sg-crest path {
  fill: #db0000;
}

.masthead-layout {
  display: flex;
  gap: 0.25rem;
}

.masthead-text-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
  row-gap: 0;
}

.sgds-masthead-identify-icon {
  width: 20px;
  height: 20px;
  display: block;
  transform: rotate(180deg);
  user-select: none;
  transition: transform 0.3s ease-in-out 0s;
  align-self: center;
}

.sgds-masthead-identify-icon.show {
  transform: rotate(0deg);
}

.sgds-masthead-button {
  display: flex;
  gap: 4px;
  color: light-dark(#0049dc, #7fb5ff);
  align-items: center;
  cursor: pointer;
}

.sgds-masthead-button:hover {
  color: light-dark(#0022b9, #5592ff);
}

.panel {
  background-color: light-dark(rgba(14, 14, 14, 0.05), rgba(255, 255, 255, 0.10));
}

.sgds-masthead .sgds-masthead-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}

.sgds-masthead .sgds-masthead-content.show {
  display: block;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.icon {
  margin-top: -0.1em;
}

.wrapper {
  display: flex;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.content .title {
  font-weight: 600;
}

.content article {
  color: light-dark(#595959, #b2b2b2);
}

.banner-icon, .banner-icon-inline {
  width: 20px;
  height: 20px;
}

.banner-icon path,
.banner-icon-inline path {
  fill: light-dark(#0e0e0e, #ffffff);
}

a.trusted-websites-link {
  color: light-dark(#0049dc, #7fb5ff);
  width: fit-content;
  text-decoration: underline;
}

a.trusted-websites-link:hover {
  color: light-dark(#0022b9, #5592ff);
}

@media screen and (max-width: 768px) {
  .container {
    --sgds-masthead-padding-x: 1rem;
  }

  .sgds-masthead-content .content-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
