b {
  font-weight: bolder;
}

[role="button"] {
  cursor: pointer;
}

a {
  color: #0049dc;
  text-decoration: none !important;
}

a[target="_blank"]::after {
  padding: 0 !important;
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.51585 2.93311L6.53335 2.93311C6.75426 2.93311 6.93335 3.11219 6.93335 3.33311C6.93335 3.55402 6.75426 3.73311 6.53335 3.73311C5.9667 3.73311 5.56576 3.73342 5.25233 3.75903C4.94356 3.78425 4.75509 3.83202 4.60696 3.9075C4.30591 4.06089 4.06114 4.30566 3.90774 4.60672C3.83227 4.75485 3.7845 4.94331 3.75927 5.25208C3.73366 5.56552 3.73335 5.96645 3.73335 6.53311V9.46644C3.73335 10.0331 3.73366 10.434 3.75927 10.7475C3.7845 11.0562 3.83227 11.2447 3.90774 11.3928C4.06114 11.6939 4.30591 11.9387 4.60697 12.092C4.75509 12.1675 4.94356 12.2153 5.25233 12.2405C5.56576 12.2661 5.9667 12.2664 6.53335 12.2664H9.46668C10.0333 12.2664 10.4343 12.2661 10.7477 12.2405C11.0565 12.2153 11.2449 12.1675 11.3931 12.092C11.6941 11.9387 11.9389 11.6939 12.0923 11.3928C12.1678 11.2447 12.2155 11.0562 12.2408 10.7475C12.2664 10.434 12.2667 10.0331 12.2667 9.46644C12.2667 9.24552 12.4458 9.06644 12.6667 9.06644C12.8876 9.06644 13.0667 9.24552 13.0667 9.46644V9.48393C13.0667 10.0292 13.0667 10.4628 13.0381 10.8126C13.0088 11.1708 12.9476 11.4763 12.8051 11.756C12.575 12.2076 12.2078 12.5748 11.7563 12.8049C11.4766 12.9474 11.1711 13.0086 10.8129 13.0379C10.463 13.0664 10.0294 13.0664 9.48418 13.0664H6.51586C5.97063 13.0664 5.53702 13.0664 5.18718 13.0379C4.82894 13.0086 4.52347 12.9474 4.24377 12.8049C3.79218 12.5748 3.42503 12.2076 3.19493 11.756C3.05242 11.4763 2.9912 11.1708 2.96193 10.8126C2.93334 10.4628 2.93335 10.0292 2.93335 9.48394V6.5156C2.93335 5.97038 2.93334 5.53677 2.96193 5.18694C2.9912 4.8287 3.05242 4.52323 3.19493 4.24353C3.42503 3.79194 3.79218 3.42479 4.24377 3.19469C4.52347 3.05218 4.82894 2.99095 5.18718 2.96168C5.53702 2.9331 5.97063 2.9331 6.51585 2.93311ZM8.26667 3.33311C8.26667 3.1122 8.44576 2.93311 8.66667 2.93311H12.6667C12.8876 2.93311 13.0667 3.1122 13.0667 3.33311L13.0667 7.33311C13.0667 7.55403 12.8876 7.73311 12.6667 7.73311C12.4458 7.73311 12.2667 7.55403 12.2667 7.33311L12.2667 4.2988L8.28286 8.28261C8.12665 8.43882 7.87338 8.43882 7.71717 8.28262C7.56096 8.12641 7.56096 7.87314 7.71717 7.71693L11.701 3.73311H8.66667C8.44576 3.73311 8.26667 3.55403 8.26667 3.33311Z" fill="%230269D0"/></svg>') !important;
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.51585 2.93311L6.53335 2.93311C6.75426 2.93311 6.93335 3.11219 6.93335 3.33311C6.93335 3.55402 6.75426 3.73311 6.53335 3.73311C5.9667 3.73311 5.56576 3.73342 5.25233 3.75903C4.94356 3.78425 4.75509 3.83202 4.60696 3.9075C4.30591 4.06089 4.06114 4.30566 3.90774 4.60672C3.83227 4.75485 3.7845 4.94331 3.75927 5.25208C3.73366 5.56552 3.73335 5.96645 3.73335 6.53311V9.46644C3.73335 10.0331 3.73366 10.434 3.75927 10.7475C3.7845 11.0562 3.83227 11.2447 3.90774 11.3928C4.06114 11.6939 4.30591 11.9387 4.60697 12.092C4.75509 12.1675 4.94356 12.2153 5.25233 12.2405C5.56576 12.2661 5.9667 12.2664 6.53335 12.2664H9.46668C10.0333 12.2664 10.4343 12.2661 10.7477 12.2405C11.0565 12.2153 11.2449 12.1675 11.3931 12.092C11.6941 11.9387 11.9389 11.6939 12.0923 11.3928C12.1678 11.2447 12.2155 11.0562 12.2408 10.7475C12.2664 10.434 12.2667 10.0331 12.2667 9.46644C12.2667 9.24552 12.4458 9.06644 12.6667 9.06644C12.8876 9.06644 13.0667 9.24552 13.0667 9.46644V9.48393C13.0667 10.0292 13.0667 10.4628 13.0381 10.8126C13.0088 11.1708 12.9476 11.4763 12.8051 11.756C12.575 12.2076 12.2078 12.5748 11.7563 12.8049C11.4766 12.9474 11.1711 13.0086 10.8129 13.0379C10.463 13.0664 10.0294 13.0664 9.48418 13.0664H6.51586C5.97063 13.0664 5.53702 13.0664 5.18718 13.0379C4.82894 13.0086 4.52347 12.9474 4.24377 12.8049C3.79218 12.5748 3.42503 12.2076 3.19493 11.756C3.05242 11.4763 2.9912 11.1708 2.96193 10.8126C2.93334 10.4628 2.93335 10.0292 2.93335 9.48394V6.5156C2.93335 5.97038 2.93334 5.53677 2.96193 5.18694C2.9912 4.8287 3.05242 4.52323 3.19493 4.24353C3.42503 3.79194 3.79218 3.42479 4.24377 3.19469C4.52347 3.05218 4.82894 2.99095 5.18718 2.96168C5.53702 2.9331 5.97063 2.9331 6.51585 2.93311ZM8.26667 3.33311C8.26667 3.1122 8.44576 2.93311 8.66667 2.93311H12.6667C12.8876 2.93311 13.0667 3.1122 13.0667 3.33311L13.0667 7.33311C13.0667 7.55403 12.8876 7.73311 12.6667 7.73311C12.4458 7.73311 12.2667 7.55403 12.2667 7.33311L12.2667 4.2988L8.28286 8.28261C8.12665 8.43882 7.87338 8.43882 7.71717 8.28262C7.56096 8.12641 7.56096 7.87314 7.71717 7.71693L11.701 3.73311H8.66667C8.44576 3.73311 8.26667 3.55403 8.26667 3.33311Z" fill="%230269D0"/></svg>') !important;
}

a:hover {
  color: #0022b9;
}

.sgds-masthead {
  line-height: 1rem;
  font-size: 0.75rem;
  font-family: "Inter", system-ui, sans-serif;
}

.banner {
  background-color: light-dark(#f3f3f3, #1a1a1a);
}

.container {
  width: 100%;
  max-width: var(--sgds-mainnav-max-width, 1440px);
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem var(--sgds-mainnav-padding-x, 2rem);
}

.sg-crest {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.sg-crest path {
  fill: #db0000;
}

.masthead-layout {
  display: flex;
  gap: 0.25rem;
}

.masthead-text-layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 0.25rem;
}

.sgds-masthead-identify-icon {
  width: 20px;
  height: 20px;
  display: block;
  transform: rotate(180deg);
  user-select: none;
  transition: transform 0.3s ease-in-out 0s;
  align-self: center;
}

.sgds-masthead-identify-icon.show {
  transform: rotate(0deg);
}

.sgds-masthead-button {
  display: flex;
  gap: 4px;
  color: light-dark(#0269d0, #60aaf4);
  align-items: center;
  cursor: pointer;
}

.sgds-masthead-button:hover {
  color: light-dark(#0151a0, #96c7f7);
}

.panel {
  background-color: light-dark(oklch(from #0e0e0e l c h / 0.1), oklch(from #ffffff l c h / 0.1));
}

.sgds-masthead .sgds-masthead-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
}

.sgds-masthead .sgds-masthead-content.show {
  display: block;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.icon {
  margin-top: -0.1em;
}

.wrapper {
  display: flex;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.content .title {
  font-weight: 600;
}

.content article {
  color: light-dark(#525252, #a5a5a5);
}

.banner-icon, .banner-icon-inline {
  width: 16px;
  height: 16px;
}

.banner-icon path,
.banner-icon-inline path {
  fill: light-dark(#1a1a1a, #f3f3f3);
}

a.trusted-websites-link {
  color: light-dark(#0269d0, #60aaf4);
  width: fit-content;
  text-decoration: underline;
}

a.trusted-websites-link:hover {
  color: light-dark(#0151a0, #96c7f7);
}

a.trusted-websites-link:focus,
a.trusted-websites-link:focus-visible,
.sgds-masthead-button:focus,
.sgds-masthead-button:focus-visible {
  outline: 0;
}

a.trusted-websites-link:focus-visible,
.sgds-masthead-button:focus-visible {
  outline: 0;
	box-shadow: 0px 0px 0px 4px #60aaf4;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.25rem var(--sgds-mainnav-mobile-padding-x, 1.25rem);
  }

  .sgds-masthead-content .content-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
